<section class="padd-section">
   <div class="main_head">
      <h3>Support Issues</h3>
   </div>
   <!-- raise_an_issue -->
   <div class="raise_an_issue_wrapper">
      <div class="raise_an_button">
         <a class="btn_round" data-toggle="modal" data-target=".raise-issue" (click)="modal.show()"><i class="fas fa-plus"></i></a>
      </div>
      <div class="raise_an_content">
         <h4>Raise an Issues</h4>
         <p>Facing problem with candidate, jobs and the dashboard we will be happy to assist you.</p>
      </div>
   </div>
   <!-- raise_an_issue_end -->
   <div class="support_query_box">
      <div class="gapping_in_bw">
         <div class="heading">
            <h5>Issues</h5>
         </div>
         <!-- list -->
         <div class="questing_listing">
            <p>Candidate did not trun up for intrerview.</p>
            <a href="javascipt:void(0);">Submit Query</a>
         </div>
         <!-- list end -->
         <!-- list -->
         <div class="questing_listing">
            <p>Candidate accepted job offer but did not join.</p>
            <a href="javascipt:void(0);">Submit Query</a>
         </div>
         <!-- list end -->
         <!-- list -->
         <div class="questing_listing">
            <p>Candidate joined but left before the contract period.</p>
            <a href="javascipt:void(0);">Submit Query</a>
         </div>
         <!-- list end -->
         <!-- list -->
         <div class="questing_listing">
            <p>I am unhappy with the performance.</p>
            <a href="javascipt:void(0);">Submit Query</a>
         </div>
         <!-- list end -->
      </div>
   </div>
   <!-- Previus Issues -->
   <div class="support_query_box" id="previous_issues">
      <div class="gapping_in_bw">
         <div class="heading">
            <h5>Previus Issues</h5>
         </div>
         <!-- list -->
         <div class="questing_listing">
            <p>Candidate did not trun up for intrerview.</p>
            <a href="javascipt:void(0);"><i class="fas fa-chevron-down"></i></a>
            <div></div>
            <div class="issue-stats m-t-40">
               <ul class="timeline">
                  <li>
                     issue createdcvbcbcvbcv
                     <span>15 june 2018, 06:50 PM</span>
                  </li>
                  <li>
                     Reviewed
                     <span>16 june 2018, 11:00 AM</span>
                  </li>
                  <li>
                     Resolved
                     <span>17 june 2018, 10:00 AM</span>
                  </li>
                  <li>
                     Closed
                     <span>17 june 2018, 08:50 PM</span>
                  </li>
               </ul>
            </div>
         </div>
         <!-- list end -->
         <!-- list -->
         <div class="questing_listing">
            <p>Candidate accepted job offer but did not join.</p>
            <a href="javascipt:void(0);"><i class="fas fa-chevron-down"></i></a>
         </div>
         <!-- list end -->
         <!-- list -->
         <div class="questing_listing">
            <p>Candidate joined but left before the contract period.</p>
            <a href="javascipt:void(0);"><i class="fas fa-chevron-down"></i></a>
         </div>
         <!-- list end -->
         <!-- list -->
         <div class="questing_listing">
            <p>I am unhappy with the performance.</p>
            <a href="javascipt:void(0);"><i class="fas fa-chevron-down"></i></a>
         </div>
         <!-- list end -->
      </div>
   </div>
</section>
<!--roter-->
<!--POPUP-->
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1"
   role="dialog" aria-labelledby="dialog-sizes-name1">
   <div class="modal-dialog">
      <div class="modal-content modal-pad">
         <div class="modal-body">
            <div class="raise-an-issue-head">
               <p>Raise an issue</p>
               <span>Facing problem with candidate, jobs and the dashboard we will be happy to assist you.</span>
            </div>
            <div class="raise-an-issue-msg m-t-20">
               <form>
                  <div class="form-group">
                     <label class="control-label">Title</label>
                     <input name="" type="text" placeholder="" class="form-control-cust">
                  </div>
                  <!--job-description-textbox-->
                  <div class="description-text-box">
                     <div class="form_field">
                        <label>Description</label>
                        <textarea></textarea>
                     </div>
                  </div>
               </form>
            </div>
            <div class="clear-both"></div>
            <div class="m-t-20">
               <span class="text-left add-screenshot"><a><img src="https://png.icons8.com/small/100/666666/plus-math.png" width="10px" height="auto"></a>Share relevant screenshot</span>
               <a class="btn btn-purple pull-right">Plan Now</a>
               <div class="clear-both"></div>
            </div>
         </div>
      </div>
   </div>
</div>