
<section>
    <div class="col-md-3">
        
        <div class="top-tabber-grp-btn">
            <ul class="nav nav-pills nav-justified">
     <li class="active"><a data-toggle="pill" href="#home" class="new-user-show"  [ngClass]="{'showCls':showPop}">New Users</a></li>
     <li><a data-toggle="pill" href="#menu1" class="follow-up-show" (click)="showPop = false">Follow Up</a></li>
            </ul>
        </div>
        
       <div class="filter-job-proposal m-t-40">
          <h4><i _ngcontent-c3="" class="fas fa-plus"></i> Filter</h4>
          <form>
             <div class="field-job-proposal">
                <ul>
                   <li>
                      <div class="form-group">
                         <label>User Name</label>
                         <input type="text" name="" class="form-control-cust" placeholder="Type the user name">
                      </div>
                   </li>
                   <li>
                      <div class="form-group">
                         <label>Comapany</label>
                         <input type="text" name="" class="form-control-cust" placeholder="Type the company name">
                      </div>
                   </li>
                </ul>
                <p class="text-center">
                   <a class="btn btn-success" routerLink="">Apply Filters</a>
                </p>
             </div>
          </form>
       </div>
    </div>
     
     <div class="col-md-9">
         
         <!--selected-bar-->
         
         <div class="row" id="select-opt-wrapper">
             <div class="col-md-12">
             <div class="select-opt-wrapper">
                 <ul class="list-inline f-left">
                 <li><a>2 selected</a></li>
                 <li><a>Selected All</a></li>
                 </ul>
                 
                 
                 <ul class="list-inline f-right">
                     <li><a class="btn btn-warning">Archieved Accounts</a></li>
                      <li><a class="btn btn-success">Active Accounts</a></li>
                   </ul>
                 </div>
             </div>
         </div>
         
         <!--tabber-menu-->
         <div class="row" id="follow-up" ng-show="showme">
         <div class="col-md-9">
         <div class="lead-tabber-wrapper">
         <ul class="nav nav-pills nav-justified">
     <li class="active"><a data-toggle="pill" href="#home">All <span>(200)</span></a></li>
     <li><a data-toggle="pill" href="#menu1">Pending Response <span>(100)</span></a></li>
     <li><a data-toggle="pill" href="#menu1">Intrested Leads <span>(50)</span></a></li>
     <li><a data-toggle="pill" href="#menu1">Control Sined <span>(30)</span></a></li>
     <li><a data-toggle="pill" href="#menu1">Payment Made <span>(20)</span></a></li>
            </ul>
         </div>
             </div>
         <div class="col-md-3">
         <button type="button" class="btn btn-warning btn-block">Archieved</button>
         </div>
         </div>
         
         
           <div class="view-job-table-head">
         <ul class="list-inline">
             <li>Name</li>
             <li>Company</li>
             <li>Contact</li>
             <li>Assigned To</li>
             <li>Signed up on <i class="fas fa-sort"></i></li>
         </ul>
     </div>
           
 <div class="view-job-list-content">
     <!--view-job-list-->
     <div class="view-job-table-list">
         <ul class="list-inline">
             <li>
                            <div class="form_field">
                               <label class="check label-cust" routerLink="/viewResume">Rohit Bharti
                               <input type="checkbox" checked="checked" name="is_name">
                               <span class="checkmark"></span>
                               </label>
                            </div>
                         </li>
                          
                         <li><span class="name">UX Gorilla</span></li>
                         <li><span>+91-8888888888</span><br>
                            <span class="e-mail">aman.gautam@uxgorilla.com</span>
                         </li>
                         <li>Ravi
                            <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                         <li><span class="date">26/05/2018</span></li>
                         <li><span class="send-mail"><a routerLink="/main/profilereport" class="theme_color">Send Email</a></span></li>
         </ul>
     </div>
     
     
     <!--view-job-list-->
     <div class="view-job-table-list">
         <ul class="list-inline">
             <li>
                            <div class="form_field">
                               <label class="check label-cust" routerLink="/viewResume">Rohit Bharti
                               <input type="checkbox" checked="checked" name="is_name">
                               <span class="checkmark"></span>
                               </label>
                            </div>
                         </li>
                          
                         <li><span class="name">UX Gorilla</span></li>
                         <li><span>+91-8888888888</span><br>
                            <span class="e-mail">aman.gautam@uxgorilla.com</span>
                         </li>
                         <li>Ravi
                            <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                         <li><span class="date">26/05/2018</span></li>
                         <li><span class="send-mail"><a routerLink="/main/profilereport" class="theme_color">Send Email</a></span></li>
         </ul>
     </div>
     
     
     <!--view-job-list-->
     <div class="view-job-table-list">
         <ul class="list-inline">
             <li>
                            <div class="form_field">
                               <label class="check label-cust" routerLink="/viewResume">Rohit Bharti
                               <input type="checkbox" checked="checked" name="is_name">
                               <span class="checkmark"></span>
                               </label>
                            </div>
                         </li>
                          
                         <li><span class="name">UX Gorilla</span></li>
                         <li><span>+91-8888888888</span><br>
                            <span class="e-mail">aman.gautam@uxgorilla.com</span>
                         </li>
                         <li>Ravi
                            <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                         <li><span class="date">26/05/2018</span></li>
                         <li><span class="send-mail"><a routerLink="/main/profilereport" class="theme_color">Send Email</a></span></li>
         </ul>
     </div>
     
     
     <!--view-job-list-->
     <div class="view-job-table-list">
         <ul class="list-inline">
             <li>
                            <div class="form_field">
                               <label class="check label-cust" routerLink="/viewResume">Rohit Bharti
                               <input type="checkbox" checked="checked" name="is_name">
                               <span class="checkmark"></span>
                               </label>
                            </div>
                         </li>
                          
                         <li><span class="name">UX Gorilla</span></li>
                         <li><span>+91-8888888888</span><br>
                            <span class="e-mail">aman.gautam@uxgorilla.com</span>
                         </li>
                         <li>Ravi
                            <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                         <li><span class="date">26/05/2018</span></li>
                         <li><span class="send-mail"><a routerLink="/main/profilereport" class="theme_color">Send Email</a></span></li>
         </ul>
     </div>
     
     
     <!--view-job-list-->
     <div class="view-job-table-list">
         <ul class="list-inline">
             <li>
                            <div class="form_field">
                               <label class="check label-cust" routerLink="/viewResume">Rohit Bharti
                               <input type="checkbox" checked="checked" name="is_name">
                               <span class="checkmark"></span>
                               </label>
                            </div>
                         </li>
                          
                         <li><span class="name">UX Gorilla</span></li>
                         <li><span>+91-8888888888</span><br>
                            <span class="e-mail">aman.gautam@uxgorilla.com</span>
                         </li>
                         <li>Ravi
                            <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                         <li><span class="date">26/05/2018</span></li>
                         <li><span class="send-mail"><a routerLink="/main/profilereport" class="theme_color">Send Email</a></span></li>
         </ul>
     </div>
 </div>
         
         <!--footer-pagination-->
         <div class="footer-pagination m-t-20">
    <span>Showing 1 to 5 of 15 entries</span>
    <ul class="pagination pull-right">
       <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
       <li><a href="#" class="active">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
    </ul>
 </div>
     </div>
     
 </section>