.nofeeds{
    padding:25px;
    background: #fff;
    box-shadow: 0px 0px 0px 5px rgba( 255,255,255,0.4 ), 0px 4px 20px rgba( 0,0,0,0.33 );
    border-radius: 5px;
    display: table;
    position: static;
    text-align: center;
    width: 100%;
}
.nofeeds p{
    font-weight: 600;
    text-align: center;
    color: #8E909F;
}