<div class="col-md-8 col-sm-8 col-xs-12">
   <!--welcome-slogan-->
   <div class="welcome-slogan pad-global">
      <h5>Welcome, {{name}}</h5>
      <p>Please look we have summarised the proposal, jobs, Interview for you.</p>
       
   </div>
   <!--welcome-slogan-end-->
   <!--graph-view-->
  <!--  <div class="row m-t-20">
      <div class="col-md-12">
         <div class="col-md-8">
            <div class="graph-view">
               <img src="../../assets/img/graph.png" class="img-responsive">
            </div>
         </div>
         <div class="col-md-4">
            <div class="interview-card">
               <p><span class="value">5</span>
                  <span class="text">Interview<br>Today</span>
               </p>
            </div>
         </div>
      </div>
   </div> -->
   <!--dashboard-card-->
   <div class="dashboard-card-recruiter m-t-40">
      <ul>
         <li>
            <span class="value">{{dashboardCount.TotalcanidateUpload}}</span>
            <span class="text">Total Candidates<br>Posted</span>
         </li>
         <li>
            <span class="value">{{eyCount}}</span>
            <span class="text">People Infinia<br>Qualified</span>
         </li>
         <li>
            <span class="value">{{Totalshortlist}}</span>
            <span class="text">Candidates<br>Shortlisted</span>
         </li>
         <li>
            <span class="value">{{TotalPlaced}}</span>
            <span class="text">Candidates<br>Placed</span>
         </li>
      </ul>
   </div>
   <!--dashboard-card-end-->
   <!--feeds-->
   <div class="dashboard-feeds m-t-40">
      <!--feeds title-->
      <div class="feeds-title">
         <p class="text-left">New Jobs
           <!--  <span class="f-right">Since you left <i class="fa fa-angle-down" aria-hidden="true"></i></span> -->
         </p>
      </div>
   </div>
   <!--feeds-post-->
   <div class="feed-event-post recruicter-feed-post">
      <div class="feed-post">
         <ul>
            <li *ngFor="let feed of dashboardJobs"  class="list-item" routerLink="/recruiterHeader/ViewProposal/{{feed._id}}">
               <div class="list-feed-icon color-voilet">
                  <i class="far fa-file-alt"></i>
               </div>
               <div class="list-item-main-info">
                  <div class="list-item-title">
                     <p class="designation-post">{{feed.job_title}}<span class="rec-company">{{feed.industry}}</span></p>
                  </div>
                  <div class="list-item-posted">
                     <ul  class="list-inline" >
                        <li>
                           <p>Location: <strong>{{feed.Location}}</strong></p>
                        </li>
                        <li>
                           <p>CTC: <strong>{{feed.ctc_max}}</strong></p>
                        </li>
                        <li>
                           <p>Fee: <strong>{{feed.commission}}% of ctc</strong></p>
                        </li>
                        <li>
                           <p>Deadline: <strong>{{feed.deadline}}</strong></p>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="list-item-view">
                  <div class="bookmark-wrapper">
                     <a class="bookmark" (click)="saveBookMark(dashboardJobs._id)"><i class="fas fa-bookmark"></i></a>
                     <a class="ellipsis"><i class="fas fa-ellipsis-h"></i></a>
                  </div>
               </div>
            </li>
           <!--  <li class="list-item" routerLink="/recruiterHeader/ViewProposal">
               <div class="list-feed-icon color-voilet">
                  <i class="far fa-file-alt"></i>
               </div>
               <div class="list-item-main-info">
                  <div class="list-item-title">
                     <p class="designation-post">hr manager <span class="rec-company">ux gorilla</span></p>
                  </div>
                  <div class="list-item-posted">
                     <ul class="list-inline">
                        <li>
                           <p>Location: <strong>Delhi</strong></p>
                        </li>
                        <li>
                           <p>CTC: <strong>12 lacs p.a.</strong></p>
                        </li>
                        <li>
                           <p>Fee: <strong>8% of ctc</strong></p>
                        </li>
                        <li>
                           <p>Deadline: <strong>26/06/2018</strong></p>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="list-item-view">
                  <div class="bookmark-wrapper">
                     <a class="bookmark"><i class="fas fa-bookmark"></i></a>
                     <a class="ellipsis"><i class="fas fa-ellipsis-h"></i></a>
                  </div>
               </div>
            </li> -->
            <!-- <li class="list-item">
               <div class="list-feed-icon color-voilet" routerLink="/recruiterHeader/ViewProposal">
                  <i class="far fa-file-alt"></i>
               </div>
               <div class="list-item-main-info">
                  <div class="list-item-title">
                     <p class="designation-post">hr manager <span class="rec-company">ux gorilla</span></p>
                  </div>
                  <div class="list-item-posted">
                     <ul class="list-inline">
                        <li>
                           <p>Location: <strong>Delhi</strong></p>
                        </li>
                        <li>
                           <p>CTC: <strong>12 lacs p.a.</strong></p>
                        </li>
                        <li>
                           <p>Fee: <strong>8% of ctc</strong></p>
                        </li>
                        <li>
                           <p>Deadline: <strong>26/06/2018</strong></p>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="list-item-view">
                  <div class="bookmark-wrapper">
                     <a class="bookmark"><i class="fas fa-bookmark"></i></a>
                     <a class="ellipsis"><i class="fas fa-ellipsis-h"></i></a>
                  </div>
               </div>
            </li> -->
         </ul>
         <p class="text-center">
            <a class="btn btn-success" routerLink="/recruiterHeader/sendProposal">See all Proposal requests</a>
         </p>
      </div>
   </div>
   <!--feeds-end-->
</div>
<!--end-->
<div class="col-md-4 col-sm-4 col-xs-12">
   <!--scheduled-interview-->
   <div class="notification-recuriter-feed">
      <div class="notification-head">
         <p>Notification Feed<span><i class="fas fa-search"></i></span></p>
      </div>
      <div class="natification-stepper">
         <ul class="nav nav-tabs">
            <li class="active">
               <a data-toggle="tab" href="#all">
                  <span class="tab-icon"><i class="fas fa-search"></i></span>
                  <p>All</p>
               </a>
            </li>
            <!-- <li>
               <a data-toggle="tab" href="#menu1">
                  <span class="tab-icon"><i class="fas fa-search"></i></span>
                  <p>Candidates</p>
               </a>
            </li>
            <li>
               <a data-toggle="tab" href="#menu2">
                  <span class="tab-icon"><i class="fas fa-search"></i></span>
                  <p>Calender</p>
               </a>
            </li>
            <li>
               <a data-toggle="tab" href="#menu3">
                  <span class="tab-icon"><i class="fas fa-search"></i></span>
                  <p>Review</p>
               </a>
            </li> -->
         </ul>
         <div class="tab-content">
            <div id="all" class="tab-pane fade in active">
               <!--job-fixed-wrapper-->
               <ul>
                  <li *ngFor= "let feed of feeds">
                     <div class="recuriter-list-item">
                        <div class="list-item-title">
                           <p class="designation-post">{{feed.job_id.job_title}}</p>
                        </div>
                        <div class="list-item-posted">
                           <ul class="list-inline">
                              <li>
                                 <p>Location: <strong>{{feed.location}}</strong></p>
                              </li>
                              <li>
                                 <p> {{feed.interview_date | date: 'dd/MM/yyyy'}}</p>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="scheduled-list scheduled-list recuriter-scheduled-list">
                        <ul>
                           <li>
                              <span class="time">{{feed.interview_time| date :'hh:mm'}}<br> {{feed.interview_time| date :'a'}}</span>
                              <div>
                                 Interview with {{feed.candidate_name}}<br>
                                 <!-- <p class="designation-post">hr manager,<span class="rec-company">ux gorilla</span></p> -->
                                 <span class="status-call">{{feed.interview_type}}</span>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </li>
                 <!--  <li>
                     <div class="recuriter-list-item">
                        <div class="list-item-title">
                           <p class="designation-post">hr manager</p>
                           <span class="rec-company">ux gorilla</span>
                        </div>
                        <div class="list-item-posted">
                           <ul class="list-inline">
                              <li>
                                 <p>Location: <strong>Delhi</strong></p>
                              </li>
                              <li>
                                 <p>Deadline: 26/06/2018</p>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="scheduled-list scheduled-list recuriter-scheduled-list">
                        <ul>
                           <li>
                              <span class="time">6:00<br>PM</span>
                              <div>
                                 Interview with Ankit
                                 <p class="designation-post">hr manager,<span class="rec-company">ux gorilla</span></p>
                                 <span class="status-call">in-office</span>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </li> -->
               </ul>
            </div>
               <!-- <div id="menu1" class="tab-pane fade">
                  <div class="candidate-feed">
                     <ul>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <div>
                                    <p class="designation-post">Shiristi</p>
                                    <span class="rec-company">Shortlisted</span>
                                 </div>
                                 <p class="designation-post">hr manager,<span class="rec-company">ux gorilla</span></p>
                                 <br>
                                 <a class="">Scheduled Inreview</a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <div>
                                    <p class="designation-post">Shiristi</p>
                                    <span class="rec-company">Shortlisted</span>
                                 </div>
                                 <p class="designation-post">hr manager,<span class="rec-company">ux gorilla</span></p>
                                 <br>
                                 <a class="">Scheduled Inreview</a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <div>
                                    <p class="designation-post">Shiristi</p>
                                    <span class="rec-company">Shortlisted</span>
                                 </div>
                                 <p class="designation-post">hr manager,<span class="rec-company">ux gorilla</span></p>
                                 <br>
                                 <a class="">Scheduled Inreview</a>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div id="menu2" class="tab-pane fade">
                  <div class="calender-feed">
                     <ul>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <p>
                                    <span class="designation-post">Shiristi</span>
                                    <span class="status-call">in-office</span>
                                 </p>
                                 <br>
                                 <p class="designation-post">hr manager, <span class="rec-company">ux gorilla</span></p>
                                 <span class="time block">1:30 PM - 2:00 PM</span>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <p>
                                    <span class="designation-post">Shiristi</span>
                                    <span class="status-call">in-office</span>
                                 </p>
                                 <br>
                                 <p class="designation-post">hr manager, <span class="rec-company">ux gorilla</span></p>
                                 <span class="time block">1:30 PM - 2:00 PM</span>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <p>
                                    <span class="designation-post">Shiristi</span>
                                    <span class="status-call">in-office</span>
                                 </p>
                                 <p class="designation-post">hr manager, <span class="rec-company">ux gorilla</span></p>
                                 <span class="time block">1:30 PM - 2:00 PM</span>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <p>
                                    <span class="designation-post">Shiristi</span>
                                    <span class="status-call">in-office</span>
                                 </p>
                                 <br>
                                 <p class="designation-post">hr manager, <span class="rec-company">ux gorilla</span></p>
                                 <span class="time block">1:30 PM - 2:00 PM</span>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div id="menu3" class="tab-pane fade">
                  <div class="calender-feed">
                     <ul>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <p>
                                    <span class="designation-post">Shiristi</span>
                                 </p>
                                 <br>
                                 <p class="designation-post">hr manager, <span class="rec-company">ux gorilla</span></p>
                                 <div class="star">
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                 </div>
                                 <cite class="candidate-description">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas arcu tincidunt purus varius facilisis. Aenean imperdiet dui vitae quam vehicula malesuada.
                                 </cite>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <p>
                                    <span class="designation-post">Shiristi</span>
                                 </p>
                                 <br>
                                 <p class="designation-post">hr manager, <span class="rec-company">ux gorilla</span></p>
                                 <div class="star">
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                 </div>
                                 <cite class="candidate-description">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas arcu tincidunt purus varius facilisis. Aenean imperdiet dui vitae quam vehicula malesuada.
                                 </cite>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <p>
                                    <span class="designation-post">Shiristi</span>
                                 </p>
                                 <br>
                                 <p class="designation-post">hr manager, <span class="rec-company">ux gorilla</span></p>
                                 <div class="star">
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                 </div>
                                 <cite class="candidate-description">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas arcu tincidunt purus varius facilisis. Aenean imperdiet dui vitae quam vehicula malesuada.
                                 </cite>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="recuriter-list-item">
                              <div class="list-item-title">
                                 <p>
                                    <span class="designation-post">Shiristi</span>
                                 </p>
                                 <br>
                                 <p class="designation-post">hr manager, <span class="rec-company">ux gorilla</span></p>
                                 <div class="star">
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star checked"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                 </div>
                                 <cite class="candidate-description">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas arcu tincidunt purus varius facilisis. Aenean imperdiet dui vitae quam vehicula malesuada.
                                 </cite>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div> -->
            <div class="see-more">
               <a class="">Load More</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------->
<!--welcome-slogan-->
<!-- <div class="welcome-slogan pad-global">
   <h5>Welcome Jagriti,</h5>
   <p>We have registered your accounts, we are setting up afew things for you.</p>
   </div>-->
<!--welcome-slogan-end-->
<!--<div class="masthead">
   <div class="container">
       <div class="row">
           <div class="col-md-12 text-center">
               <div class="mail-img-wrapper">
               <img src="../../assets/img/mail.png" class="center-block img-responsive">
                   </div>
               <h4 class="my-heading ">Congratualations, on creating an account with People Infinia.</h4>
               <p class="text-center">Someone will get in touch with you for account activation in next 24 hrs.</p>
               <div class="contact-support text-center m-t-50">Contact our support: +91 99999 99999</div>
           </div>
       </div>
   </div>
   </div>-->