<div id="breadcrum">
   <ul>
      <li><a routerLink="/main/about">About</a></li>
      <li>Contact Us</li>
   </ul>
</div>
<!-- Organisation -->
<section id="faqs_wrapper">
    <div class="Container" id="contact-page">
        <div class="row">
        <div class="col-md-8">
            <div class="Contact-Wrapper">
                <div class="row">
                <div class="col-md-6" >
                    <h3 class="Heading-cp">Corporate Office</h3>
                    <p class="Accordion-content"> People Infinia<br>  Unit No.305,3rd Floor, North Ex Mall<br> Sector-9, Rohini Near Kadambri C.G.H.S<br> New Delhi-110085</p>
                </div>
                <div class="col-md-6" >
                    <h3 class="Heading-cp">Contact Sales</h3>
                    <p class="Accordion-content"> Timing: 8am-8pm (ET)<br> Phone: +91-9560394071</p>
                </div>
                    </div>
                <div class="row">
                <div class="col-md-6" >
                    <h3 class="Heading-cp">Staffing Agency / Job Seeker Inquiry</h3>
                    <p class="Accordion-content"> Phone No: +91-8448533465<br> Email: support@peopleinfinia.com</p>
                </div>
                <div class="col-md-6" >
                    <h3 class="Heading-cp">Customer Care No.</h3>
                    <p class="Accordion-content"> Email: support@peopleinfinia.com<br> Phone: +91-8448533465</p>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Contact-footer--right-background" style="background-image: url('http://peopleinfinia.com/assets/img/map.png');">
                <div class="Contact-footer--right-content">
                    <div>
                        <p><strong>People Infinia<br>Headquarters</strong></p>
                        <p> Unit No.305,3rd Floor, North Ex Mall Sector-9, Rohini Near Kadambri C.G.H.S<br> New Delhi-110085</p> <a class="btn btn--outline-white btn--arrowRight" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.1707071198243!2d77.12697831508444!3d28.714443982385514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0166efeeae13%3A0xe57fa443a0035100!2sIndusInd+Bank+%E2%80%93+Sector-9%2C+Rohini+-+New+Delhi!5e0!3m2!1sen!2sin!4v1542464186810" target="_blank">Get Directions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
