#contact-page{
    overflow: hidden;
}

.Contact-Wrapper {
    padding: 100px;
}
.Heading-cp{
    font-size: 22px;
    font-weight: 500;
}
#breadcrum {
	background: #f5f5f5;
	padding: 25px
}

#breadcrum ul {
	padding: 0;
	margin: 0;
	list-style: none
}

#breadcrum ul li {
	display: inline-block;
	color: #0db655;
	padding-right: 30px;
	position: relative;
	font-size: 20px !important
}

#breadcrum ul li a:after {
	content: ">";
	position: absolute;
	right: 9px;
	top: 1px
}

#breadcrum ul li a {
	display: block
}
.Contact-footer--right-background {
    padding-bottom: 300px;
    background-size: cover;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.15);
    background-position: center;
}
.Contact-footer--right .Contact-footer--right-content {
    margin: auto;
    padding: 107px .83333%;
    width: 33.33333%;
    float: left;
}
.Contact-footer--right .Contact-footer--right-content>div {
    position: relative;
    width: 308px;
    padding: 36px 36px 36px 54px;
    margin: auto;
    background-size: 6%;
}
.Contact-footer--right .Contact-footer--right-content>div>p {
    color: #fff;
    font-size: .9375rem;
    text-align: left;
}
.Contact-footer--right .Contact-footer--right-content>div>a {
    margin: 36px auto auto;
}
.btn--outline-white {
    color: #fff;
    border: 1px solid #fff;
}
.Contact-footer--right-content {
    background-color: #0db655;
    width: 70%;
    padding: 20px;
}

@media (max-width: 767px) {
    .Contact-Wrapper {
    padding: 20px;
}
}