<div id="about_wrapper_slider" class="about_wrapper_slider">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-5 col-sm-5 pad-zero">
            <div class="banner_content">
               <!-- <h2>Hello we are People Infinia</h2> -->
               <h2>Hello we are People Infinia</h2>
               <p>An AI based marketplace, aimed at streamlining the otherwise crazy and chaotic Recruitment process. People Infinia with its sophisticated technology and process ensures every employer gets the best match for a vacancy and every recruiter gets a fair chance to help them do that.</p>
            </div>
         </div>
         
         <!--
            <div class="col-md-7 col-sm-7 pad-zero">
            	<div class="banner_slider_image">
            		<div class="owl-carousel owl-theme">
            		<div class="item">
            			<img src="assets/img/banner/banner01.png" width="100%">
            	    </div>
            		<div class="item">
            			<img src="assets/img/banner/banner02.png" width="100%">
            		</div>
            		<div class="item">
            			<img src="assets/img/banner/banner03.png" width="100%">
            		</div>
            	</div>
            </div> 					
            </div>
            -->
         <div class="col-md-7 col-sm-7 pad-zero">
            <carousel>
               <slide>
                  <img src="assets/img/banner/banner01.png" alt="first slide" style="display: block; width: 100%;">
               </slide>
               <slide>
                  <img src="assets/img/banner/banner02.png" alt="second slide" style="display: block; width: 100%;">
               </slide>
               <slide>
                  <img src="assets/img/banner/banner03.png" alt="third slide" style="display: block; width: 100%;">
               </slide>
            </carousel>
         </div>
      </div>
   </div>
</div>
<section id="about_setion">
   <div class="container-fluid">
      <div class="row">
         <ul class="tabs">
            <li class="tab-link" data-tab="tab-5" (click)="aboutTab = 1" [ngClass]="{'current':aboutTab == 1}">OUR TEAM</li>
             <li class="tab-link" data-tab="tab-6" (click)="aboutTab = 2" [ngClass]="{'current':aboutTab == 2}">OUR MISSION</li>
            <li class="tab-link" data-tab="tab-7" (click)="aboutTab = 3" [ngClass]="{'current':aboutTab == 3}">OUR VISION</li>
            <li class="tab-link" data-tab="tab-8" (click)="aboutTab = 4" [ngClass]="{'current':aboutTab == 4}">OUR STORY</li>
            <li class="tab-link" data-tab="tab-9" (click)="aboutTab = 5" [ngClass]="{'current':aboutTab == 5}">HOW ARE WE DIFFERENT</li>
         </ul>
      </div>
   </div>
   <div class="container" [ngSwitch]="aboutTab">
      <div class="row">
          
          <div id="tab-5" *ngSwitchCase="1" class="tab-content current">
              <div class="row">
              <div class="col-md-12">
              <div class="about_content_area">
               <img src="assets/img/sandeep-gandhi.jpg" class="img-circle">
               <h3>Sandeep Gandhi</h3>
               <h5 class="text-center">Co.Founder & CEO,People Infinia</h5>
                  <p><strong>CHRO | CXO for a decade | Board Advisor | Entrepreneur | Coach | Motivational Speaker@Sports, mythology, turnarounds</strong></p>
                  <br>
                      <p>Anchored to people development function; disruption embracing, agile HR Leader with strong business acumen and value system. Over 20 + year of experience spanning FMCG, Digital, and Telecom of which a decade as a CXO of $5bn organizations. Global experience to help acquire and set up business in China and far east Asia.</p>
                      
                      <p>Have won Brandon Hall Award for best CHRO and HR practices for three years in a row. An avid writer, published numerous articles, case studies in major dailies & business journals like Duke's publishing.</p>
                      
                      <p>Orchestrated landmark IR scenario's, world-class HR processes & practices around Hiring, cultural/performance transformation, multiple M&As, Leadership Development & Compensation Benefit/ESOPs.</p>
                      
                      <p>I have been a part of Supreme Court advisory committee to from legislation. Also Chairman of the telecom skill development committee.</p>
                      
                      <p>Passionate about Sport( played hockey@national level), People, Arts including Cinema, AstroMetric, and DIY.</p>
                      
                      <p>Sports and Mythology are pivotal sources from which I derive energies to explore, practice, preach and stay adventurous.</p>
               <!--<p>Well rounded HR-strategic & operation exposure, spanning diverse sectors specifically FMCG-Cosmetic and Personal Product & Food/Beverage, Telecom & retail.Sandeep has successfully orchestrated landmark IR scenario. He also learnt, conceptualized & implemented some of world-class HR processes & practices around Hiring, Retention, Leadership Development & Compensation/Benefit.</p>-->
            </div>
              </div>
              
              <div class="col-md-6">
              <div class="about_content_area">
               <img src="assets/img/rohini-rajdev.jpg" class="img-circle">
               <h3>Rohini Rajdev</h3>
               <h5>Co.Founder & COO, People Infinia</h5>
               <p>A strategic visionary with over 15 year of rich experience in HR & Sales, Rohini is Multifaceted personality who owns many businesses and a interest in philanthropy.In last one decade, Rohoni has successfully executed several senior searches for indian & MNC companies. She has partnered with clients in industrial, consumer and real-estate, telecom, media industries along with many start-ups.</p>
            </div>
              </div>
                  
              <div class="col-md-6">
              <div class="about_content_area">
               <img src="assets/img/sanjay-jain.png" class="img-circle">
               <h3>Sanjay Jain</h3>
               <h5>Advisory & Consultant in Legal & Financial Compliances, People Infinia</h5>
               <p> CA with 35 years of experience as a entrepreneur specialized in Corporate Finance & Compliances.</p>
            </div>
              </div>
              </div>
              <!--<div class="row">
              <div class="col-md-6">
              <div class="about_content_area">
               <img src="assets/img/saurabh-mehta.png" class="img-circle">
               <h3>Saurabh Mehta</h3>
               <h5>Vice President, People Infinia</h5>
               <p>An astute & result oriented professional with over 13+ years of Diverse & Dedicated Experience in Recruitment, Sourcing, HR Operations & Talent Management.</p>
            </div>
              </div>
              </div>-->
         </div>
         <div id="tab-6" *ngSwitchCase="2" class="tab-content current">
            <div class="about_content_area">
               <img src="assets/img/icon/mission.png">
               <h3>Our Mission</h3>
               <h5>To bring innovation and efficiency in the recruitment process, one recruitment at a time</h5>
               <p>We are doing that by creating an AI based platform that helps companies to connect and choose from 1000’s of recruitment experts for their next hiring. People Infinia is created with a lot of passion and love by a team of recruiters, AI experts, marketers and UX designers who are working together to create a great recruiting experience for both companies and the job consultants.</p>
               <p>Recruiting is hard ! It does not matter whether you are a startup of 2 members looking to find their new co founder, or a fortune 500 looking to hire their next Sales Manager. <br> Recruitment in current times require blood, sweat and more. </p>
               <p>Most of the companies rely heavily on multiple job consultants to hire for the vacant position. For any job requirement, the corporates on average are talking to 5-6 consultants. Imagine all these consultants sending out multiple resumes on a daily basis. It’s an exhausting process for the corporate HRs to look through all these resumes to shortlist the ones they would like to interview. Even when they shortlist the candidates, scheduling interviews, coordinating with the job candidates, the background check and other formalities are time intensive and prone to confusions and errors.</p>
               <p>On the other hand, hiring the right candidate for their corporate clients is not an easy job for consultant as well. While constantly looking for talent, they also have to do the outreach and sales to keep the business running. All consultants are great at hiring but not all are necessarily good at sales. It gets especially hard for individual consultants or small consultancy firms.</p>
               <p>People Infinia is trying to build a marketplace for solving problem for both corporates and the Consultants. It is making sure Corporates are finding the best from the best, while also preserving the consultant’s interests. </p>
            </div>
         </div>
         <div id="tab-7" *ngSwitchCase="3" class="tab-content current">
            <div class="about_content_area">
               <img src="assets/img/icon/vision.png">
               <h3>Our Vision</h3>
               <h5>To create an unbiased highly intelligent recruitment marketplace where technology helps Employers to find the best hiring experts and consultants are able to find the good work based on their performance</h5>
               <p>We have been investing our resources in AI and ML (machine learning) for quite a long time because we believe it is going to be best way to screen people with talent in consideration with the manpower consumed in this age. We see a future where independent recruiters and individuals can seamlessly work with employers to fill open positions faster, improve quality of hire.</p>
            </div>
         </div>
         <div id="tab-8" *ngSwitchCase="4" class="tab-content current">
            <div class="about_content_area">
               <img src="assets/img/icon/story.png">
               <h3>Our Story</h3>
               <h5>People Infinia is a perfect example of how technology can disrupt traditional methods and businesses for the good. </h5>
               <p>It is the brainchild of Rohini Rajdev, who has been credited with helping many companies to fill some of the most coveted leadership positions in India, United States, Dubai and Africa. <br> As a recruiter and later as someone running her own business, Rohini knew firsthand, how broken the recruitment process is. Frustrated with her own hardships, Rohini had a vision to help companies find the best candidates and to help job recruiters to find the best gigs.</p>
               <p>The seeds for People Infinia were planted 14 years back, when Rohini Rajdev alongwith a team of highly competant HR experts launched Anil associates placement pvt ltd. The company steadily rose to prominence in next few year. By the year 2010, Anil Associates Placement had 20 Consumer and FMCG brand nationally onboard. In 2014, the company reached another milestone by becoming a Domain Specialized Recruitment Service Provider. <br>
               <p>Since then the company has never looked back. Today standing strong with a global reach with more than 100 clients including some of the biggest names in the world, Anil associates is launching People Infinia - the AI powered global marketplace for job consultants.</p>
            </div>
         </div>
         <div id="tab-9" *ngSwitchCase="5" class="tab-content current">
            <div class="about_content_area">
               <img src="assets/img/icon/different.png">
               <h3>How are we Different</h3>
               <h5>People Infinia’s brings you 1000’s of job consultants without ever needing to manage any of them.</h5>
               <p>If you are rolling your eyes wondering, how is it any different than any other Recruiter’s marketplace - Think Again. With its sophisticated use of technology and User Experience, People Infinia is ensuring that corporates get the most relevant hiring experts and consultants get the most relevant recruitment opportunities.</p>
               <p>Employers get proposals only from the recruiters specialized in the domain they are hiring and recruiters only get recruitment opportunities in their relevant field of interest and experience. </p>
            </div>
         </div>
      </div>
   </div>
</section>