
<section>
    <div class="col-md-3">
       <div class="filter-job-proposal">
           <h1>Resume (300/300)</h1>
          <h4><i _ngcontent-c3="" class="fas fa-plus"></i> Filter</h4>
          <form>
             <div class="field-job-proposal">
                <ul>
                   <li>
                      <div class="form-group">
                         <label>User Name</label>
                         <input type="text" name="" class="form-control-cust" placeholder="Type the user name">
                      </div>
                   </li>
                   <li>
                      <div class="form-group">
                         <label>Comapany</label>
                         <input type="text" name="" class="form-control-cust" placeholder="Type industry">
                      </div>
                   </li>
                    <li>
                      <div class="form-group">
                         <label>Organisation</label>
                         <input type="text" name="" class="form-control-cust" placeholder="Type the company name">
                      </div>
                   </li>
                    <li>
                      <label>Job Role</label>
                      <div class="select">
                         <select>
                            <option>Select job Role</option>
                            <option>Option</option>
                            <option>Option</option>
                         </select>
                         <div class="select__arrow"></div>
                      </div>
                   </li>
                    <li>
                      <label>Job Status</label>
                      <div class="select">
                         <select>
                            <option>Status of Candidate</option>
                            <option>Option</option>
                            <option>Option</option>
                         </select>
                         <div class="select__arrow"></div>
                      </div>
                   </li>
                    <li>
                        <div class="form_field">
                            <label>CTC</label>
                            <input class="slider" id="myRange" max="100" min="1" type="range" value="50">
                        </div>
                    </li>
                    <li>
                      <div class="form-group">
                         <label>Candidate's rating</label>
                         <input type="text" name="" class="form-control-cust" placeholder="select no. of star">
                      </div>
                   </li>
                </ul>
                <p class="text-center">
                   <a class="btn btn-success" routerLink="/recruiterHeader/sendProposal">Apply Filters</a>
                </p>
             </div>
          </form>
       </div>
    </div>
     
     <div class="col-md-9">
         <div class="row" id="select-opt-wrapper">
             <div class="col-md-12">
             <div class="select-opt-wrapper">
                 <ul class="list-inline f-left">
                 <li><a>2 selected</a></li>
                 <li><a>Selected All</a></li>
                 </ul>
                 
                 
                 <ul class="list-inline f-right">
                     <li><a class="btn btn-warning">Archieved Accounts</a></li>
                      <li><a class="btn btn-success">Active Accounts</a></li>
                   </ul>
                 </div>
             </div>
         </div>
            <table>
                    <thead class="list-inline">
                        <tr>
                         <th>Name of candidate</th>
                         <th>Applied for </th>
                         <th>Job Location</th>
                         <th>Current Company</th>
                         <th>status</th>
                         <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let Cv of allCVS">
                            <td>{{Cv.candidates.name}}</td>
                            <td>{{Cv.job_id.job_title}}</td>
                            <td>{{Cv.job_id.Location}}</td>
                            <td>{{Cv.candidates.current_organisation}}</td>
                            <td>
                                {{Cv.candidates.status}}
                               <!--  <spam *ngIf = "(Cv.candidates.status === '0')">Shortlisted</spam>
                                <spam *ngIf = "(Cv.candidates.status === '1')">Interviewed</spam>
                                <spam *ngIf = "(Cv.candidates.status === '2')">OnHold</spam>
                                <spam *ngIf = "(Cv.candidates.status === '4')">Hired</spam>
                                <spam *ngIf = "(Cv.candidates.status === '6')">Rejected</spam> -->
                            </td>
                            <td (click) = "setCV(Cv.candidates.cv)">
                                 View Resume</td>

                        </tr>
                    </tbody>
            </table>
            
            
         
                
 <!-- <div class="view-job-list-content">
     <div class="view-job-table-list">
         <ul class="list-inline">
                         <li><span class="name">Aman Gautam</span></li>
                         <li><span class="name-company">UX Gorilla</span></li>
             <li><span class="date">31st may,2018</span><br>
             <span class="time">10:13 AM</span>
             </li>
             <li><span class="job-role">UX Designer</span>
                         </li>
             <li><span class="status"><i _ngcontent-c9="" class="fas fa-circle active-stats"></i> active</span></li>
                         
                         <li><span class="send-mail theme_color"><a routerLink="/main/resumepdf" class="theme_color">View Resume</a></span></li>
         </ul>
     </div>
     
     <div class="view-job-table-list">
         <ul class="list-inline">
                         <li><span class="name">Aman Gautam</span></li>
                         <li><span class="name-company">UX Gorilla</span></li>
             <li><span class="date">31st may,2018</span><br>
             <span class="time">10:13 AM</span>
             </li>
             <li><span class="job-role">UX Designer</span>
                         </li>
             <li><span class="status"><i _ngcontent-c9="" class="fas fa-circle draft-stats"></i> pending</span></li>
                         
                         <li><span class="send-mail theme_color"><a routerLink="/main/resumepdf" class="theme_color">View Resume</a></span></li>
         </ul>
     </div>
     
     <div class="view-job-table-list">
         <ul class="list-inline">
                         <li><span class="name">Aman Gautam</span></li>
                         <li><span class="name-company">UX Gorilla</span></li>
             <li><span class="date">31st may,2018</span><br>
             <span class="time">10:13 AM</span>
             </li>
             <li><span class="job-role">UX Designer</span>
                         </li>
             <li><span class="status"><i _ngcontent-c9="" class="fas fa-circle shortlst-stats"></i> active</span></li>
                         
                         <li><span class="send-mail theme_color"><a routerLink="/main/resumepdf" class="theme_color">View Resume</a></span></li>
         </ul>
     </div>
     
     <div class="view-job-table-list">
         <ul class="list-inline">
                         <li><span class="name">Aman Gautam</span></li>
                         <li><span class="name-company">UX Gorilla</span></li>
             <li><span class="date">31st may,2018</span><br>
             <span class="time">10:13 AM</span>
             </li>
             <li><span class="job-role">UX Designer</span>
                         </li>
             <li><span class="status"><i _ngcontent-c9="" class="fas fa-circle reject-stats"></i> active</span></li>
                         
                         <li><span class="send-mail theme_color"><a routerLink="/main/resumepdf" class="theme_color">View Resume</a></span></li>
         </ul>
     </div>
     
     <div class="view-job-table-list">
         <ul class="list-inline">
                         <li><span class="name">Aman Gautam</span></li>
                         <li><span class="name-company">UX Gorilla</span></li>
             <li><span class="date">31st may,2018</span><br>
             <span class="time">10:13 AM</span>
             </li>
             <li><span class="job-role">UX Designer</span>
                         </li>
             <li><span class="status"><i _ngcontent-c9="" class="fas fa-circle active-stats"></i> active</span></li>
                         
                         <li><span class="send-mail theme_color"><a routerLink="/main/resumepdf" class="theme_color">View Resume</a></span></li>
         </ul>
     </div>
     
     <div class="view-job-table-list">
         <ul class="list-inline">
                         <li><span class="name">Aman Gautam</span></li>
                         <li><span class="name-company">UX Gorilla</span></li>
             <li><span class="date">31st may,2018</span><br>
             <span class="time">10:13 AM</span>
             </li>
             <li><span class="job-role">UX Designer</span>
                         </li>
             <li><span class="status"><i _ngcontent-c9="" class="fas fa-circle draft-stats"></i> active</span></li>
                         
                         <li><span class="send-mail"><a routerLink="/main/resumepdf" class="theme_color">View Resume</a></span></li>
         </ul>
     </div>
     
     <div class="view-job-table-list">
         <ul class="list-inline">
                         <li><span class="name">Aman Gautam</span></li>
                         <li><span class="name-company">UX Gorilla</span></li>
             <li><span class="date">31st may,2018</span><br>
             <span class="time">10:13 AM</span>
             </li>
             <li><span class="job-role">UX Designer</span>
                         </li>
             <li><span class="status"><i _ngcontent-c9="" class="fas fa-circle shortlst-stats"></i> active</span></li>
                         
                         <li><span class="send-mail theme_color"><a routerLink="/main/resumepdf" class="theme_color">View Resume</a></span></li>
         </ul>
     </div>
     
 </div> -->
         
         <!--footer-pagination-->
    <!--      <div class="footer-pagination m-t-20">
    <span>Showing 1 to 5 of 15 entries</span>
    <ul class="pagination pull-right">
       <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
       <li><a href="#" class="active">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
    </ul>
 </div> -->
     </div>
     
 </section>
     