<section>
    <!--lead-deatail-->
    <div class="row">
        
    <!--lead-deatail-container-->
       
<div class="col-md-4 col-sm-4 col-xs-12">
   <!--scheduled-interview-->
   <div class="issue-view-wrapper">
      <div class="heading-bar">
          <span><a href="#" class="f-right theme_color">+ Create</a></span>
         <h2>issue</h2>
      </div>
       
       <div class="top-tabber-grp-btn">
           <ul class="nav nav-pills nav-justified">
    <li class="active">
    <a data-toggle="pill" href="#all" class="new-user-show">Pending</a></li>
    <li><a data-toggle="pill" href="#menu1" class="follow-up-show">New</a></li>
    <li><a data-toggle="pill" href="#menu2" class="follow-up-show">Resolved</a></li>
    <li><a data-toggle="pill" href="#menu3" class="follow-up-show">My</a></li>
    <li><a data-toggle="pill" href="#menu1" class="follow-up-show"><i class="fas fa-search"></i></a></li>
           </ul>
       </div>
      <div class="stepper">
         <div class="tab-content">
            <div id="all" class="tab-pane fade in active">
               <!--job-fixed-wrapper-->
               <ul class="pending-list-wrapper">
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
               </ul>
            </div>
            <div id="menu1" class="tab-pane fade">
               
               <ul class="pending-list-wrapper">
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
               </ul>
            </div>
            <div id="menu2" class="tab-pane fade">
               
               <ul class="pending-list-wrapper">
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
               </ul>
            </div>
            <div id="menu3" class="tab-pane fade">
                
               <ul class="pending-list-wrapper">
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
                   
                  <li>
                      <div class="pending-list-content">
                          <ol class="list-inline">
                        <li><b>Aman Gautam</b></li>
                          <li>UX Gorilla</li>
                          <li>23 June</li>
                         </ol>
                          <p>My candidate has completed the contract period but my payment is not released yet.</p>
                      </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
        
        
        <!--deatail status-timeline-->
        <div class="col-md-4">
            <div class="row">
            <div class="col-md-12">
            <div class="select-opt-wrapper">
                <ul class="list-inline f-left">
                <li><a>Detailed status</a></li>
                </ul>
                
                
                <ul class="list-inline f-right">
                    <li><button type="button" class="btn btn-danger">Mark span</button></li>
                  </ul>
                </div>
            </div>
        </div>
            
            <div class="lead-timeline">
            <div class="issue-stats m-t-40">
               <ul class="timeline-issue">
                  <li class="timeline-li">
                      <div class="timeline-msg active">
                      <p>My candidate has completed the contract period but my payment is not released yet.</p>
                     <span class="f-right created-by">
                          <ol class="list-inline">
                         <li><b>Issue Created</b></li>
                         <li>23 June</li>
                         <li>3.50 PM</li>
                         </ol>
                          </span>
                      </div>
                  </li>
                  <li class="timeline-li">
                      <div class="timeline-msg">
                     <p>Talked to the client regarding the issue.</p>
                      <span class="f-right created-by">
                          <ol class="list-inline">
                         <li><b>You</b></li>
                         <li>24 June</li>
                         <li>11.00 AM</li>
                         </ol>
                          </span>
                      </div>
                  </li>
                  <li class="timeline-li">
                      <div class="timeline-msg">
                     <p>resolvingthe Issue.</p>
                     <span class="f-right created-by">
                          <ol class="list-inline">
                         <li><b>You</b></li>
                         <li>24 June</li>
                         <li>11.00 AM</li>
                         </ol>
                          </span>
                      </div>
                  </li>
                   <li class="timeline-li">
                       <div class="timeline-msg">
                     <p>Reviewed the technical issue.</p>
                     <span class="f-right created-by">
                          <ol class="list-inline">
                         <li><b>Admin</b></li>
                         <li>24 June</li>
                         <li>11.00 AM</li>
                         </ol>
                          </span>
                       </div>
                  </li>
                  <li class="timeline-li">
                      <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-plus"></i> Add Current status
 </button>
  <ul class="dropdown-menu">
    <li><a href="#">Call Verification</a></li>
    <li><a href="#">Contract Status</a></li>
    <li><a href="#">Payment Status</a></li>
  </ul>
</div>
                  </li>
               </ul>
            </div>
            </div>
            
        </div>
        
        <!--client-details-->
        
        <div class="col-md-4">
        
            <div class="client-deatail-wrapper">
            
                <h2>Client Deatails</h2>
                
                <!--1-->
                <div class="info-block-client m-t-40">
                    
                <span><a routerlink="/main/userprofile" class="f-right theme_color">View Profile</a></span>
                <h4>Aman Gautam</h4>
                <p>UX Gorilla</p>
                </div>
                
                <!--2-->
                <div class="info-block-client m-t-40">
                <h4>Issue Created on</h4>
                <p>23rd June,2018</p>
                </div>
                
                <!--3-->
                <div class="info-block-client m-t-40">
                <h4>Manage By</h4>
                <p>Alok Tiwari</p>
                </div>
                
                <!--4-->
                <div class="info-block-client m-t-40">
                <h4>Contact details of Aman Gautam</h4>
                <p>+91-99999999999</p>
                <p>aman.gautam@uxgorilla.com</p>
                </div>
                
                <!--5-->
                <div class="info-block-client m-t-40">
                <h4>Comments by Alok Tiwari</h4>
                    <div class="comment-box">
                        <span class="f-right">23 June</span>
                    <p>We have talked to the company for the staus on candidate.</p>
                    </div>
                </div>
                
                <!--6-->
                
                <button class="btn btn-withdraw m-t-40" type="button">Inquire Manager</button>
            </div>
            
        </div>
        </div>
</section>