@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import "~ng-pick-datetime/assets/style/picker.min.css";
html body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 1.8;
	background-color: #F8F8F8;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


/* Typographgy */


/* Aligment */

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.f-right {
	float: right
}

.f-left {
	float: left;
}

.clear-both {
	clear: both;
}


/* spacing */

.mar-zero {
	margin: 0 !important;
}

.pad-zero {
	padding: 0 !important;
}

.height-ten {
	height: 10px;
}

.height-twen {
	height: 20px;
}

.height-thir {
	height: 30px;
}

.height-four {
	height: 40px;
}

.height-fift {
	height: 50px;
}


/* Web Property */


/*margin*/

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-40 {
	margin-top: 40px;
}

.m-t-50 {
	margin-top: 50px;
}
.m-b-20 {
	margin-bottom: 20px;
}

/*padding*/

.p-20 {
	padding: 20px;
}


/* Header */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	margin: 8px 0 12px;
	line-height: 1.2;
	font-weight: 300;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 35px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}


/* Button */

a.btn,
button.btn {
	display: inline-block;
	/*padding: 7px 30px;*/
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 12px 30px;
}

.btn-success {
	background-color: #23b256;
	color: #fff;
	border: 1px solid #23b256;
}

.btn-warning {
	background-color: #FCA918;
	color: #fff;
	border: 1px solid #FCA918;
}

.btn-danger {
	background-color: #F86A63;
	color: #fff;
	border: 1px solid #F86A63;
}

.btn-default {
	background-color: #eee;
	color: #666;
	border: 1px solid #eee;
}

.btn-withdraw {
	background-color: #7C7C7C;
	color: #fff;
	border: 1px solid #7C7C7C;
}

.btn-outline {
	background-color: #fff;
	color: #23b256;
	border: 1px solid #23b256;
	padding: 12px 15px;
}

.btn-purple {
	background-color: #6812B2;
	color: #fff !important;
	border: 1px solid #6812B2;
	/*border-radius: 0px !important;*/
}
.btn-purple:hover{
	background-color: #6812B2;
	color: #fff !important;
	border: 1px solid #6812B2;
	/*border-radius: 0px !important;*/
}

.btn-rejected {
	background-color: #F25D5D;
	color: #fff;
	border: 1px solid #F25D5D;
	text-transform: uppercase;
	border-radius: 0 !important;
	font-size: 14px;
}

.btn-shortlisted {
	background-color: #1FB355;
	color: #fff;
	border: 1px solid #1FB355;
	text-transform: uppercase;
	border-radius: 0 !important;
	font-size: 14px;
}

a {
	cursor: pointer;
}

a:hover {
	color: #23b256;
}


/* section */

section {
	padding: 30px 0;
}

.padd-section {
	padding: 30px;
}


/* Color */

.star {
	color: #ccc;
}

.star .checked {
	color: #23b256;
}

.theme_color {
	color: #23b256;
}

.white_color {
	color: #fff;
}

.theme_bg {
	background-color: #23b256;
}

.active-stats {
	color: #3CB878;
}

.closed-stats {
	color: #0024FF;
}

.draft-stats {
	color: #FF9600;
}
.upper_case{
    text-transform: uppercase;
}

/* Block/Inline */

.inline-block {
	display: inline-block !important;
	width: auto !important;
}

.block {
	display: block !important;
	width: 100% !important;
}

.select {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
}

.select select {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 10px 15px;
	outline: 0;
	border: 1px solid #eee;
	border-radius: 0;
	background: #fff;
	color: #7b7b7b;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 14px;
}


/* The radio */

.radio {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	padding-right: 15px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Hide the browser's default checkbox */

.radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom checkbox */

.checkround {
	position: absolute;
	top: 3px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
}


/* When the checkbox is checked, add a blue background */

.radio input:checked~.checkround {
	background-color: #23b256;
	border: 1px solid #23b256;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkround:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.radio input:checked~.checkround:after {
	display: block;
}


/* Style the checkmark/indicator */

.radio .checkround:after {
	left: 5px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid;
	border-color: #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* The check */

.check {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	padding-right: 15px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Hide the browser's default checkbox */

.check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}


/* When the checkbox is checked, add a blue background */

.check input:checked~.checkmark {
	background-color: #23b256;
	border: 1px solid #23b256;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.check input:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.check .checkmark:after {
	left: 5px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid;
	border-color: #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* Form */

.form-control-cust {
	position: relative;
	display: block;
	width: 100%;
	border: 1px solid #ddd;
	padding: 10px 12px;
	margin-bottom: 12px;
	font-weight: normal;
	font-size: 15px;
	outline: 0;
	color: #000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 2px;
}
select.form-control-selct {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 12px;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 15px;
    outline: 0;
    color: #000;
    border-radius: 2px;
}

label {
	font-size: 16px;
	letter-spacing: 1px;
	color: #8B8B8B;
	margin: 0;
	padding: 0;
	font-weight: 500;
	margin-bottom: 5px;
}

.icon-addon {
	position: relative;
}


/***********************/

.stylish-input-group button {
	border: 0;
	background: transparent;
}


/* Playground */

a {
	transition: 0.3s ease-in all;
	-moz-transition: 0.3s ease-in all;
	-webkit-transition: 0.3s ease-in all;
	-o-transition: 0.3s ease-in all;
	color: #808390;
	font-weight: 500;
	text-decoration: none !important;
}

p {
	font-size: 16px;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul:not(.browser-default)>li {
	list-style-type: numeric !important;
}

ul li,
ol li {
	font-size: 16px;
	position: relative;
}


/*global padding*/

.pad-global {
	padding: 30px 40px 20px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	border: none !important;
}


/* Header */

header {
	background-color: #808390;
}


/*client-header*/


/*header*/

#user-haeder .navbar-default {
	background-color: #fff;
	padding: 10px 0;
	margin: 0;
}

#user-haeder .navbar-brand img {
	width: 200px;
	height: auto;
}

#user-haeder .nav li a i {
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

#user-haeder .nav li a i:after {
	content: "";
	position: absolute;
	background: red;
	top: -3px;
	right: -5px;
	height: 1.2rem;
	width: 1.2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 1rem;
	border-radius: 50%;
	color: #F5655D;
}

#user-haeder .nav li a img {
	width: 40px;
	height: auto;
	border: 1px solid #eee;
}

.navbar-brand {
	position: relative;
}

a.navbar-brand:after {
	content: '';
	width: 1px;
	height: 33px;
	background-color: #eee;
	position: absolute;
	top: 1;
	right: -10px;
	top: 42%;
}


/*client dashboard*/

.welcome-slogan,
.scheduled-time {
	background: #23B256;
	background: -webkit-linear-gradient(to right, #37C56A, #23B256);
	background: linear-gradient(to right, #37C56A, #23B256);
	color: #fff;
}

.scheduled-time {
	background: #23B256;
	background: -webkit-linear-gradient(to right, #37C56A, #23B256);
	background: linear-gradient(to right, #37C56A, #23B256);
	color: #fff;
}

.welcome-slogan>h5,
.scheduled-time>h5 {
	margin: 0;
	font-weight: 500;
	font-size: 24px;
}

.dashboard-card ul,
.dashboard-card-recruiter ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
}

.dashboard-card ul li,
.dashboard-card-recruiter ul li {
	width: calc(100% / 3);
	display: inline-block;
	background-color: #fff;
	padding: 35px 0;
	margin-right: 5px;
}

.dashboard-card ul li:nth-last-child(),
.dashboard-card-recruiter ul li:nth-last-child() {
	margin-right: 0px;
}

.dashboard-card ul li span,
.dashboard-card-recruiter ul li span {
	display: block;
}

.dashboard-card ul li span.value {
	font-size: 5vw;
	font-weight: bold;
	text-align: center;
	color: #4C4C4C;
	line-height: 1.5;
}

.dashboard-card ul li span.text {
	font-size: 1.3vw;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5vw;
	opacity: 0.5;
}


/*recuiter-dashboard*/

.interview-card {
	display: block;
	background-color: #1FB355;
	height: 400px;
	position: relative;
}

.interview-card p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.interview-card span.value {
	display: block;
	font-size: 4vw;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.interview-card span.text {
	display: block;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.dashboard-card-recruiter ul li {
	padding: 50px 0;
}

.dashboard-card-recruiter ul li span.value {
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
	color: #4C4C4C;
	line-height: 1.5;
}

.dashboard-card-recruiter ul li span.text {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	line-height: 2vw;
	opacity: 0.5;
}


/*dashboard-feeds*/

.dashboard-feeds .feeds-title p {
	font-weight: 600;
	color: #7A818E;
	text-align: left;
}

.dashboard-feeds .feeds-title p span {
	font-weight: 300;
	color: #7A818E;
}

.color-voilet {
	background: #23B256;
	background: -webkit-linear-gradient(to right, #6867F9, #463DBB);
	background: linear-gradient(to right, #6867F9, #463DBB);
}

.color-orange {
	background: #23B256;
	background: -webkit-linear-gradient(to right, #6867F9, #463DBB);
	background: linear-gradient(to right, #FEA05C, #FE820C);
}

.feed-post ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feed-post ul li {
	background-color: #fff;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}

.feed-post .list-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	line-height: normal;
	border-bottom: 1px solid #e9e9e9;
}

.feed-post .list-item-main-info {
	padding-left: 30px;
}

.feed-post .list-item-posted {
	font-size: 12px;
}

.feed-post .list-item-view {
	text-align: right;
	margin-left: auto;
	padding-right: 30px;
	color: #1EB456;
}

.list-item-view .bookmark-wrapper {
	transform: translateY(-100%);
}

.feed-post .list-item-view a {
	color: #fff;
}

.feed-post .list-feed-icon {
	width: 120px;
	height: 120px;
	text-align: center;
	line-height: 120px;
	color: #fff;
	font-size: 3vw;
}


/*recuriter -feed*/

.list-item-title .designation-post {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.2;
	text-transform: uppercase;
}

.list-item-title .rec-company {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.2;
	text-transform: uppercase;
	opacity: 0.4;
	margin-left: 20px;
}

.scheduled-list .designation-post {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2;
	text-transform: uppercase;
	color: #000;
	margin: 0;
}

.scheduled-list .rec-company {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2;
	text-transform: uppercase;
	opacity: 0.4;
}

.list-item-posted ul li {
	margin: 0 10px 0 0;
	padding: 0;
}

.list-item-posted ul li p {
	font-size: 14px;
	margin: 0;
	padding: 0;
	opacity: 0.8;
}

.list-item-posted ul li p strong {
	opacity: 1;
	color: #000;
}

.list-item-view a.bookmark {
	color: #FFDA44;
	font-size: 25px;
	margin-right: 15px;
}

.list-item-view a.ellipsis {
	color: #E5E5E5;
	font-size: 25px;
}


/*notification-recuriter-feed*/

.notification-recuriter-feed {
	background-color: #fff;
}

.notification-head {
	padding: 20px 46px 0;
}

.notification-head p {
	font-size: 18px;
	font-weight: 600;
	text-align: left;
}

.notification-head span {
	float: right;
	opacity: 0.5;
}


/*.natification-stepper ul{
padding: 20px 30px 0;
}*/

.natification-stepper ul li {
	display: block;
}

.natification-stepper ul.nav.nav-tabs {
	margin: 0 36px;
}

.natification-stepper ul li a {
	text-align: center;
	display: inline-block;
	text-align: center;
}

.natification-stepper ul li a p {
	font-size: 11px;
	margin-top: 5px;
}

.natification-stepper ul li:nth-last-child(1) {
	margin-right: 0;
}

.natification-stepper ul.nav li a span.tab-icon {
	background-color: #eee;
	text-align: center;
	display: block;
	color: #fff;
	width: 116px;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	/* width: 65px;
height: 50px;
line-height: 50px;*/
}

.natification-stepper>.nav-tabs>li.active>a span.tab-icon {
	background-color: #24B050;
	color: #fff;
}

.natification-stepper>.nav-tabs>li.active>a p {
	color: #24B050;
}

.natification-stepper>.nav-tabs>li.active>a,
.natification-stepper>.nav-tabs>li.active>a:focus,
.natification-stepper>.nav-tabs>li.active>a:hover {
	border: none;
}

.natification-stepper>.nav-tabs>li>a:hover {
	border: none;
}

.natification-stepper>.nav-tabs>li>a {
	border: none;
}

.natification-stepper>.nav>li>a {
	padding: 0 5px;
}

.natification-stepper>.nav-tabs {
	border-bottom: none;
}

.recuriter-list-item {
	background-color: #FCFCFC;
	padding: 20px 46px;
}

.recuriter-list-item:nth-child(even) {
	background-color: #fff;
}

.recuriter-list-item .list-item-title p {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	padding-right: 15px;
}

.recuriter-list-item .list-item-title p span {
	font-size: 14px !important;
}

.recuriter-list-item a {
	color: #24B050;
	font-size: 14px;
}

.recuriter-list-item .time {
	color: #24B050;
	font-size: 14px;
	font-weight: 500;
}

.recuriter-list-item .list-item-title p,
.recuriter-list-item .list-item-title span {
	font-size: 14px;
}

.recuriter-list-item .list-item-title span.status-call {
	margin-left: 12px;
}

.recuriter-list-item .list-item-posted ul li {
	display: inline-block;
}

.status-call {
	color: #4187FF;
	font-weight: 500;
	font-size: 12px;
}

.candidate-description {
	font-size: 12px;
	font-style: italic;
	opacity: 0.6;
}

.recruicter-feed-post .rec-company {
	padding-left: 20px;
}


/*scheduled-interview-section*/

.scheduled-interview-section {
	background-color: #FDFDFD;
}

.scheduled-time>p {
	font-weight: 500;
	font-size: 20px;
}

.scheduled-list {
	padding: 20px 30px 0;
}

.recuriter-scheduled-list {
	padding: 20px 46px !important;
}

.scheduled-list>h5 {
	font-weight: 600;
	color: #A1A3B0;
	font-size: 1.2vw;
}

.scheduled-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.scheduled-list ul li {
	position: relative;
	/*margin-bottom: 20px;*/
}

.scheduled-list ul li span.time {
	position: absolute;
	color: #808689;
}

.scheduled-list ul li div {
	margin-left: 60px;
	color: #808689;
    margin-top: -30px;
}

.scheduled-list ul li div:before {
	content: '-';
	position: absolute;
	left: 12%;
}

.scheduled-list-odd ul li {
	position: relative;
	margin-bottom: 20px;
	margin-left: -29px;
	padding-left: 30px;
	padding-right: 9px;
	margin-right: -29px;
}

.scheduled-list-odd ul li:nth-child(odd) {
	background-color: #FAFAFA;
}

.inteview-detail p {
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

.inteview-detail .candidate-designation {
	font-size: 16px;
	font-weight: 600;
	color: #000;
}
.inteview-detail .date {
	font-size: 12px;
	color: #000;
}

.inteview-detail .call-staus {
	display: block;
	font-size: 12px;
}
.inteview-detail span{
    display: block;
}

/*.scheduled-list ul li p > span {
display: block;
}*/

.scheduled-list ul li p>span.candidate-designation {
	font-weight: 500;
	color: #000;
	margin-top: -5px;
}

.scheduled-list ul li p>call-staus {
	font-size: 12px;
	font-weight: 100;
	margin-top: -5px;
}

.scheduled-list a {
	margin: 10px 0;
	display: block;
	text-align: center;
	font-size: 14px;
}


/*client-schedule-wrapper*/

.client-schedule-wrapper {
	position: relative;
	background-color: #fff;
	padding: 30px;
}

.client-schedule-wrapper h5 {
	color: #000;
	font-size: 20px;
	font-weight: 500;
	height: 100vh;
}

.calender-event-side-view {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #eee;
	height: 100vh;
}

.schedule-interview-slot form label {
	font-weight: 400;
	font-size: 14px;
}

.calender-event-side-view .btn-outline {
	border: 1px solid #eee;
	color: #333;
}


/**************************************************/


/*post job*/


/*stepper*/

#post-new-job .title {
	font-weight: 500;
	font-size: 20px;
}

#post-new-job .nav-tabs {
	border-bottom: none;
}

.stepper .nav-tabs {
	position: relative;
}

.stepper .nav-tabs>li {
	width: 25%;
	position: relative;
}

.stepper .nav-tabs>li:after {
	content: '';
	position: absolute;
	background: #fff;
	display: block;
	width: 100%;
	height: 5px;
	top: 43%;
	left: 50%;
	z-index: 1;
	border: 1px solid #eee;
}

.stepper .nav-tabs>li.completed::after {
	background: #34bc9b;
}

.stepper .nav-tabs>li:last-child::after {
	background: transparent;
	display: none;
}

.stepper .nav-tabs [data-toggle='tab'] {
	width: 25px;
	height: 25px;
	margin: 20px auto;
	border-radius: 100%;
	border: none;
	padding: 0;
	color: #f1f1f1;
}

.stepper .nav-tabs [data-toggle='tab']:hover {
	background: transparent;
	border: none;
}

.stepper .nav-tabs>.active>[data-toggle='tab'],
.stepper .nav-tabs>.active>[data-toggle='tab']:hover,
.stepper .nav-tabs>.active>[data-toggle='tab']:focus {
	color: #34bc9b;
	cursor: default;
	border: none;
}

.stepper .tab-pane {
	position: relative;
	padding-top: 50px;
}

.stepper .round-tab {
	width: 20px;
	height: 20px;
	line-height: 22px;
	display: inline-block;
	border-radius: 25px;
	background: #eee;
	border: 2px solid #fff;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 14px;
}

.stepper .completed .round-tab {
	background: #34bc9b;
}

.stepper .completed .round-tab::after {
	content: '✔';
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
	display: block;
}

.stepper .active .round-tab {
	background: #23b256;
	border: 2px solid #23b256;
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.stepper .active .round-tab::after {
	display: none;
}

.stepper .disabled .round-tab {
	background: #eee;
	border: 2px solid #fff;
}

.stepper .disabled .round-tab::after {
	display: none;
}

.stepper .stepper-info {
	position: absolute;
	top: 37px;
	width: 120px;
	text-align: center;
	left: -41px;
	font-size: 12px;
	color: #666;
}


/*confirmation-notice*/

.confrmation-notification {
	background-color: #fff;
	padding: 30px;
}

.confrmation-notification p {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.confrmation-notification span {
	font-size: 14px;
	font-weight: 400;
}

.confrmation-notification a.btn.btn-success,
.confrmation-notification a.btn.btn-warning,
.confrmation-notification a.btn.btn-danger {
	margin-top: -20px;
}

.post-job-form-wrapper {
	display: block;
	padding: 30px 50px 20px;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-job-form-wrapper {
	margin-bottom: 30px;
}

.infm-tittle h2 {
	font-weight: 500;
	font-size: 25px;
	padding: 0;
	color: #929396;
	text-transform: uppercase;
}

.infm-tittle h5 {
	font-weight: 500;
	font-size: 18px;
	padding: 0;
}


/*consultant-filter*/

.consultant-filter-view {
	margin: 40px 0;
}

.consultant-filter-view h4 {
	color: #929396;
	font-size: 18px;
	font-weight: 500;
}

.consultant-filter-view ul li {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
}

.consultant-filter-view ul li .star {
	font-size: 25px;
	text-align: center;
}

.post-job-form-wrapper p {
	font-weight: 500;
	font-size: 16px;
}

.post-job-form-wrapper p span {
	color: #23b256;
}

.post-job-form-wrapper .form-group {
	width: 60%;
}

.genral-infm-form .customize_form .form_field {
	margin-top: 10px;
}

.suggested-skills ul>li ul {
	display: inline-block;
}

.mass-hiring span {
	font-weight: 300;
}

.no-vacancy ul li {
	display: inline-block;
	margin-right: 20px;
}

.no-vacancy ul li .value {
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px 20px;
	font-size: 20px;
	color: #ddd;
}

.no-vacancy ul li .form_field input[type="text"] {
	margin: 0;
	height: 50px;
}

.no-vacancy ul li .form_field input::placeholder {
	color: #ddd;
}

.suggested-skills label,
.suggested-location label {
	font-size: 12px;
	letter-spacing: 1px;
	color: #8B8B8B;
	margin: 0;
	font-weight: 300;
	margin-bottom: 10px;
}

label.experience-label {
	font-size: 16px;
	letter-spacing: 1px;
	color: #8B8B8B;
	margin: 0;
	padding: 0;
	font-weight: 600;
	margin-bottom: 5px;
}

.post-job-form-next {
	display: table-cell;
	text-align: right;
}

button.btn.draft-save {
	background-color: #FFA71A;
	margin-right: 20px;
}


/*job description*/

.job-description form ul li label.radio {
	font-weight: 300;
	font-size: 12px;
	line-height: 2;
}

.upload-cv-wrapper label span {
	color: #23b256;
}

.upload-cv-wrapper p {
	font-size: 16px;
}

.description-text-box label {
	font-size: 16px;
	letter-spacing: 1px;
	color: #8B8B8B;
	margin: 0;
	font-weight: 600;
	margin-bottom: 5px;
}

.description-text-box label span.warning-text {
	color: #FF928E;
	font-weight: 400;
}

.ctc-select li {
	display: inline-flex;
	margin-right: 20px;
}

.ctc-select .select {
	width: 150px;
}

.ctc-select span {
	text-align: center;
	margin: 7px 0px 0 10px;
}

.select__arrow {
	background-image: url(../img/down-arrow.png);
	position: absolute;
	top: 16px;
	right: 15px;
	width: 18px;
	height: 18px;
	pointer-events: none;
	/*border-style: solid;
border-width: 8px 5px 0 5px;
border-color: #7b7b7b transparent transparent transparent;*/
}


/*modal box*/

.modal-pad {
	padding: 20px;
}


/*req-job-propsal*/

.req-job-msg-head span,
.req-job-msg-confirm span {
	font-size: 14px;
	font-weight: 400;
}

.req-job-msg-head p,
.req-job-msg-confirm p {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}


/*raise-an-issue*/

.raise-an-issue-head p {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.raise-an-issue-head span {
	font-size: 12px;
	font-weight: 400;
}

.raise-an-issue-msg label {
	font-size: 12px;
	font-weight: 400;
}

.raise-an-issue-msg input {
	height: 40px;
}

.add-screenshot {
	line-height: 3;
	color: #ccc;
	font-size: 12px;
}

.add-screenshot a {
	background-color: #EEEEEE;
	padding: 10px 20px;
	margin-right: 10px;
}


/*feedback-modal-box*/

#feedback-modal-box .modal-content {
	padding: 30px 30px;
}

#feedback-modal-box .modal-header {
	padding: 0;
	border-bottom: none;
	margin-bottom: 20px;
}

#feedback-modal-box .modal-header h5,
.rating-candidate-content li h5 {
	font-weight: 600;
	font-size: 16px;
	padding: 0;
	color: #000;
}

#feedback-modal-box .modal-header p,
.rating-candidate-content li p {
	font-weight: 500;
	font-size: 13px;
}

#feedback-modal-box .modal-body {
	position: relative;
	padding: 0;
}

#feedback-modal-box .modal-body .rating-candidate-content {
	display: table;
	width: 100%;
}

#feedback-modal-box .modal-body .rating-candidate-content li {
	display: table-cell;
	vertical-align: middle;
}

.rating-question-list ul li {
	display: block;
	margin: 20px 0;
}

.rating-question-list ul li {
	display: block;
	margin: 20px 0;
}

.rating-question-list ul li .btn-outline {
	background-color: #fff;
	color: #333;
	border: 1px solid #eee;
	padding: 7px 15px;
}

.modal-body .footer-btn a.btn-default {
	margin-right: 10px;
	background-color: #4A4A4A;
	color: #fff;
}

#feedback-modal-box p {
	font-size: 12px;
	font-weight: 500;
	color: #666;
	text-align: left;
}

#feedback-modal-box button {
	float: right;
}

#feedback-modal-box label {
	font-size: 12px;
	font-weight: 500;
	color: #666;
}

#feedback-modal-box .form_field textarea,
.description-text-box .form_field textarea {
	position: relative;
	display: block;
	width: 100%;
	border: 1px solid #ddd;
	padding: 10px 12px;
	margin-bottom: 12px;
	font-weight: normal;
	font-size: 15px;
	outline: 0;
	color: #000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 0px;
	height: 100px;
}


/*feed-back-footer*/

.feed-back-footer {
	padding: 10px 20px 0;
}

.feed-back-footer p {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.feed-back-footer a.btn.theme-btn {
	margin-top: -35px;
}

.input-group-addon-upload {
	position: absolute;
	top: 0;
	right: 0;
	height: 48px;
	line-height: 48px;
	color: #fff;
	width: 48px;
	text-align: center;
}


/*support-issue*/

.raise_an_issue_wrapper {
	padding: 18px 35px;
	background: #fff;
	margin-top: 15px;
}

.raise_an_button {
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	display: inline-block;
	background: #f8554e;
	border-radius: 100%;
	vertical-align: middle;
	cursor: pointer;
}

.raise_an_button a i {
	color: #fff;
}

.raise_an_content {
	width: calc(100% - 70px);
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
}

.raise_an_content h4 {
	font-size: 20px !important;
	margin: 0 !important;
	color: #000 !important;
	font-weight: 400;
}

.raise_an_content p {
	font-size: 14px !important;
	margin: 4px 0 0;
	color: #7b7e84;
}

.support_query_box {
	background: #fff;
	margin-top: 25px;
}

.support_query_box .gapping_in_bw {
	padding: 20px 20px;
}

.support_query_box .heading h5 {
	margin: 5px 0 15px !important;
	color: #000 !important;
	font-weight: 500;
	font-size: 18px !important;
}

.questing_listing {
	margin: 0 -20px;
	padding: 20px 20px;
}

.support_query_box .questing_listing:nth-child(even) {
	background: #FBFBFB;
}

.questing_listing p {
	margin: 0;
	width: calc(100% - 130px);
	display: inline-block;
	vertical-align: middle;
	font-size: 15px !important;
	color: #7b7e84;
	padding-right: 10px;
	font-weight: 500;
}

.questing_listing a {
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	font-size: 16px;
	color: #25AF5A;
}

.questing_listing a i {
	color: #666;
}

#previous_issues .questing_listing p {
	width: calc(100% - 25px);
}

.issue-stats ul.timeline li {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
	margin-bottom: 30px;
	position: relative;
}

.issue-stats ul.timeline li span {
	font-size: 10px;
	display: block;
	opacity: 0.6;
}

ul.timeline {
	list-style-type: none;
	position: relative;
}

ul.timeline:before {
	content: ' ';
	background: #D9D9D9;
	display: inline-block;
	position: absolute;
	left: 24px;
	width: 2px;
	height: 95%;
	z-index: 400;
}

ul.timeline>li {
	margin: 20px 0;
	padding-left: 60px;
}

ul.timeline>li:before {
	content: ' ';
	background: #D9D9D9;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	left: 20px;
	width: 10px;
	height: 10px;
	z-index: 400;
}

ul.timeline>li:nth-child(1):after {
	content: url('../img/plus-add.png');
	background: #F9544E;
	display: inline-block;
	position: absolute;
	top: 0;
	border-radius: 50%;
	left: 5px;
	width: 40px;
	height: 40px;
	z-index: 400;
	text-align: center;
	line-height: 54px;
}

ul.timeline>li:nth-child(4):after {
	content: url('../img/checkmark.png');
	background: #56C67E;
	display: inline-block;
	position: absolute;
	bottom: 10px;
	border-radius: 50%;
	left: 5px;
	width: 40px;
	height: 40px;
	z-index: 400;
	text-align: center;
	line-height: 54px;
}


/*star rating*/

.custom-table tbody tr:nth-child(odd) {
	background-color: #FCFBFC;
}


/**************************************************/


/*manage-wrapper*/

.manage-wrapper {
	background-color: #fff;
}

.manage-job-titles {
	padding: 20px 30px 10px;
}

.manage-job-titles p {
	text-align: left;
	font-size: 20px;
	font-weight: 600;
}

.manage-job-titles p span {
	float: right;
}

.manage-wrapper .table_row {
	background-color: #761FB3;
	color: #fff;
	padding: 5px 30px 0;
}

.table-footer .edit-post {
	padding: 20px;
}

.table-footer ul.edit-post li a {
	font-weight: 600;
	font-size: 16px;
    margin-right: 10px;
}

.table-footer {
	padding: 20px;
	text-transform: uppercase;
}


/*candidate wrapper*/

.candidate-list-view-table {
	width: 100%;
}

.candidate-list-view-table tbody tr:nth-child(even) {
	background-color: #FDFDFD;
}

.candidate-shortlisted-list {
	padding: 30px 60px;
}

.candidate-shortlisted-list ul {
	display: table-row;
}

.candidate-shortlisted-list ul li {
	display: table-cell;
	width: calc(100% / 20);
	font-weight: 500;
	color: #333;
}

.candidate-shortlisted-list ul li {
	display: table-cell;
	width: calc(100% / 20);
	font-weight: 500;
	color: #333;
}

.candidate-shortlisted-list ul li label {
	font-weight: 500;
	color: #333;
}

.candidate-shortlisted-list ul li a {
	font-weight: 500;
	color: #333;
}


/*search filter*/

.search-filter-shortlisted,
.search-filter-interviewed,
.search-filter-onhold {
	display: table;
	padding: 30px 50px;
}

.search-filter-shortlisted ul,
.search-filter-interviewed ul,
.search-filter-onhold ul {
	display: table-row;
	margin: 0;
	padding: 0;
}

.search-filter-shortlisted ul li {
	display: table-cell;
	vertical-align: middle;
	width: calc(100% / 3);
	padding-right: 20px;
}

.search-filter-shortlisted ul li button.btn-success {
	margin-top: -20px;
	border-radius: 0;
}

.search-filter-interviewed ul li {
	display: table-cell;
	vertical-align: middle;
	width: calc(100% / 6);
	padding-right: 20px;
}

.search-filter-onhold ul li {
	display: table-cell;
	vertical-align: middle;
	width: calc(100% / 4);
	padding-right: 20px;
}

#recuriter-id {
	display: block;
}

table td, th {
	padding: 20px 50px;
}

.candidate-wrapper {
	background-color: #fff;
}

.candidate-wrapper .tittle {
	padding: 20px 50px;
}

.candidate-wrapper .tittle h5 {
	font-weight: 500;
}

.candidate-wrapper .tabbable-panel {
	display: block;
}

.candidate-wrapper .nav-tabs {
	border-bottom: 2px solid #ddd;
	margin: 0px 0 0 50px;
}

.candidate-wrapper .nav-tabs>li {
	float: left;
	margin-bottom: 7px;
	width: 25%;
}

.candidate-wrapper .nav>li>a {
	position: relative;
	display: initial;
	padding: 0 0 10px 0;
}

.candidate-wrapper .tabbable-panel .nav-tabs>li.active>a,
.candidate-wrapper .tabbable-panel.nav-tabs>li.active>a:focus,
.candidate-wrapper .tabbable-panel.nav-tabs>li.active>a:hover {
	color: #111;
	cursor: default;
	background-color: #fff;
	border-bottom: 5px solid #23b256;
	border-radius: 3px;
}

.candidate-wrapper .nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
}

.candidate-wrapper .tabbable-panel .nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #111;
}

.candidate-wrapper .filter_form input::placeholder {
	font-size: 12px;
}

.job-filter thead th {
	width: 15%;
}

button.btn.dwn-resume {
	margin: 0;
	background-color: #23b256;
}

#input_img {
	position: absolute;
	top: 12px;
	left: 10px;
	width: 24px;
	height: 24px;
	font-size: 16px;
}

.show-jobs {
	position: absolute;
	font-size: 12px;
	font-weight: 00;
}

.shortlised-jobs,
.score {
	font-size: 16px;
}

.shortlised-jobs ul {
	margin-top: -10px;
}

.shortlised-jobs ul li span {
	font-size: 12px;
}

.footer-pagination {
	/*padding: 30px 50px;*/
	margin-bottom: 20px;
}

.footer-pagination span {
	font-weight: 600;
}

.footer-pagination .pagination {
	margin: 0;
}

.footer-pagination .pagination>li>a,
.pagination>li>span {
	position: relative;
	float: none;
	padding: 6px 6px;
	margin-left: 0;
	line-height: 1.42857143;
	color: #999;
	text-decoration: none;
	background-color: transparent;
	border: none;
}

.footer-pagination .pagination>li>a.active {
	color: #000;
}

.addon-placeholder {
	position: absolute;
	top: 17px;
	left: 13px;
}

input.input-with-icon {
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 6px;
	padding-left: 30px;
}

input.input-with-icon-right {
	background-image: url(../img/down-arrow.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
}

.date-timing {
	font-weight: 300;
}


/*post job*/


/*stepper*/


/*form*/


/*recuriter-found*/


/*.recuriter-feed-post ul{
list-style: none;
margin: 0;
padding: 0;
}
.recuriter-feed-post ul li{
background-color: #fff;
margin-bottom: 20px;
position: relative;
}*/

.recuriter-feed-post .list-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	line-height: normal;
	padding: 40px 30px;
	color: #929396;
	margin: 0 -35px 0 -35px;
}

.recuriter-feed-post .list-item:nth-child(odd) {
	background-color: #FCFBFC;
}

.recuriter-feed-post .list-item-main-info {
	padding-left: 30px;
}

.recuriter-feed-post .list-item-main-info .list-item-title {
	margin-bottom: 15px;
}


/*.list-item-title p{
display: inline-block;
}*/

.list-item-feed-back p,
list-item-feed-back a {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
}

.recuriter-feed-post .list-item-posted {
	font-size: 12px;
}

.recuriter-feed-post .list-item-view {
	text-align: right;
	margin-left: auto;
	padding-right: 30px;
	color: #BFC4CE;
}

.list-item-posted .star {
	font-size: 2vw;
}

.see-more {
	text-align: center;
	padding: 20px;
}

.see-more a {
	color: #24B050;
}


/*all-job-proposal*/

.slider {
	-webkit-appearance: none;
	width: 200px;
	height: 7px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 10px 0;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 50px;
	height: 7px;
	background: #23b256;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 50px;
	height: 7px;
	background: #23b256;
	cursor: pointer;
}


/*thank you*/

.thankyou-notification {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	line-height: normal;
	padding: 40px 0;
}

.thankyou-notification .tick-mark {
	color: #23b256;
	font-size: 4vw;
}

.thankyou-notification .tanku-infrm {
	margin-left: 30px;
}

.thankyou-notification .tanku-infrm span {
	font-size: 16px;
	font-weight: 400;
}

.thankyou-notification .tanku-infrm p {
	font-size: 18px;
	font-weight: 600;
}


/*manage jobs*/

.job-post-manage {
	padding: 20px 10px;
}

.manage-job-list {
	background-color: #fff;
	margin-top: 20px;
	padding: 40px;
}

.manage-list-details span {
	font-size: 12px;
	color: #999;
	/*vertical-align: middle;*/
	display: inline-block;
	padding: 0 10px;
	width: 16%;
	line-height: 18px;
}

.stats span {
	margin-right: 10px;
}

.job-post-manage ul li {
	margin-right: 20px;
}

.job-post-manage ul li a {
	color: #666;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}


/*mange*/

.panel-default {
	border: none;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
}

.panel-body {
	padding: 0px;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #fff;
	border: none;
	padding: 10px 30px;
}

.panel-default>.panel-heading p {
	font-size: 23px;
	font-weight: 500;
	letter-spacing: 0.2px;
}

.panel-default>.panel-heading span {
	font-size: 16px;
	font-weight: 600;
	opacity: 0.5;
    display: block;
}


/* Table */

.filter p {
	margin-bottom: 0;
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.manage-jobs-list tbody tr td {
	font-size: 14px;
	padding: 30px 30px 30px 30px;
}

.manage-jobs-list tbody tr td ul li a {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: 600;
	margin-right: 10px;
}

.job-position p {
	margin-left: 25px;
}

.job-position .edit-post {
	margin-left: 25px;
	margin-top: 20px;
}

.table-head {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
	text-transform: uppercase;
}

.table-head td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-head th {
	background-color: #761FB3;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.table-head td,
.table-head th {
	text-align: left;
	padding: 5px 10px;
}

.table-head tr:nth-child(even) {
	background: lightblue;
}

.manage-jobs-list a.btn.view-resp {
	margin-top: 50px;
}

.manage-jobs-list tr.table-head th:nth-child(1) {
	width: 24%;
}

.manage-jobs-list tr.table-head th:nth-child(2) {
	width: 18%;
}

.manage-jobs-list tr td:nth-child(1) {
	width: 24%;
}

.manage-jobs-list tr td:nth-child(2) {
	width: 18%;
}

.manage-jobs-list tr td:nth-child(3) {
	width: 15%;
}

.manage-jobs-list tr td:nth-child(4) {
	width: 12%;
}

.manage-jobs-list tr td:nth-child(5) {
	width: 15%;
}

.manage-job-stats {
	border-top: 20px solid #F8F8F8;
}

.candidate-name a {
	color: #23b256;
	font-size: 10px;
	margin-left: 27px;
}

tr.manage-job-view td {
	font-size: 14px;
	padding: 30px 30px 0px 30px;
}

.select-job-post {
	margin: 20px 0;
}

.shortlisted-block {
	display: inline-block;
	vertical-align: middle;
}

.shortlisted-block span {
	font-weight: 500;
	font-size: 16px;
}

.Shortlist-block a {
	margin-left: 20px;
}

.job-filter {
	padding: 0 10px;
}

.filter-field-job ul li .form_field>label,
.filter-radio label {
	font-size: 14px;
	color: #4B4B4B;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
}

.filter-field-job ul li {
	/*height: 80px;*/
	display: inline-flex;
	align-items: text-top;
	margin-right: 20px;
}

.filter-field-job ul li.first-child {
	width: 380px;
}

.custm-range-select {
	display: inline-flex;
}

.filter-field-job ul li .form_field>input {
	font-size: 14px;
	margin-bottom: 20px;
	width: 245px;
}

.filter-radio ul {
	width: 200px;
}

.filter-radio ul li {
	display: -webkit-inline-box;
}

.filter-field-job ul.bottom-check-box li label {
	font-weight: 300;
	font-size: 14px;
}


/*.filter-field-job ul li .form_field > label,
.filter-radio label {
font-size: 14px;
color: #4B4B4B;
text-transform: uppercase;
display: block;
font-weight: 600;
}
.filter-field-job ul li {
height: 80px;
display: block;
}
.custm-range-select {
display: inline-flex;
}
.filter-field-job ul li .form_field > input {
font-size: 14px;
margin-bottom: 20px;
}*/

.filter-field-job .select {
	width: 100px;
	transform: translate(24px, 22px)
}

.filter-field-job .select select {
	padding: 0 5px;
}

.filter-field-job .select .select__arrow {
	top: 5px;
}

.filter-radio ul li .form_field label {
	font-size: 12px;
	font-weight: 400;
}


/*recuiterDashboard*/

.mail-img-wrapper {
	padding: 130px 0;
}

.mail-img-wrapper {
	width: 500px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.masthead h4 {
	font-weight: 600;
	opacity: 0.8;
}

.masthead p {
	font-weight: 600;
	letter-spacing: 0.2px;
	font-size: 20px;
	opacity: 0.8;
}

.contact-support {
	color: #24b050;
	letter-spacing: 0.2px;
	font-size: 20px;
	font-weight: 500;
}


/*recuiter-all-send jobpropsal*/

.filter-job-proposal {
	padding: 25px 50px 0;
	background-color: #fff;
	/*width: 300px;*/
}

.filter-job-proposal h4 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.2;
	color: #4B4B4B;
}

.field-job-proposal ul li {
	margin: 20px 0;
}

.field-job-proposal label {
	font-size: 14px;
	color: #4B4B4B;
	letter-spacing: 0.2;
}

.field-job-proposal .form-group input.form-control-cust {
	border: 1px solid #4B4B4B;
	height: 30px;
	border-radius: 0;
}

.field-job-proposal .select {
	border: 1px solid #4B4B4B;
	height: 30px;
	border-radius: 0;
}

.field-job-proposal .select select {
	padding: 0 10px;
}

.field-job-proposal .select__arrow {
	position: absolute;
	top: 10px;
}

.field-job-proposal .form-group input[type=text]::placeholder {
	font-size: 12px;
}

.field-job-proposal a.btn.btn-success {
	margin: 20px 0;
}

.proposal-feed .feeds-title p {
	color: #4B4B4B;
	font-size: 18px;
	letter-spacing: 0.2;
}


/*recruiter-Profile*/

.recruiter-Profile .title p {
	font-size: 20px;
	color: #4B4B4B;
	font-weight: 700;
	padding: 10px 30px;
}

.recruiter-Profile>.profile-content,
.recruiter-info>.profile-content {
	background-color: #fff;
	padding: 30px 50px;
}

.profile-content .user-info {
	font-weight: 400;
	color: #4B4B4B;
	letter-spacing: 0.2;
	padding: 0px 30px 0;
}

.profile-content .user-info h4 {
	margin: 0;
	font-weight: 400;
}

.profile-content .user-info h6 {
	font-weight: 400;
	color: #4B4B4B;
	letter-spacing: 0.2;
	margin: 0;
	line-height: 2;
}

.profile-content .user-info p {
	opacity: 0.6;
}

.edit-profile {
	text-align: right;
}

.edit-profile a {
	color: #23b256;
}

.btn-linkedin {
	color: #fff;
	background-color: #007bb6;
	border-color: rgba(0, 0, 0, 0.2);
	width: 220px;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
	color: #fff;
	background-color: #005f8d;
	border-color: rgba(0, 0, 0, 0.2)
}


/*recruiter-info*/

.recruiter-info .title {
	background-color: #F5F5F5;
	padding: 10px 30px 3px;
}

.recruiter-info .title p {
	font-weight: 500;
	color: #4B4B4B;
}

.recruiter-info .user-contact-info p {
	color: #7D869A;
	font-size: 14px;
}


/*user-proffessional-info*/

.user-proffessional-info p {
	color: #7D869A;
	font-size: 16px;
	font-weight: 500;
}

.user-proffessional-info ul li {
	display: inline-block;
	margin: 10px;
}

.user-proffessional-info ul li .key-tags {
	padding: 10px 15px;
	background-color: #F7F7F7;
	color: #4B4B4B;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.user-work-history .recuriter-list-item {
	background-color: transparent;
	padding: 0;
}

.user-work-history .recuriter-list-item .rating {
	font-size: 12px;
}

.profile-content .load-more a.btn {
	color: #23b256;
}


/*user-job-stats*/

.user-job-stats h4 {
	font-size: 16px;
	font-weight: 500;
}

.user-job-stats .dashboard-card ul li {
	padding: 10px 0;
}

.user-job-stats .dashboard-card ul li span.value {
	font-size: 1.5vw;
	font-weight: bold;
	text-align: center;
	color: #4C4C4C;
	line-height: 1.5;
}

.user-job-stats .dashboard-card ul li span.text {
	font-size: 9px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	line-height: 2;
	opacity: 0.8;
}


/*view-proposal*/

#view-proposal {
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 30px;
}


/*cmpny-req*/

.cmpny-req-title h4 {
	font-weight: 500;
	color: #000;
	letter-spacing: 0.2;
	margin: 0;
	line-height: 2;
	font-size: 18px
}

.cmpny-req-title p {
	font-weight: 500;
	color: #4B4B4B;
	letter-spacing: 0.2;
	margin: 0;
	line-height: 2;
	font-size: 14px
}

.cmpny-req-post {
	display: inline-flex;
	align-items: top;
	width: 100%;
}

.cmpny-req-post>.cmpny-profile-img {
	width: 100px;
	height: 100px;
	margin: 20px 0;
	float: left;
}

.cmpny-req-post-info {
	margin-left: 20px;
}

.cmpny-req-post-info h4 {
	font-size: 25px;
	font-weight: 500;
	color: #4B4B4B;
	margin: 0;
	line-height: 3;
}

.cmpny-req-post-info h6 {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	opacity: 0.6;
	margin: 0;
	line-height: 1;
}

.cmpny-req-post-info p {
	font-size: 14px;
	font-weight: 600;
	color: #000;
	opacity: 0.5;
	margin: 0;
	line-height: 2;
}

.cmpny-location,
.cmpny-deadline,
.cmpny-job-intro,
.cmpny-ctc,
.cmpny-experience,
.cmpny-qualification {
	margin: 50px 0;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.2;
	color: #4B4B4B;
    word-break: break-all;
}

.cmpny-location p>span,
.cmpny-deadline p>span,
.cmpny-job-intro p>span,
.cmpny-ctc p>span,
.cmpny-experience p>span,
.cmpny-qualification p>span {
	font-size: 14px;
	font-weight: 400;
	color: #000;
	margin-left: 15px;
}

.cmpny-job-intro h5 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.2;
	color: #4B4B4B;
}

.cmpny-job-intro p {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2;
	color: #4B4B4B;
	font-style: italic;
}

.meal-info h5 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.2;
	color: #4B4B4B;
}

.meal-info ul li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}


/*import-resume*/

.import-resume P {
	font-size: 14px;
}


/*skils-req*/

.skils-req h5 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.2;
	color: #4B4B4B;
}

.skils-req ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 20px 0 0;
}

.skils-req ul li p {
	background-color: #F3F0FA;
	font-size: 12px;
	padding: 5px 8px;
	font-weight: 500;
	border-radius: 3px;
}


/*candidate*/

.candidate-name .view-resume {
	display: block;
	margin-left: 0;
}


/*recuiter-manage-jobs*/

.job-filter .field-job-proposal ul li {
	width: calc(100% / 10);
	margin-right: 4%;
}

.recuiter-table-head th {
	background-color: #2EBF63;
	text-transform: uppercase;
}


/***********************/


/*cutom*/

.table {
	display: table;
	width: 100%;
}

.tr {
	display: block;
}

.td {
	display: table-cell;
	width: 10%;
	text-align: left;
	overflow: hidden;
}

.manage-job-shorting {
	background-color: #fff;
}

.manage-job-title {
	padding: 20px 40px 10px 40px;
}

.shorting-table-manage-jobs {
	padding: 10px 50px;
	background-color: #761FB3;
	color: #fff;
}

.manage-job-title p {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	text-transform: capitalize;
}

.manage-job-title span {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	text-transform: capitalize;
	opacity: 0.5;
}

.shorting-table-manage-jobs .table {
	margin: 0;
}

.shorting-table-manage-jobs .table .tr {
	margin-bottom: 0;
}

.shorting-table-manage-jobs .table .tr .td {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.filter-manage-jobs {
	padding: 0 40px;
}


/*job-post-list*/

.job-post-list {
	background-color: #fff;
	padding: 40px 20px 0;
}

.job-post-list ul li {
	font-size: 12px;
	/*word-break: break-all;*/
	text-align: justify;
	padding-left: 20px;
}

.job-post-footer {
	padding: 20px 20px;
}

.job-post-footer ul.edit-post li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	margin-right: 10px;
	display: block;
	color: #858585;
	font-weight: 700;
}

.view-resp-btn {
	padding: 7px 15px;
	background-color: #F3F3F3;
	font-size: 12px;
	text-decoration: none;
	color: #858585;
	text-transform: uppercase;
}

.job-position p span a {
	color: #23b256;
	font-size: 12px;
}


/*candiadte-view-resume-pdf*/

.candidate-resume-action {
	padding: 30px;
	background-color: #fff;
	margin-top: 80px;
}

.resume-action-head h4 {
	font-weight: 600;
	font-size: 20px;
}

.resume-action-head p {
	font-weight: 500;
	font-size: 18px;
}

.resume-action-head p i {
	color: #8F8F8F;
}

.candidate-rating {
	margin: 40px 0;
}

.candidate-rating p,
.fee-conslt-wrapper p {
	color: #8F8F8F;
	font-weight: 500;
	margin: 0;
	letter-spacing: 0.2;
}

.candidate-rating .star ul li {
	font-size: 18px;
	margin-right: 10px;
}

.fee-conslt-wrapper span {
	color: #23b256;
	font-weight: 500;
}

.resume-action-bar {
	margin-top: 40px;
}

.resume-action-bar p {
	font-weight: 500;
}

.resume-action-bar ul li {
	margin: 10px 0;
}

.resume-action-bar ul li a.btn {
	background-color: #EFEFEF;
	text-transform: capitalize;
	color: #323232;
	font-weight: 500;
}

.move-next-candiadte {
	margin-top: 50px;
}

.move-next-candiadte .btn-success {
	margin-top: 10px;
}

.candidate-sts {
	margin-top: 40px;
	display: flex;
	align-items: center;
}

.candidate-sts p {
	width: 320px;
	opacity: 0.8;
}

.interview-schdul-detail h2 {
	font-size: 20px;
	font-weight: 500;
	opacity: 0.8;
}

.consultant-info-view h2 {
	font-weight: 500;
	font-size: 25px;
}

.resume-pdf-viewer-head,
.resume-pdf-viewer-head .panel-title {
	color: #fff;
	font-size: 25px;
	font-weight: 500;
}

.resume-pdf-viewer-head .panel-title {
	cursor: pointer;
}

.resume-pdf-viewer-head .panel-title img {
	padding-right: 20px;
}


/*schedule-candidate-recuiter*/

.search-compny-wrapper {
	background-color: #fff;
	padding: 20px 30px;
}

.search-compny-wrapper h5 {
	font-size: 18px;
	color: #7F879B;
	font-weight: 500;
	letter-spacing: 0.5;
}

.search-compny-list li {
	margin: 10px 0;
}

.search-compny-list li a {
	font-weight: 500;
	font-size: 14px;
}
/*tooltip*/
[class^="tooltip"] {
  position: relative;
}
[class^="tooltip"]:after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  content: attr(data-tooltip);
  padding: 6px 10px;
  top: 1.4em;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-2px);
          transform: translateX(-50%) translateY(-2px);
  background: #6812B2;
  color: #fff;
  white-space: nowrap;
  z-index: 2;
  border-radius: 2px;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
[class^="tooltip"]:hover:after {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

.tooltip--right:after {
  top: -4px;
  left: 100%;
  -webkit-transform: translateX(12%) translateY(0);
          transform: translateX(12%) translateY(0);
}
.tooltip--right:hover:after {
  -webkit-transform: translateX(10%) translateY(0);
          transform: translateX(10%) translateY(0);
}


/*modal center*/

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}


/*job-status-wrapper*/

.job-status-wrapper {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	margin: 40px;
	padding: 40px 0;
}

.job-status-wrapper .back-btn {
	color: #333;
	padding: 40px;
}

.job-sts-profile {
	background-color: #F6F6F6;
	overflow: hidden;
	margin-top: 20px;
}

.description-detail {
	border-top: 1px solid #333;
	padding: 20px 40px;
}

.profile-content-recuriter .user-info img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 30px;
	background-color: #ECECEC;
}

.profile-content-recuriter .user-info {
	font-weight: 400;
	color: #4B4B4B;
	letter-spacing: 0.2;
	padding: 20px 30px 0;
}

.profile-content-recuriter .user-info h4 {
	margin: 0;
	font-weight: 500;
}

.profile-content-recuriter .user-info h6 {
	font-weight: 500;
	color: #999;
	letter-spacing: 0.2;
	margin: 10px 0 0 0;
	line-height: 2;
}

p.deadline-date {
	font-weight: 500;
	color: #999;
	font-size: 18px;
	margin-left: 30px;
}

p.deadline-date span {
	font-weight: 400;
	color: #000;
}

.description-detail p {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
}

.job-sts-tabber {
	background-color: #fff;
	padding: 20px 40px;
}

.job-sts-tabber h4 {
	font-size: 20px;
	font-weight: 500;
}

.job-sts-tabber ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
	border: none;
}

.job-sts-tabber ul a {
	width: calc(100% / 5);
	display: inline-block;
	background-color: #FCFCFC;
	padding: 35px 0;
	margin-right: 5px;
}

.job-sts-tabber ul a.active {
	background-color: #709EF5;
}

.job-sts-tabber ul a.active span.value,
.job-sts-tabber ul a.active span.text {
	color: #fff;
}

.job-sts-tabber ul a:nth-last-child() {
	margin-right: 0px;
}

.job-sts-tabber ul a span {
	display: block;
}

.job-sts-tabber ul a span.value {
	font-size: 5vw;
	font-weight: bold;
	text-align: center;
	color: #4C4C4C;
	line-height: 1.5;
}

.job-sts-tabber ul a span.text {
	font-size: 1.3vw;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5vw;
}

.panel-body.job-stst-table-list {
	background-color: #fff;
}

.job-stst-table-list .table_head {
	background-color: #27B95C;
	width: 100%;
	display: table-caption;
}

.job-stst-table-list .table_head th {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	vertical-align: middle;
}

.job-stst-table-list table tbody tr:nth-child(odd) {
	background-color: #F6F6F6;
}

.job-stst-table-list table tbody td {
	font-size: 14px;
	font-weight: 500;
	vertical-align: middle;
}

.job-stst-table-list table tbody td .candidate-name {
	font-weight: 600;
}

.job-stst-table-list table tbody td a.view-resume {
	color: #27B95C;
	font-weight: 600;
}

.job-stst-table-list table tbody td a.btn-Withdrawl {
	background-color: #727272;
	color: #fff;
}

.job-stst-table-list .table>tbody>tr>td,
.job-stst-table-list .table>tbody>tr>th,
.job-stst-table-list .table>tfoot>tr>td,
.job-stst-table-list .table>tfoot>tr>th,
.job-stst-table-list .table>thead>tr>td,
.job-stst-table-list .table>thead>tr>th {
	padding: 20px 40px;
}

.export_data{
    color: #6812B2;
    font-weight: 600;
}

.feeds-title p a{
    color: #000;
}
.feeds-title p a:hover{
    color: #000;
}


/*Media Queries*/

@media (max-width: 1500px) {
	.pad-global {
		padding: 20px 20px 10px;
	}
	.filter p {
		font-size: 10px;
		margin-left: 17px;
	}
	.scheduled-list ul li div:before {
		left: 25%;
	}
	.table-head th {
		font-size: 10px;
	}
	.manage-jobs-list tbody tr td {
		font-size: 12px;
	}
	.job-position .check {
		font-size: 14px;
	}
	.job-position p {
		font-size: 12px;
	}
	.filter-field-job .select {
		width: 70px;
	}
	.filter-field-job .select .select__arrow {
		top: 5px;
		right: 3px;
	}
	.filter-field-job ul li .form_field>label,
	.filter-radio label {
		font-size: 9px;
	}
	.form-control-cust {
		font-size: 16px;
	}
	.form_field .check {
		font-size: 14px;
	}
	.btn-outline {
		font-size: 12px;
	}
	.input-group-addon-upload {
		height: 40px;
        line-height: 39px;
	}
	.inteview-detail p {
		font-size: 16px;
	}
	.inteview-detail .candidate-designation {
		font-size: 14px;
	}
	.natification-stepper ul.nav li a span.tab-icon {
		width: 67px;
		height: 60px;
		line-height: 60px;
	}
	.search-compny-list li a {
		font-size: 12px;
	}
	.search-filter-shortlisted ul li button.btn-success {
		margin-top: -20px;
		padding: 9px;
	}
	/*filter*/
	.filter-field-job ul li.first-child {
		width: 245px;
	}
	.filter-field-job ul li .form_field>input {
		margin-bottom: 20px;
		width: 130px;
	}
	.filter-radio ul {
		width: 200px;
	}
	.filter-radio ul li {
		display: -webkit-inline-box;
	}
	.filter-field-job ul.bottom-check-box li label {
		font-weight: 300;
	}
    .interview-card {
    height: 275px;
}
}