
    <!--section-->
    <section>
        <div class="row">
            <div class="manage-user-top">
        <div class="col-md-7">
             <div class="top-tabber-grp-btn">
               <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="pill" href="#home">Employer</a></li>
        <li><a data-toggle="pill" href="#menu1">Recruiter</a></li>
        <li><a data-toggle="pill" href="#menu1">Manager</a></li>
        <li><a data-toggle="pill" href="#menu1">Super Admin</a></li>
               </ul>
           </div>
            </div>
            
            <div class="col-md-5">
            <ul class="list-inline f-right">
                        <li><a class="btn btn-purple">Download Excel Sheet</a></li>
                         <li><a class="btn btn-success" data-toggle="modal" data-target="#modal-inquire">Add New Accounts</a></li>
                      </ul>
            </div>
        </div>
            </div>
        
        
        <div class="row">
       <div class="col-md-3">
          <div class="filter-job-proposal">
             <h4><i _ngcontent-c3="" class="fas fa-plus"></i> Filter</h4>
             <form>
                <div class="field-job-proposal">
                   <ul>
                      <li>
                         <div class="form-group">
                            <label>Designated User</label>
                            <input type="text" name="" class="form-control-cust" placeholder="Type the user name">
                         </div>
                      </li>
                      <li>
                         <div class="form-group">
                            <label>Oraganisation</label>
                            <input type="text" name="" class="form-control-cust" placeholder="Type the company name">
                         </div>
                      </li>
                        <li>
                         <label>Status Of Account</label>
                         <div class="select">
                            <select>
                               <option>USD</option>
                               <option>Option</option>
                               <option>Option</option>
                            </select>
                            <div class="select__arrow"></div>
                         </div>
                      </li>
                        <li>
                         <label>Expiration Period</label>
                         <div class="select">
                            <select>
                               <option>USD</option>
                               <option>Option</option>
                               <option>Option</option>
                            </select>
                            <div class="select__arrow"></div>
                         </div>
                      </li>
                        <li>
                         <label>Assigned To</label>
                         <div class="select">
                            <select>
                               <option>USD</option>
                               <option>Option</option>
                               <option>Option</option>
                            </select>
                            <div class="select__arrow"></div>
                         </div>
                      </li>
                   </ul>
                   <p class="text-center">
                      <a class="btn btn-success" routerLink="/recruiterHeader/sendProposal">Apply Filters</a>
                   </p>
                </div>
             </form>
          </div>
       </div>
        
        <div class="col-md-9">
            
       <div class="view-job-rec-wrapper">
        <table>
           <thead  class="manage-job-table-head  list-inline">
            <tr> 
                    <th>Name</th>
                    <th>Company</th>
                    <th>Activation date <!-- <i class="fas fa-sort"> --></th>
                    <th>Email <!-- <i class="fas fa-sort"> --></th>
                    <th>Number</th>
                    <th>Status</th>
                   </tr></thead>
            <tbody>
                  <tr *ngFor ="let user of users">
                    <td>{{user.user_name}}</td>
                    <td>{{user.company_name}}</td>
                    <td>{{user.created_at  | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{user.email_id}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.status}}</td> 
                  </tr>  
               </tbody>
        </table>
       <!--  <div class="view-job-rec-table-head">
            <ul class="list-inline">
                      <li>name</li>
                      <li>company</li>
                      <li>activation date <i class="fas fa-sort"></i></li>
                      <li>expiry date <i class="fas fa-sort"></i></li>
                     <li>managed by</li>
                     <li>status</li>
            </ul>
        </div> -->
    </div>
    
    
    <!--view-job-rec-list-content-->
    <!-- <div class="view-job-rec-list-content">
        <div class="view-job-rec-table-list m-t-30">
            <ul class="list-inline">
                   <li>
                      <div class="job-position">
                         HR Manager
                         <p class="job-position-id m-t-20">(#abcf123541)</p>
                      </div>
                   </li>
                   <li>
                      <div class="posted-by">
                         UX Gorilla
                      </div>
                   </li>
                  <li><span class="date">31st may,2018</span><br>
                <span class="time">10:13 AM</span>
                </li>
                   <li><span class="date">31st may,2018</span><br>
                <span class="time">10:13 AM</span>
                </li>
                   <li>Ravi
                               <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                   <li>
                      <div class="stats">
                         <span class="active-stats"><i class="fas fa-circle"></i>
                         </span> Active
                      </div>
                   </li>
            </ul>
            
            <div class="view-job-rec-table-list-footer">
                <div class="row">
                <div class="col-md-10">
             <ol class="list-inline edit-post">
                <a routerLink="/main/userprofile">See Profile & Report</a>
                <a>23 Resume downloaded</a>
             </ol>
                    </div>
                <div class="col-md-2">
             <a class="reject-stats" data-toggle="modal" data-target="#modal-block-acc">Block Account</a>
                </div>
                    </div>
          </div>
        </div>
        
        <div class="view-job-rec-table-list m-t-30">
            <ul class="list-inline">
                   <li>
                      <div class="job-position">
                         HR Manager
                         <p class="job-position-id m-t-20">(#abcf123541)</p>
                      </div>
                   </li>
                   <li>
                      <div class="posted-by">
                         UX Gorilla
                      </div>
                   </li>
                  <li><span class="date">31st may,2018</span><br>
                <span class="time">10:13 AM</span>
                </li>
                   <li><span class="date">31st may,2018</span><br>
                <span class="time">10:13 AM</span>
                </li>
                   <li>Ravi
                               <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                   <li>
                      <div class="stats">
                         <span class="active-stats"><i class="fas fa-circle"></i>
                         </span> Active
                      </div>
                   </li>
            </ul>
            
            <div class="view-job-rec-table-list-footer">
                <div class="row">
                <div class="col-md-10">
             <ol class="list-inline edit-post">
                <a routerLink="/main/userprofile">See Profile & Report</a>
                <a>23 Resume downloaded</a>
             </ol>
                    </div>
                <div class="col-md-2">
             <a class="reject-stats" data-toggle="modal" data-target="#modal-block-acc">Block Account</a>
                </div>
                    </div>
          </div>
        </div>
        
        <div class="view-job-rec-table-list m-t-30">
            <div class="status-bar pending-appravl">Pending approval</div>
            <ul class="list-inline">
                   <li>
                      <div class="job-position">
                         HR Manager
                         <p class="job-position-id m-t-20">(#abcf123541)</p>
                      </div>
                   </li>
                   <li>
                      <div class="posted-by">
                         UX Gorilla
                      </div>
                   </li>
                  <li><span class="date">31st may,2018</span><br>
                <span class="time">10:13 AM</span>
                </li>
                   <li><span class="date">31st may,2018</span><br>
                <span class="time">10:13 AM</span>
                </li>
                   <li>Ravi
                               <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                   <li>
                      <div class="stats">
                         <span class="reject-stats"><i class="fas fa-circle"></i>
                         </span> Inactive
                      </div>
                   </li>
            </ul>
            
            <div class="view-job-rec-table-list-footer">
                <div class="row">
                <div class="col-md-10">
             <ol class="list-inline edit-post">
                <a routerLink="/main/userprofile">See Profile & Report</a>
             </ol>
                    </div>
                    </div>
          </div>
        </div>
        
        <div class="view-job-rec-table-list m-t-30">
            <div class="status-bar job-deadline">Contract Expired</div>
            <ul class="list-inline">
                   <li>
                      <div class="job-position">
                         HR Manager
                         <p class="job-position-id m-t-20">(#abcf123541)</p>
                      </div>
                   </li>
                   <li>
                      <div class="posted-by">
                         UX Gorilla
                      </div>
                   </li>
                  <li><span class="date">31st may,2018</span><br>
                <span class="time">10:13 AM</span>
                </li>
                   <li><span class="date">31st may,2018</span><br>
                <span class="time">10:13 AM</span>
                </li>
                   <li>Ravi
                               <span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                   <li>
                      <div class="stats">
                         <span class="reject-stats"><i class="fas fa-circle"></i>
                         </span> Inactive
                      </div>
                   </li>
            </ul>
            
            <div class="view-job-rec-table-list-footer">
                <div class="row">
                <div class="col-md-10">
             <ol class="list-inline edit-post">
                <a routerLink="/main/userprofile">See Profile & Report</a>
             </ol>
                    </div>
                    </div>
          </div>
        </div>
    </div> -->
            
            <!--footer-pagination-->
      <!--       <div class="footer-pagination m-t-20">
       <span>Showing 1 to 5 of 15 entries</span>
       <ul class="pagination pull-right">
          <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
       </ul>
    </div> -->
        </div>
        </div>
    </section>
      
        
        
            
        <!--modal pop-up-->
    
      <!-- Modal-sign-up-->
        <div id="modal-overview-inquire">
      <div class="modal fade" id="modal-inquire" role="dialog">
          
        <div class="modal-dialog">
        
          <!-- Modal content-->
         <div class="modal-content">
                <div class="close  cls-cstm" style="margin-top: 10px;margin-right: 10px;transform: scale(0.6);">
                        <a data-dismiss="modal" aria-hidden="true"><img src="assets/img/cancel.png" ></a>
                     </div>
                    <!--inquire-modal-->
                   <div id="manage-new-acc-sign-up">
       <div class="signup-box">
          <!--heading-text-->
           <div class="row">
           <div class="col-md-6">
           <h1>Create a Account</h1>
           </div>
           <div class="col-md-6">
           <div class="top-tabber-grp-btn">
               <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="pill" href="#home">Company</a></li>
        <li><a data-toggle="pill" href="#menu1">Recruiter</a></li>
               </ul>
           </div>
           </div>
               </div>
          <!--company-profile-->
          <div class="sign-up-profile m-t-20">
             <div class="row">
                <div class="col-md-2">
                   <div class="icon-addon">
                      <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
                      <span class="upadate-img"><i class="fas fa-pen"></i></span>
                   </div>
                </div>
                <div class="col-md-10">
                   <div class="user-info">
                      <h4>Upload your company's Logo</h4>
                      <h6>Best resolution 200*200,Size less than 10kb.</h6>
                   </div>
                </div>
             </div>
          </div>
          <div class="sign-up-form m-t-20">
             <form action="/">
                <!--name-->
                <div class="form-group">
                   <label class="control-label">Recruiter Name</label>
                   <input name="" type="text" placeholder="Enter your name, for eg. rohan" class="form-control-cust">
                </div>
                <!--Individual or agancey-->
                <div class="form-group">
                   <label class="control-label">Level of candidates recruiter deal with?</label>
                   <input name="" type="text" placeholder="Choose the level of candidate you deal with" class="form-control-cust">
                </div>
                 
                 <!--Individual or agancey-->
                 <div class="form_field">
                                  <label class="check label-cust" routerLink="/viewResume">Does he excel in mass hiring?
                                  <input type="checkbox" checked="checked" name="is_name">
                                  <span class="checkmark"></span>
                                  </label>
                                    <span>(10<sup>+</sup> candidate it's a mass hiring)</span>
                               </div>
                
                <!--Designation-->
                <div class="form-group">
                   <label class="control-label">CTC for which recruiter have candidates?</label>
                   <input name="" type="text" placeholder="Select from the range " class="form-control-cust">
                </div>
                <!--Loaction-->
                <div class="form-group">
                   <label class="control-label">Recruiter Location</label>
                   <input name="" type="text" placeholder="Enter the area you work in. for eg.Gurgaon " class="form-control-cust">
                </div>
                <!--Description-->
                <div class="form-group">
                   <label class="control-label">Recruuiter Description (optional)</label>
                   <textarea placeholder="Describe about the sector, culture, achivement, and more about your company."></textarea>
                </div>
             </form>
             <p class="text-center">
                <a class="btn btn-success">Create Account Now</a>
             </p>
          </div>
       </div>
    </div>
                </div>
             </div>
          </div>
          
        </div>
        
        
      <!-- Modal-block-acc-->
        <div id="modal-overview-inquire">
      <div class="modal fade" id="modal-block-acc" role="dialog">
        <div class="modal-dialog modal-lg">
        
          <!-- Modal content-->
            
         <div class="modal-content modal-block-bg">
             <div class="row">
                <div class="modal-body">
                   <div class="close  cls-cstm">
                      <a data-dismiss="modal" aria-hidden="true"><img src="assets/img/cancel.png" ></a>
                   </div>
                    
                    <!--response-modal-->
                   <div class="inquire-modal-content modal-pad">
                    <div class="list-wrapper">
                        <div class="posted-pic">
                                <img src="https://via.placeholder.com/50x50" class="thumbnail">
                                </div>
                           <div class="list-description">
                           <h4>Aman Gautam</h4>
                            <p>UX Gorilla, Employer</p>
                           </div>
                           </div>
                       <br>
                    <!--job-description-textbox-->
                      <div class="description-text-box">
                         <div class="form_field">
                            <label>Reason for Blocking the Account</label>
                            <textarea></textarea>
                         </div>
                      </div>
                       
                       <!--btn-->
                       <ul class="list-inline f-right" style="margin-bottom: 30px;">
                        <li><a class="btn btn-withdraw">Block Account temporarily</a></li>
                         <li><a class="btn btn-danger" data-toggle="modal" data-target="#modal-inquire">Remove account</a></li>
                      </ul>
                    </div>
                </div>
             </div>
          </div>
             </div>
          </div>
          
        </div>
      