
.view-job-rec-table-head {
    background-color: #2EBF63;
}   

.view-job-wrapper {
        background-color: #fff;
    }

    .view-job-wrapper p {
        padding: 10px 20px 0px;
    }

    .view-job-table-head {
        background-color: #27B95C;
    }

    .view-job-table-head ul {
        display: block;
        padding: 10px 40px;
        color: #fff;
    }

    .view-job-table-head ul li {
        width: calc(100% / 5);
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }

    /*list*/

    .view-job-table-list {
        background-color: #fff;
    }
    .view-job-table-list ul {
        display: block;
        padding: 40px 20px;
        color: #333;
    }
    .view-job-table-list ul li {
        width: calc(100% / 5);
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        vertical-align: middle;
    }
    .view-job-table-list ul li a.btn-Withdrawl{
	background-color: #727272;
	color: #fff;
}
    .view-job-table-list ul li a.view-resume{
	color: #27B95C;
	font-weight: 600;
}
    
    .view-job-list-content .view-job-table-list:nth-child(odd) {
	background-color: #F6F6F6;
}

.warning-msg{
    text-align: center;
}
.warning-msg h6{
    font-weight: 500;
    color: #000;
    font-size: 16px;
    margin-top: 40px;
}
.warning-msg p.note{
    font-weight: 500;
    color: #FFB43C;
    font-size: 14px;
    padding: 30px 0;
}
.warning-msg ul li{
    display: inline-block;
    vertical-align: middle;
}

