<!--thank-you-notification-->
<div class="thankyou-notification">
   <div class="tick-mark">
      <i class="fas fa-check-circle"></i>
   </div>
   <div class="tanku-infrm">
      <p>Thank you for sharing the details with us</p>
      <span>We are now searching the best consultants for you proposal request.</span>
   </div>
</div>
<!--Duplicate -form-filled-->
<div class="confrmation-notification">
   <div class="list-item-title">
      <p>Do you want to change the details?</p>
      <span>Change the requirments for the job position.</span>
      <a class="btn btn-warning pull-right">Edit Details</a>
   </div>
</div>
<!--genral -informtion-form-->
<div class="post-job-form-wrapper">
   <div class="infm-tittle">
      <h2 id="job-id">job id #cpey00231</h2>
      <h5>We found 300+ consultants for you</h5>
   </div>
   <!--hide-filters-->
   <div class="consultant-filter-view">
      <h4>-Hide Filter</h4>
      <ul>
         <li>
            <span class="star">
            <span class="fas fa-star checked"></span>
            <span class="fas fa-star checked"></span>
            <span class="fas fa-star checked"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            </span>
         </li>
         <li>
            <div class="icon-addon">
               <div class="form-group">
                  <div class="icon-addon addon-lg">
                     <input type="text" placeholder="Fee 8% of CTC" class="form-control-cust input-with-icon-right" id="">
                  </div>
               </div>
            </div>
         </li>
         <li>
            <div class="icon-addon">
               <div class="form-group">
                  <div class="icon-addon addon-lg">
                     <input type="text" placeholder="Year of Experience" class="form-control-cust input-with-icon-right" id="">
                  </div>
               </div>
            </div>
         </li>
      </ul>
   </div>
   <div class="recuriter-found">
      <div class="recuriter-feed-post">
         <div class="row">
            <ul>
               <li class="list-item">
                  <label class="check ">
                  <input type="checkbox" checked="checked" name="is_name">
                  <span class="checkmark"></span>
                  </label>
                  <div class="list-item-main-info">
                     <p class="list-item-title">
                        Recruiter with <b>fee 5% of CTC.</b>
                     </p>
                     <div class="list-item-posted">
                        <span class="star">
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        </span>
                     </div>
                  </div>
                  <div class="list-item-view">
                     120 recruters found
                  </div>
               </li>
               <li class="list-item">
                  <label class="check ">
                  <input type="checkbox" checked="checked" name="is_name">
                  <span class="checkmark"></span>
                  </label>
                  <div class="list-item-main-info">
                     <p class="list-item-title">
                        Recruiter with <b>fee 6% of CTC.</b>
                     </p>
                     <div class="list-item-posted">
                        <span class="star">
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        </span>
                     </div>
                  </div>
                  <div class="list-item-view">
                     120 recruters found
                  </div>
               </li>
               <li class="list-item">
                  <label class="check ">
                  <input type="checkbox" checked="checked" name="is_name">
                  <span class="checkmark"></span>
                  </label>
                  <div class="list-item-main-info">
                     <p class="list-item-title">
                        Recruiter with <b>fee 7% of CTC.</b>
                     </p>
                     <div class="list-item-posted">
                        <span class="star">
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        </span>
                     </div>
                  </div>
                  <div class="list-item-view">
                     120 recruters found
                  </div>
               </li>
               <li class="list-item">
                  <label class="check ">
                  <input type="checkbox" checked="checked" name="is_name">
                  <span class="checkmark"></span>
                  </label>
                  <div class="list-item-main-info">
                     <p class="list-item-title">
                        Recruiter with <b>fee 8% of CTC.</b>
                     </p>
                     <div class="list-item-posted">
                        <span class="star">
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        </span>
                     </div>
                  </div>
                  <div class="list-item-view">
                     120 recruters found
                  </div>
               </li>
            </ul>
         </div>
      </div>
      <div class="confrmation-notification">
         <div class="list-item-title">
            <p>Congrutulations, You are almost there.</p>
            <a class="btn btn-success pull-right" data-toggle="modal" data-target=".req-job-prposal">Request Job Proposal</a>
         </div>
      </div>
   </div>
</div>
<!--roter-->
<!--POPUP-->
<div class="modal fade req-job-prposal" tabindex="-1" role="dialog" aria-labelledby="req-job-prposal">
   <div class="modal-dialog">
      <div class="modal-content modal-pad">
         <div class="modal-body">
            <div class="req-job-msg-head">
               <p>Setup your calender</p>
               <span>Select days and time for the prospect interviews.</span>
            </div>
            <div class="req-job-msg-confirm m-t-40">
               <div class="col-md-2">
                  <div class="check-confrm">
                     <img src="https://png.icons8.com/ios/100/21B453/ok-filled.png" width="70" height="auto">
                  </div>
               </div>
               <div class="col-md-10">
                  <p>Congratulation, your job has been posted now.</p>
                  <span>Last step is to plan your calender for convenience in interview.</span>
               </div>
            </div>
            <div class="clear-both"></div>
            <div class="m-t-40">
               <a class="btn pull-left">Skip for now</a>
               <a class="btn btn-purple pull-right">Plan Now</a>
               <div class="clear-both"></div>
            </div>
         </div>
      </div>
   </div>
</div>