<style>
div#spinner {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000; position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  top:0;
    bottom:0;}
  span
  {
    position: relative;
    top: calc(50% - 75px);
  }
</style>
<div class="loader">
<div #spinner id="spinner">
  <span>
    <svg class="lds-default" width="150px" height="150px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="74" cy="50" fill="undefined" r="3.6">
    <animate attributeName="r" values="3.5999999999999996;3.5999999999999996;6;3.5999999999999996;3.5999999999999996" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.875s"></animate>
    <animate attributeName="fill" values="#ffffff;#ffffff;#ffffff;#ffffff;#ffffff" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.875s"></animate>
  </circle><circle cx="66.971" cy="66.971" fill="undefined" r="3.6"> <animate attributeName="r" values="3.5999999999999996;3.5999999999999996;6;3.5999999999999996;3.5999999999999996" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.75s"></animate>
    <animate attributeName="fill" values="#ffffff;#ffffff;#ffffff;#ffffff;#ffffff" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.75s"></animate> </circle><circle cx="50" cy="74" fill="undefined" r="4.64">
    <animate attributeName="r" values="3.5999999999999996;3.5999999999999996;6;3.5999999999999996;3.5999999999999996" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.625s"></animate>
    <animate attributeName="fill" values="#ffffff;#ffffff;#ffffff;#ffffff;#ffffff" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.625s"></animate> </circle><circle cx="33.029" cy="66.971" fill="undefined" r="5.84">
    <animate attributeName="r" values="3.5999999999999996;3.5999999999999996;6;3.5999999999999996;3.5999999999999996" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.5s"></animate> <animate attributeName="fill" values="#ffffff;#ffffff;#ffffff;#ffffff;#ffffff" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.5s"></animate> </circle>
    <circle cx="26" cy="50" fill="undefined" r="4.96"> <animate attributeName="r" values="3.5999999999999996;3.5999999999999996;6;3.5999999999999996;3.5999999999999996" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.375s"></animate>
    <animate attributeName="fill" values="#ffffff;#ffffff;#ffffff;#ffffff;#ffffff" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.375s"></animate> </circle><circle cx="33.029" cy="33.029" fill="undefined" r="3.76">
      <animate attributeName="r" values="3.5999999999999996;3.5999999999999996;6;3.5999999999999996;3.5999999999999996" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.25s"></animate> <animate attributeName="fill" values="#ffffff;#ffffff;#ffffff;#ffffff;#ffffff" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.25s"></animate> </circle>
    <circle cx="50" cy="26" fill="undefined" r="3.6"> <animate attributeName="r" values="3.5999999999999996;3.5999999999999996;6;3.5999999999999996;3.5999999999999996" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.125s"></animate>
      <animate attributeName="fill" values="#ffffff;#ffffff;#ffffff;#ffffff;#ffffff" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.125s"></animate> </circle><circle cx="66.971" cy="33.029" fill="undefined" r="3.6">
      <animate attributeName="r" values="3.5999999999999996;3.5999999999999996;6;3.5999999999999996;3.5999999999999996" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="0s"></animate> <animate attributeName="fill" values="#ffffff;#ffffff;#ffffff;#ffffff;#ffffff" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="0s"></animate> </circle></svg>
  </span>
</div>
</div>
<router-outlet></router-outlet>
<!-- Playground End-->