<div id="breadcrum">
   <ul>
      <li><a routerLink="/main/about">About</a></li>
      <li>Privacy Policy</li>
   </ul>
</div>
<!-- Organisation -->
<section id="faqs_wrapper">
   <div class="container">
      <div class="row">
          
    <div class="prvcy-polcy">
<div class="prv-cont">
  <h2>PRIVACY POLICY </h2>
  <p>This Privacy Policy explains how [.] (“Website”) developed, owned, managed and operated by Multilinks Human Resource Consultants Pvt. Ltd. (defined herein below) values User(s) (defined herein below) privacy and how it is committed to protect privacy of each User.  </p>
</div>


<div class="prv-cont">
  <h2>DEFINITIONS </h2>
  <p>In this document, terms that commence with a capital letter are defined in this Section and shall have the following meaning: </p>

<p><strong>“Applicable Laws”</strong> mean all statutes, enactments, acts of legislature or parliament, laws, ordinances, rules, bye-laws, regulations, notifications, guidelines, policies, directions, directives, writs, judgments, injunctions, awards or decrees or orders, whether temporary, preliminary or final, of any court, arbitral tribunal, commission or governmental authority that apply to the Users and/or People Infinia; </p>
  <p><strong>“Biometric Data” </strong> means facial images, fingerprints, iris scans, or any other similar Personal Data (defined herein below) resulting from measurements or technical Processing (defined herein below) operations carried out on physical, physiological, or behavioral characteristics of the User which allow or confirm the unique identification of that User; </p>
  <p><strong>“People Infinia/Us/We/Our”</strong> means Multilinks Human Resource Consultants Pvt. Ltd., a company incorporated and existing under the Companies Act, <mark>(Act & Registered address)</mark></p>
  <p><strong>“Genetic Data”</strong>means Personal Data relating to the inherited or acquired genetic characteristics of the User which give unique information about the behavioral characteristics, physiology or the health of that User and which result, in particular, from an analysis of a biological sample from the User in question; </p>
  <p><strong>“Health Data”</strong> means data related to the state of physical or mental health of the User and includes records regarding the past, present or future state of the health of such User, data collected in the course of registration for, or provision of health services, data associating the User to the provision of specific health services; </p>
  <p><strong>“Intersex Status”</strong> means the condition of a User who is— (i) a combination of female or male; (ii) neither wholly female nor wholly male; or (iii) neither female nor male; </p>
  <p><strong>“Official Identifier”</strong> means any number, code, or other identifier, including aadhaar number, assigned to a User under a law made by Parliament or any State Legislature which may be used for the purpose of verifying the identity of the User; </p>
  <p><strong>“Personal Data”</strong> means data or any information about or relating to a User who is directly or indirectly identifiable, having regard to any characteristic, trait, attribute or any other feature of the identity of such natural person, or any combination of such features, or any combination of such features with any other information such as a name, an identification number, location data etc. and shall include Sensitive Personal Data; </p>
  <p><strong>“Processing”</strong> in relation to Personal Data, means an operation or set of operations performed on Personal Data, and may include operations such as collection, recording, organization, structuring, storage, adaptation, alteration, retrieval, use, alignment or combination, indexing, disclosure by transmission, dissemination or otherwise making available, restriction, erasure or destruction; </p>
  <p><strong>“Sensitive Personal Data”</strong> means any data revealing, related to, or constituting, as may be applicable (i) password; (ii) Financial Data (iii) Health Data (iv) Official Identifier (v) sexual life (vi) sexual orientation (vii) Biometric Data (viii) Genetic Data (ix) Transgender Status (x) Intersex Status; (xi) caste or tribe; (xii) religious or political belief or philosophical belief or affiliation; or (xiii) any other category of data specified by any data protection authority under Applicable Laws; </p>
  <p><strong>“Service(s)”</strong>  means an online platform provided by People Infinia which helps Users to connect with other Users for the purpose of recruitment needs;  </p>
  <p><strong>“User(s)”</strong> or <strong>“You(r)”</strong>means any natural or legal person including but not limited to any company, firm, sole proprietorship or other associations of individuals, who visits, searches, accesses or registers on our Website.</p>
</div>

<div class="prv-cont">
  <h2></h2>
  <p><strong>1.1</strong> When any User visits Our Website, We collect session data through Our tools, which shall include, but not limited, to the following:</p>
  <ol class="count">
    <li>The type of browser and operating system used; </li>
    <li>The domain name of the site from which such User came; </li>
    <li>The date, time and duration for which such User have visited Our Website; </li>
    <li>Number of Visits; </li>
    <li>The web pages or services User accessed at Our Website; </li>
    <li>If You download a form, the form that was downloaded.  </li>
  </ol>
  <cite>None of the above is Personal Data or Sensitive Personal Data.  </cite>

  <p><strong>1.2</strong> When any User requests for additional information regarding Our Services, We only collect Personal Data viz. name, email and phone number, that is required by Us to provide such User the details regarding the Services which such User is interested in and it is specifically for the purpose of giving such User, the additional information requested and in no way is transferred to anybody else.  </p>

  <p><strong>1.3</strong> When any User registers on Our Website to seek Our Services, We collect Personal Data provided herein below for Us to register such User for purpose of providing Our Services. In the event any User fails to provide its Personal Data mentioned below, We won’t be able to register and provide Our Services to such User. </p>
    <div class="privacy-scrl">
  <table class="table table-bordered table-responsive" >
  <thead>
    <th>Category of Personal Data collected Category of Personal Data collected </th>
    <th>What this means </th>
  </thead>
  <tbody>
    <tr>
      <td>Identity Data</td>
      <td >First name, maiden name, last name, marital status, date of birth, gender, username, password or other forms of identification details.</td>
    </tr>
<tr>
  <td>Official Identifier Data  </td>
  <td>As defined herein above. </td>
</tr>
<tr>
  <td>Contact Data </td>
  <td>Your home address, work address, billing address, email address and telephone numbers. 
</td>
</tr>
<tr>
  <td>Financial Data </td>
  <td>As defined herein above. </td>
</tr>
<tr>
  <td>Marketing and Communications Data </td>
  <td>Your preferences in receiving marketing from Us. If You correspond with Us by email or messaging for seeking Services, We may retain the content of such messages and Our responses. 
</td>
</tr>
  </tbody>
  </table>
</div>
    <br>
  <p><strong>1.4</strong> Rightsof Users Relating to Personal Data</p>
  <ul class="disc">
    <li><strong>Request correction of the Personal Data We hold about You: </strong>A right to have any incomplete or inaccurate Personal Data that We hold of You corrected; </li>
    <li><strong>Request erasure of Your Personal Data: </strong>A right to ask Us to delete or remove Your Personal Data where such Personal Data is no longer necessary in relation to purposes for which it was collected or You want to withdraw Your consent for use of such Personal Data or such Personal Data is unlawfully processed or such Personal Data has to be erased in compliance with legal obligation; </li>
    <li><strong>Request transfer of Your Personal Data:</strong>A right to request Us to provide to other Users, or a third party in a structured, commonly used, machine-readable format any Personal Data they have chosen. Note that this right only applies to automated information which such Users may have initially provided and consented for use by Us or where We may have used such Personal Data to perform a contract with such Users;  </li>
    <li><strong>Withdraw consent: </strong>A right to withdraw consent for use of Personal Data by writing to Our Data Protection Officer (“DPO”) at [.]. However if any User withdraws consent, We may not be able to provide them with access to certain specific functionalities of Our Website or Our Services; </li>
    <li><strong>Right to receive confirmation of Processing and access to Personal Data: </strong>A right to receive confirmation of Processing of Personal Data and to have access to Personal Data along with a brief summary of the Processing activities being undertaken by Us on the Personal Data. </li>
  </ul>

  <p><strong>1.5</strong> Additional Rights available to Users in European Union (EU) with regard to their Personal Data </p>
  <ul class="disc">
    <li><strong>Object to Processing of Your Personal Data:  </strong>A right to object to Processing of Personal Data, where We are Processing Personal Data for Users in EU for direct marketing purposes; </li>
    <li><strong>Request the restriction of Processing of Your Personal Data: </strong>A right to ask Us to suspend the Processing of Your Personal Data; where such Users in EU feel that the Personal Data is not accurate or such Processing is unlawful. </li>
  </ul>
</div>

<div class="prv-cont">
  <h2>How such Users can exercise their rights? </h2>
  <p>If at any time any User has questions about Our practices or any of its rights described above or any complaints with regard to this Privacy Policy or Our practices in relation to Your Personal Data, such User may reach out to Our Data Protection Officer (“DPO”) at [.]. This inbox is actively monitored and managed so that We can deliver an experience that You can confidently trust.  
  <br>
  We try to revert to all legitimate requests within 30 (thirty) days of a request being made by any User. Occasionally, it may take us longer than the time mentioned herein if any request is particularly complex or in the event of a number of requests being made. In such case, We will notify such User and keep them updated.  
  <br>
  If any User in EU feels that their complaint has not been adequately resolved, they have the right to contact their local data protection supervisory authority.
  <br>
  If any User outside EU is dissatisfied with the manner in which the grievance is resolved or We have rejected the grievance raised by such User or such User’s grievance is not resolved within the time stipulated herein above, then such Users outside EU shall have a right to file a complaint with the adjudicating officer of the data protection authority, whenever appointed in accordance with applicable data protection laws of India.  
  <br>
</p>
</div>

<div class="prv-cont">
  <h2>No Special Categories of Personal Data </h2>
  <p>We do not collect any Sensitive Personal Data about any User except their password and Financial Data nor do we collect any Personal Data of Users in EU with regard to criminal conviction and offences.  </p>
</div>


<div class="prv-cont">
  <h2>Our Policy on Children Privacy for Users  </h2>
  <p>Protecting the privacy of young children is important to Us. The Services are not intended for and We do not collect or solicit Personal Data of children outside EU below 18 years and for children in EU below 16 years. We encourage parents and legal guardians to monitor their children's internet usage and to help Us enforce Our Privacy Policy by instructing their children never to provide Personal Data on Our Website. If We become aware that We have collected Personal Data from a child under the age of 16 years in EU and a child under the age of 18 years outside EU, We will take appropriate steps to remove that Personal Data.  </p>
</div>


<div class="prv-cont">
  <h2><strong>1</strong> HOW WE USE THE PERSONAL DATA OF USERS WE COLLECT </h2>
  <p>We strongly believe in both minimizing the Personal Data We collect and limiting the use and disclosure of such Personal Data only to Our employees, contractors and agents </p>
  <ol class="count">
    <li>to deliver and improve Our Services;</li>
    <li>to provide the Users with information about Our Services</li>
    <li>to provide You with e-newsletters You have requested </li>
    <li>to manage Your account and provide You with customer support;</li>
    <li>to diagnose or fix technology problems; </li>
    <li>to verify Your identity and prevent fraud or other unauthorized or illegal activity;</li>
    <li>where disclosure is necessary to be in compliance with law;</li>
    <li>where certain Personal Data has to be provided to third-party intermediaries that manage credit or debit card Processing. </li>
  </ol>

  <p>These individuals (as applicable) are bound by the confidentiality obligations and may be subject to disciplinary action, including termination (as applicable), if they fail to meet these obligations.  
  <br>
We take reasonable steps to ensure that the Personal Data We Process is accurate, complete, and current, but We depend on Users to update or correct their Personal Data, whenever necessary. 
</p>
</div>


<div class="prv-cont">
  <h2>Compliance with legal, regulatory and law enforcement requests </h2>
  <p>We cooperate with government and law enforcement officials and private parties, to enforce and comply with Applicable Laws. We will disclose any Personal Data about the Users to government and law enforcement officials as We, in Our sole discretion consider it necessary and appropriate to respond to claims and legal process to protect the safety of the public or any person, or to prevent any activity We consider is illegal and unethical. </p>
</div>

<div class="prv-cont">
  <h2>FOR HOW LONG WE STORE YOUR PERSONAL DATA  </h2>
  <p>We will retain User’s Personal Data only for as long as necessary to provide to the Users the Services they have requested, unless a longer retention period is required by the Applicable Laws (for example for legal and regulatory purposes). This may include keeping such User’s Personal Data after they have deactivated their account for the period of time needed for Us to pursue legitimate business interests, conduct audits, comply with (and demonstrate compliance with) legal obligations, resolve disputes and enforce Our agreements.   </p>
</div>

<div class="prv-cont">
  <h2>HOW WE PROTECT YOUR PERSONAL DATA  </h2>
  <p>We are committed to protecting the security of User’s Personal Data and We take all reasonable precautions to protect it from unauthorized access, modification or disclosure. User’s Personal Data is stored on secured servers that have SSL certificates, issued by leading certificate authorities and all the Personal Data that is transferred between Users and Us and the Services provided to Users is encrypted. However, internet is not in itself a secure environment and We cannot give an absolute assurance that the User’s Personal Data will be secure at all times.  </p>
</div>


<div class="prv-cont">
  <h2>COOKIES </h2>
  <p>Cookies are small files saved to the User’s computer’s hard drive that track, save and store information about the User’s interactions and usage of the Website. This allows the Website, through its server to provide the Users with a tailored experience within the Website. 
  <br>
Our Website uses “cookies” for better User experience while visiting the Website. We may also link information stored on Your computer in cookies with certain Personal Data about specific individuals stored on Our servers. 
<br>
If You set up Your Web browser so that cookies are not allowed, You might not be able to use some or all of the features of Our Website. 
<br>
Users are advised that if they wish to deny the use and saving of cookies from this Website on to their computer’s hard drive they should take necessary steps within their web browser’s security settings to block all cookies from this Website and its external serving vendors.  
</p>
</div>



<div class="prv-cont">
  <h2>EXTERNAL & THIRD PARTY LINKS </h2>
  <p>Although We make best efforts to include all safe and relevant external links/third party website links, Users should always adopt a policy of caution before clicking on any external/ third party website links mentioned anywhere on Our Website. These external links/third party links/websites should have their own privacy policies which We urge the User to check. We do not accept any responsibility or liability for these third party website’s policies whatsoever as We have no control over them. 
<br>
We cannot guarantee or verify the contents of any externally linked website despite Our best efforts. Users should therefore note that they click on external links at their own risk and Our Website and We cannot be held liable for any damages or implications caused to any User visiting any external links mentioned on the Website. 
</p>
</div>



<div class="prv-cont">
  <h2>SOCIAL MEDIA PLATFORMS </h2>
  <p>Communication, engagement and actions taken through external social media platforms that Our Website participates on are custom to the terms and conditions as well as the privacy policies held with each social media platform respectively. 
<br>
Users are advised to use social media platforms wisely and communicate/engage upon them with due care and caution in regard to their own privacy. Neither We nor Our Website will ever ask for any Personal Data through social media platforms and We encourage Users, wishing to provide their Data, to contact them through primary communication channels such as by telephone or email. 
<br>
Our Website may use social sharing buttons which helps Us to share web content directly from web pages to the social media platform in question. Users are advised, before using such social sharing buttons, that they do so at their own discretion and note that the social media platform may track and save Your request to share a web page respectively through Your social media platform account. 
</p>
</div>



<div class="prv-cont">
  <h2>CHANGES TO PRIVACY POLICY </h2>
  <p>We reserve the right, in Our sole discretion, to change, modify, add, or remove portions of this Privacy Policy at any time. Any changes or updates will be effective immediately upon posting to this page. You should review this Privacy Policy regularly for changes. You can determine if changes have been made to such Privacy Policy by checking the effective date below. Your continued use of Our Website, following the posting of any change(s) to this Privacy Policy means that You consent to such changes.</p>

  <h2>OPT-OUT  </h2>
  <p>Any User can ask Us to stop sending them marketing messages or to modify their email preferences at any time through any of the following methods: </p>

  <ul class="disc">
    <li>By following the opt-out links provided on any marketing message sent to You; or </li>
    <li>Through account settings at [.]; or </li>
    <li>By contacting Us, at any time, using the contact details provided in Contact Us; </li>
  </ul>

  <p>Where any User opts out of receiving these marketing messages, this will not apply to Personal Data provided to Us as a result of emails relating to existing or pending Services taken or consent to direct marketing communications. </p>
</div>


<div class="prv-cont">
  <h2>CONTACT US </h2>
  <p>If You have any questions or comments about Us or Our Website’s Privacy Policy, You can send an email to [.], or contact Us via any of the ways described in the Contact Us page. </p>
</div>


<div class="prv-cont">
  <h2>DECLARATION </h2>
  <p>Users accessing Our Website or seeking Our Services hereby make an express declaration that they have freely and explicitly consented for providing their Personal Data to Us.  
  <br>
  Users hereby agree and confirm that by providing Us with their Personal Data for requesting additional information or for registering on Our Website or for seeking Our Services, such Users shall be deemed to have freely and expressly granted consent to furnish such Personal Data to Us of their own free will and they agree that they are not deceived or misled as to the purpose or purposes for which such Personal Data will be processed. By providing the Personal Data, Users also acknowledge being aware of the purpose for which such Personal Data shall be processed as such.  
</p>
</div>
</div>
       </div>
    </div>
</section>
