.post-edit-wrapper .panel-info>.panel-heading {
    color: #ffff;
    background-color: #761FB3;
    border-color: #761FB3;
}
.post-edit-wrapper .panel-info>.panel-heading>.panel-title{
    color: #fff;
}
.post-edit-wrapper .panel{
       box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
