<div class="post-edit-wrapper">
    <div class="confrmation-notification">
			      <div class="list-item-title">
			      <p>Do you want to continue from here later?</p>
			      </div>
			      </div>
           <form class="customize_form" [formGroup]="editPostJobForm" (ngSubmit)="updateJob()" loginSubmitted novalidate>

<div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">GENERAL INFORMATION</div>
            </div>  
            <div class="panel-body" >
                <div class="post-job-form-wrapper">
      	   	 	  <div class="genral-infm-form">
            	      <div class="form-group">
        	                <div class="form_field">
    						         <label class="control-label">Job Title</label>
                            <input class="form-control-cust" name="jobTitle" aria-label="jobTitle" formControlName="jobTitle" placeholder="Job Title"
                                 type="text">
                        </div>
                        <div *ngIf="submitted && editPostJobForm.controls.jobTitle.hasError('required')" class="alert alert-danger">Title Required</div>
               		     </div>
               		     <div class="form-group">
        	                <div class="form_field">
	    						 <label class="control-label">Industry </label>
								     <select class="form-control-selct" aria-label="industry" formControlName = 'industry' placeholder = 'industry'>
								          <option *ngFor="let x of industries" value="{{x.value}}">
								            {{x.value}}
								        </option>
								      </select>
						     </div>
	                    <div *ngIf="submitted && editPostJobForm.controls.industry.hasError('required')" class="alert alert-danger">Industry Required</div>
	               		     </div>
						<div class="form-group">
        	                <div class="form_field">
	    						 <label class="control-label"> Functional Area </label>
								     <select   class="form-control-selct" aria-label="functionalArea" formControlName = 'functionalArea' placeholder = 'functionalArea'	>
								          <option *ngFor="let x of functionalArea" value="{{x.value}}">
								            {{x.value}}
								        </option>
								      </select>
						     </div>
	                            <div *ngIf="submitted && editPostJobForm.controls.functionalArea.hasError('required')" class="alert alert-danger">Functional Area Required</div>
	               		     </div>
	               		     <div class="form-group">
						      <label class="control-label">Skills</label>
						        <tag-input 
						         formControlName = "skills" 
						          (onRemove)="onItemRemoved($event)"
						         (onAdd)="onItemAdded($event)" 
						         [placeholder]="'Enter Skills'"
						         [secondaryPlaceholder]="'Enter Skills'">
						         	  <tag-input-dropdown
									      [autocompleteItems]="items"
									      [showDropdownIfEmpty]="true"
									      [dynamicUpdate]="false"
									    >
									     </tag-input-dropdown>
						      </tag-input>
						     </div>
							<div class="form-group">
        	               	 <div class="form_field">
    						  <label class="control-label">Vacancy</label>
		                            <input class="form-control-cust" name="vacancy" aria-label="vacancy" formControlName="vacancy" placeholder="vacancy"
		                                 type="number">
		                        </div>
		                      <div *ngIf="submitted && editPostJobForm.controls.vacancy.hasError('required')" class="alert alert-danger">vacancy Required</div>
		               		  </div>
		               		  <div class="form-group">
        	               	 <div class="form_field">
    						  <label class="control-label">Location</label>
		                            <input class="form-control-cust" name="location" aria-label="location" formControlName="location" placeholder="location"
		                                 type="text">
		                        </div>
		                      <div *ngIf="submitted && editPostJobForm.controls.location.hasError('required')" class="alert alert-danger">Location Required</div>
		               		  </div>
      	   	 			
      	   	 			</div>
      	   	 		</div>
    </div>
</div>
<div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">JOB DESCRIPTION</div>
            </div>  
            <div class="panel-body" >
                
				 <div class="post-job-form-wrapper">
				      <div class="genral-infm-head">
				      <h5>Job description for new job post</h5>
				      <p>facing issue filling this form? <span class="tooltip--right" data-tooltip="Call now: +91-8448533465 ">Get help form our cutomer happiness officer</span></p>
				      </div>
				  <div class="genral-infm-form job-description">
					   	<div class="form-group">
					      <label class="control-label">Education Qualification</label>
					      <select class="form-control-selct" aria-label="qualifications" formControlName = 'qualifications' placeholder = 'Qualification'>
					          <option *ngFor="let x of qualifications" value="{{x}}">
					            {{x}}
					        </option>
					      </select>
					      </div>
					      <div *ngIf="submitted && editPostJobForm.controls.qualifications.hasError('required')" class="alert alert-danger">Qualifications Required</div>
	               		     
	               		     	<div class="form-group">
					      <label class="control-label">Education Qualification</label>
					      <select class="form-control-selct" aria-label="experiance" formControlName = 'experiance' placeholder = 'Experiance'>
					          <option *ngFor="let x of spans" value="{{x}}">
					            {{x}}
					        </option>
					      </select>
					      </div>
					      <div *ngIf="submitted && editPostJobForm.controls.experiance.hasError('required')" class="alert alert-danger">Experiance Required</div>
				</div>
				</div>
    </div>
</div>
<div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">CTC & PERKS</div>
            </div>  
            <div class="panel-body" >
                
			      <div class="post-job-form-wrapper">
				      <div class="genral-infm-head">
					       <h5>CTC and Perks for new job post</h5>
					        <p>Having Difficulty? <span class="tooltip--right" data-tooltip="Call now: +91-8448533465 ">Get help form our cutomer happiness officer</span>
				          </p>
				      </div>
				   <div class="genral-infm-form">
				 	       <div class="form_field">
						       <div class="form_field">
						         <label>CTC</label>
					         <ul class="ctc-select">
					           <li>
						       <div class="select">
						     	 <select aria-label="experiance" formControlName = 'ctcType' placeholder = 'CTC' class="select.form-control-selct" >
						     	 <option *ngFor="let x of currencies" name="ctcType"[value]="x">{{x}}</option>
						    	  </select>
						      <div class="select__arrow"></div>
     			 			</div>
     			 			<div *ngIf="submitted && editPostJobForm.controls.ctcType.hasError('required')" class="alert alert-danger">Currency Required</div>
  					    </li>
                                 
 					 <li>
  					    <input type="number" formControlName="min" name="minimum" value="minimum" class="form-control-cust">
  					      <div *ngIf="submitted && editPostJobForm.controls.min.hasError('required')" class="alert alert-danger">Minmum  Required</div>

     					 <span>to</span>
     				 </li>
    				  <li>
     					 <input type="number" formControlName="max" name="maximun" value="maximun" class="form-control-cust">
     					 <div *ngIf="submitted && editPostJobForm.controls.max.hasError('required')" class="alert alert-danger">Maximum  Required</div>
     				 </li>
     			 </ul>
          </div>
     		 </div>
			      <div class="form-group">
			      <label class="control-label">Perks</label>
			      <input name="perks" type="text" formControlName="perks" placeholder=""  class="form-control-cust">
			      </div>
			      <div *ngIf="submitted && editPostJobForm.controls.perks.hasError('required')" class="alert alert-danger">Perks Required</div>
			      <div class="ctc-range-slider m-t-40">
                      <div class="row">
			    	  <!-- <div class="col-md-6">
		    			  <div class="form_field">
						    <label>Commission to consultant (% of CTC of Candidate)</label><br>
				    		  <ng5-slider   (userChange)="setCommission($event)" [(value)]="value" [options]="options"></ng5-slider>
			      		</div>
                          </div> -->
			      	</div>
			      </div>
				   </div>
				  </div>
    </div>
</div>
<div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">PERIOD & CONTRACTS</div>
            </div>  
            <div class="panel-body" >
                
              <div class="post-job-form-wrapper">
                <div class="genral-infm-head">
                 <h5>Period and contract for new job post</h5>
                 <p>facing issue filling this form? <span class="tooltip--right" data-tooltip="Call now: +91-8448533465 ">Get help form our cutomer happiness officer</span></p>
               </div>
              <div class="genral-infm-form">
                        <div class="form-group">
                          <div class="form_field">
                           <label class="control-label">Deadline</label>
                            <input class="form-control-cust" name="deadline" aria-label="deadline" formControlName="deadline" placeholder="Date"
                                 type="date">
                        </div>
                        <div *ngIf="submitted && editPostJobForm.controls.deadline.hasError('required')" class="alert alert-danger">Deadline Required</div>
                       </div>
                        <div class="form-group">
                          <div class="form_field">
                         <label class="control-label">Company Name</label>
                            <input class="form-control-cust" name="companyName" aria-label="companyName" formControlName="companyName" placeholder="Company Name"
                                 type="text">
                        </div>
                        <div *ngIf="submitted && editPostJobForm.controls.companyName.hasError('required')" class="alert alert-danger">Company Name Required</div>
                       </div>
                        <div class="form-group">
                          <div class="form_field">
                         <label class="control-label">Company Description</label>
                            <input class="form-control-cust" name="companyDescription" aria-label="companyDescription" formControlName="companyDescription" placeholder="Company Description"
                                 type="text">
                        </div>
                        <div *ngIf="submitted && editPostJobForm.controls.companyDescription.hasError('required')" class="alert alert-danger">Company Description Required</div>
                       </div>
                       <div class="form_field">
                          <label>Notice Period</label>
                            <ul class="ctc-select">
                           <li>
                           <div class="select">
                              <select aria-label="noticePeriod" formControlName = 'noticePeriod' placeholder = 'noticePeriod' >
                              <option *ngFor="let x of periods" name="notice" value="{{x}}" >{{x}}</option>
                              </select>
                          </div>
                           <div *ngIf="submitted && editPostJobForm.controls.noticePeriod.hasError('required')" class="alert alert-danger">noticePeriod Required</div>

                          </li>
                        </ul>
                        </div>
                          <div class="form_field">
                            <label>Contract Period</label>
                            <ul class="ctc-select">
                          <li>
                          <div class="select">
                             <select aria-label="contactPeriod" formControlName = 'contactPeriod' placeholder = 'contactPeriod'  >
                             <option *ngFor="let x of periods" name="contact" value="{{x}}">{{x}}</option>
                            </select>
                          </div>
                        <div *ngIf="submitted && editPostJobForm.controls.contactPeriod.hasError('required')" class="alert alert-danger">contactPeriod Required</div>

                            </li>
                          </ul>
                        </div>
        			</div>
            </div>
    </div>
</div>
    <p class="text-center">
    
                   <button class="btn btn-purple" type="submit"  aria-label="submit" >Update</button>
    </p>
    
    </form>
    </div>