<div id="breadcrum">
   <ul>
      <li><a routerLink="/main/about">About</a></li>
      <li>Terms & Condition</li>
   </ul>
</div>
<!-- Organisation -->
<section id="faqs_wrapper">
   <div class="container">
      <div class="row">
          
    <div class="term-scp">
<div class="trms-cont">
  <p><strong>People Infinia</strong>is an online platform owned, managed and operated by Multilinks Human Resource Consultants Pvt. Ltd., having its registered office at (please put the registered address), India; <b> (“We”, “Us”, “People Infinia, “Our”)</b>; which helps Registered Users (defined herein below) execute the recruitment positions for the other party, our clients.<b>(“Services”)</b>.</p>

  <p>For the purpose of these Terms of Use (defined herein bellow), wherever the context so requires, <b>“You(r)” or “User”</b> shall mean any natural or legal person including but not limited to any company, firm, sole proprietorship or other associations of individuals, who visits, search or accesses our Website and includes a Registered User. The User may or may not be registered with the Website. If registered, the User shall be referred to as a <b>“Registered User”</b>.</p>

  <p>By using the Website, You represent that You have read and agree to be bound by the terms and conditions provided herein as well as any other guidelines, policies, rules and additional terms referenced herein, collectively referred to as <b>“Terms of Use”</b>. These Terms of Use set out the legally binding terms with respect to Your access and use of Services provided on the Website. We request You to please read these Terms of Use carefully.</p>
  <cite><strong>If You do not agree with any of these Terms of Use (including, referenced policies and guidelines), We encourage You to terminate Your use of the Website.</strong></cite>
</div>



<div class="trms-cont">
  <h2><strong>1.</strong> DEFINITIONS</h2>
  <ol class="count">
    <li><strong>“Recruiter” </strong>means any Registered User who accesses the Website with an intention to secure recruitment positions from the Client;</li>
    <li><strong>“Client”</strong>means any Registered User who accesses the Website with an intention to provide recruitment positions to the Recruiter;</li>
  </ol>
</div>


<div class="trms-cont">
  <h2><strong>2.</strong> ELIGIBILITY</h2>
  <p>You for the purpose of using Our Website hereby represent and warrant to Us that You are: </p>
  <ol class="count">
    <li>a legal/natural person;</li>
    <li>above eighteen (18) years of age (being Users outside European Union (EU)) and above sixteen (16) years of age (being Users in EU) </li>
    <li>capable of forming legally binding contracts under The Indian Contract Act, 1872 or any other law as may be applicable to You</li>
    <li>this Term of Use is binding and enforceable against You;</li>
    <li>If You are accepting this Term of Use on behalf of an entity, You have the right and authority to agree to all of the terms set forth herein on behalf of such entity</li>
    <li>You have read and understand Our Privacy Policy, the terms of which are posted at the Website and agree to abide by the terms of the said Privacy Policy.
</li>
  </ol>
</div>

<div class="trms-cont">
<h2><strong>3.</strong> USER’S REPRESENTATIONS AND WARRANTIES</h2>
<ol class="count">
  <li>You shall not host, display, upload, modify, publish, transmit, update or share any information or item on the Website that:
    <ol>
      <li>belongs to other Users and to which You do not have any right to use;</li>
      <li>is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic;</li>
      <li>pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatsoever;</li>
      <li>harms minors in any way;</li>
      <li>infringes any intellectual proprietary rights including, without limitation to, patent, trademark, copyright or other proprietary rights of any other User;</li>
      <li>violates any law for the time being in force;</li>
      <li>deceives or misleads the Users about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;</li>
      <li>impersonates another User;</li>
      <li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;</li>
      <li>threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting to any other nation;</li>
      <li>that is false, inaccurate or misleading;</li>
    </ol>
  </li>
  <li>You shall not use the Website for any illegal/unlawful purposes;</li>
  <li>You shall abide by all the applicable local, state and central laws and regulations;</li>
  <li>You shall not interfere with or disrupt the use and enjoyment of the Website by other Users;</li>
  <li>You shall not defame, harass, abuse or disrupt other Users of the Website.</li>
  <li>You shall be responsible for all of your activity in connection with the Services provided or sought from other Registered Users.</li>
  <li>You shall not modify, adapt, translate, or reverse engineer any portion of the Website and/or Services;</li>
  <li>We reserve the right to access, read, preserve, and disclose any information as We reasonably believe is necessary to:
<ul class="disc">
  <li>satisfy any applicable law, regulation, legal process or governmental request;</li>
  <li>enforce these Terms of Use, including investigation of potential violations hereof; </li>
  <li>detect, prevent, or otherwise address fraud, security or technical issues;</li>
  <li>respond to User support requests; or</li>
  <li>protect the rights, property or safety of other Users and the public.</li>
</ul>
    </li>
</ol>
</div>

<div class="trms-cont">
  <h2><strong>4.</strong> Job postings on People Infinia</h2>
  <p>A Job posting may not contain:</p>
  <ol class="count">
    <li>any hyperlinks, other than those specifically authorized by People Infinia;</li>
    <li>misleading, unreadable, or "hidden" keywords, repeated keywords or keywords that are irrelevant to the job opportunity being presented, as determined in People Infini’s reasonable discretion;</li>
    <li>the names, logos or trademarks of unaffiliated companies other than those of your customer save where expressly agreed by People Infinia;</li>
    <li>the names of colleges, cities, states, towns or countries that are unrelated to the posting;</li>
    <li>more than one job or job description, more than one location, or more than one job category, unless the product so allows;</li>
    <li>inaccurate, false, or misleading information; and</li>
    <li>material or links to material that exploits people in a sexual, violent or other manner, or solicits personal information from anyone under 18.</li>
    </ol>
</div>

<div class="trms-cont">
  <h2><strong>5.</strong>You may not use Your People Infinia job posting to:</h2>
  <ol class="count">
    <li>post jobs in a manner that does not comply with applicable local, national and international laws, including but not limited to laws relating to labor and employment, equal employment opportunity and employment eligibility requirements, data privacy, data access and use, and intellectual property;</li>
    <li>post jobs that require citizenship of any particular country or lawful permanent residence in a country as a condition of employment, unless otherwise required in order to comply with law, regulations, executive order, or federal, state or local government contract;</li>
    <li>with respect to Profiles, determine a consumer's eligibility for: (i) credit or insurance for person, family, or household purposes; (ii) employment; or (iii) a government license of benefit. </li>
    <li>post jobs or other advertisements for competitors of People Infinia or post jobs or other content that contains links to any site competitive with People Infinia;</li>
    <li>post any franchise, pyramid scheme, "club membership", distributorship, multi-level marketing opportunity, or sales representative agency arrangement;</li>
    <li>post any business opportunity that requires an up front or periodic payment or requires recruitment of other members, sub-distributors or sub-agents;</li>
    <li>post any business opportunity that pays commission only unless the posting clearly states that the available job pays commission only and clearly describes the product or service that the job seeker would be selling;</li>
    <li>promote any opportunity that does not represent bona fide employment which is generally indicated by the employer’s use of IRS forms W-2 or 1099;</li>
    <li>post jobs on any People Infinia’s Site for modeling, acting, talent or entertainment agencies or talent scouting positions;</li>
    <li>advertise sexual services or seek employees for jobs of a sexual nature;</li>
    <li>request the use of human body parts or the donation of human parts, including, without limitation, reproductive services such as egg donation and surrogacy;</li>
    <li>endorse a particular political party, political agenda, political position or issue;</li>
    <li>promote a particular religion;</li>
    <li>post jobs located in countries subject to economic sanctions of the United States Government; and</li>
    <li>except where allowed by applicable law, post jobs which require the applicant to provide information relating to his/her
  <ul class="disc">
    <li>racial or ethnic origin </li>
    <li>political beliefs</li>
    <li>philosophical or religious beliefs</li>
    <li>membership of a trade union</li>
    <li>physical or mental health</li>
    <li>sexual life</li>
    <li>the commission of criminal offences or proceedings or</li>
    <li>age</li>
  </ul>
    </li>
    <li>People Infinia reserves the right to remove any job posting or content from People Infinia Site, which in the reasonable exercise of People Infinia’s discretion, does not comply with the above Terms, or if any content is posted that People Infinia believes is not in the best interest of People Infinia.</li>
    <li>If at any time during Your use of the People Infinia website, You made a misrepresentation of fact to People Infinia or otherwise misled People Infinia in regards to the nature of Your business activities, People Infinia will have grounds to terminate Your use of the People Infinia Website.</li>
  </ol>
</div>


<div class="trms-cont">
  <h2><strong>6.</strong> SERVICE FEE</h2>
  <p>The Registered Users agrees and confirm that in consideration of Services provided by Us; We shall be entitled to and have a right to deduct from the fee to be paid to Recruiter by Client an amount/percentage which has been agreed between People Infinia & the Recruiter (“Service Fee”).</p>
</div>


<div class="trms-cont">
  <h2><strong>7.</strong> MONITORING OF THE WEBSITE AND USER ACCOUNT</h2>
  <ol class="count">
    <li>You understand and agree that We have the right and liberty to monitor the content on the Website at all times which shall include any information including Personal Data provided in the Registered User accounts. The monitoring of the Website is important to determine the veracity of the Personal Data provided by Users and to ensure that every User remains in consonance with the Terms of Use provided herein. Subject to the Terms of Use mentioned herein, We shall also have the liberty at Our sole discretion to remove any objectionable content which is in contravention of the Terms of Use herein or share such information with any governmental authority as per procedures laid down by the law for the time being in force in India. </li>
    <li>You understand and agree that We shall also be entitled to investigate occurrences which may involve such contravention and take appropriate legal action that involves cooperation with law enforcement authorities in prosecuting Users who are involved in such contraventions.</li>
    <li>The Registered Users shall be responsible for maintaining confidentiality to prevent unauthorized access to Registered User’s account. The Registered User agrees to accept responsibility for all activities that occur under their account or password. The Registered User shall take all necessary steps to ensure that their account password is kept confidential & secure and shall ensure that they will exit from their account at the end of each session and should inform Us immediately if the Registered User has any reason to believe that their password has become known to anyone else, or if the password is being, or is likely to be used, in an unauthorized manner. The Registered Users hereby agree and confirm that We shall not be held liable to the Registered Users for any loss or damage arising from the Registered User’s failure to comply with anything provided herein above.</li>
    <li>The Registered User shall ensure and undertakes that the details they provide to Us are true, correct and complete. The Registered User should further inform Us immediately of any changes to the information that has been provided at the time of registering. The Registered Users understand and agree that any omission, misrepresentation or concealment of any significant fact/detail/information provided on the Website, shall be considered as a sufficient reason for legal action against the Registered User including, but not limited to, termination of their accounts. The Registered User can access and update much of the information provided on the Website or by writing to Us at info@feelance.com</li>
  </ol>
</div>

<div class="trms-cont">
  <h2><strong>8. </strong>PERSONAL DATA</h2>
  <p>For complete and proper usage of the Website, the Registered Users while registering shall provide certain details and information including their Personal Data, which the Registered User agrees and confirms, shall be true and accurate.
  <br>Any Personal Data collected by the Website shall not be disclosed to any third party unless such a disclosure is authorized by law, or the Registered User has consented to such a disclosure. However, We have an unconditional right to share the Registered User’s Personal Data with the Website partners, affiliates, employees and agents. For more details on the Websites’ policies regarding Personal Data please refer to the “Privacy Policy”.
</p>
</div>


<div class="trms-cont">
  <h2><strong>9. </strong>MODIFICATION OF TERMS OF USE</h2>
  <p>You understand and agree that We reserve the right, at our sole discretion, to modify or replace these Terms of Use, or change, suspend, or discontinue the Website and its Services (including, but not limited to, the availability of any feature, database, or content) at any time for any reason. We may also impose limits on certain features and services or restrict User’s access to parts, or the entire Website, without notice or liability. You agree to review the Terms of Use periodically so that You are aware of any such modifications and We shall not be liable for any loss suffered by You on account of such changes or Your failure to review such modified Terms of Use. Unless expressly stated otherwise, any new features, new services, enhancements or modifications to the Website or Service implemented after Your initial access of Website or use of the Service shall be subject to these Terms of Use. Your continued use of the Website constitutes Your acceptance of these Terms of Use and any changes/modifications made to them thereafter.
</p>
</div>


<div class="trms-cont">
  <h2><strong>10. </strong>LICENSE AND SITE ACCESS</h2>
  <p>Except for the content submitted by the Users, all material, content or logos, marks, software on or part of the Website and all aspects thereof, including all copyrights and other intellectual property or proprietary rights therein, are owned by Us or Our licensors. You acknowledge that the Website and any underlying technology or software on the Website or used in connection with rendering the Services are proprietary information owned or duly licensed to Us, except where it is indicated otherwise. You understand and agree that We grant Users a limited license to access and make personal use of the Website, but not to download (other than page caching) or modify it, or any portion of it, except with Our prior written consent. This license does not include any resale or commercial use of this Website or its contents; any downloading or copying of account information for the benefit of anyone other than You; or any use of data mining, robots, or similar data gathering and extraction tools. This Website or any portion of this Website (including but not limited to any copyrighted material, trademarks, or other proprietary information) may not be reproduced, duplicated, copied, sold, resold, visited, distributed or otherwise exploited for any commercial purpose without Our express written consent and / or Our affiliates, as may be applicable. Any unauthorized use of the Website shall terminate the permission or the right granted by Us.
</p>
</div>

<div class="trms-cont">
  <h2><strong>11. </strong>LIMITATION OF LIABILITY</h2>
  <p>Notwithstanding anything to the contrary contained herein, neither We nor Our affiliated companies, subsidiaries, officers, directors, employees or any related party shall have any liability to the User(s) or to any third party for any direct, indirect, incidental, special or consequential damages or any loss of revenue or profits arising or resulting from: (a) the use or the inability to use the Services; (b) the loss of job opportunity resulting from any information or services obtained or messages received or arrangements entered into through the Website; (c) unauthorized access to or alteration of the User's transmissions or data; (d) any services undertaken by any Registered User from other Registered Users; (e) any other matter relating to the Services. To the maximum extent permitted by law, the User waives, releases, discharges and holds harmless, Us, Our affiliated and subsidiary companies, and each of Our directors, officers, employees, and agents, from any and all claims, losses, damages, liabilities, expenses and causes of action arising out of the Users’ use of the Website or use of Our Services. </p>
</div>


<div class="trms-cont">
  <h2><strong>12. </strong>APPLICABLE LAWS</h2>
  <p>Your use of the Website and the Terms of Use are subject to the laws of India.
 </p>
</div>


<div class="trms-cont">
  <h2><strong>13. </strong>INDEMNITY</h2>
  <p>You agree to indemnify, save, and hold Us,  Our affiliates, contractors, employees, officers, directors, agents and Our third party associates, licensors, and partners harmless from any and all claims, losses, damages, and liabilities, costs and expenses, including without limitation legal fees and expenses, arising out of or related to the Users’ use or misuse of the services or of the Website, any violation by the User of these Terms of Use, or any breach of the representations, warranties, and covenants made by You herein. We reserve the right, at the expense of the User, to assume the exclusive defence and control of any matter for which the User is required to indemnify Us, including right to settle, and the User agrees to cooperate with Us for defence and settlement of these claims. We will use reasonable efforts to notify the User of any claim, action, or proceeding brought by a third party that is subject to the foregoing indemnification upon becoming aware of it.
 </p>
</div>


<div class="trms-cont">
  <h2><strong>14. </strong>SEVERABILITY</h2>
  <p>In the event that any provision of these Terms of Use, or any portion thereof, shall be held invalid, illegal or unenforceable under applicable law, such defect shall not vitiate the other provisions of the Terms of Use and the remainder of the Terms of Use shall continue to be legal, valid, effectual and binding on all the Users.
 </p>
</div>



<div class="trms-cont">
  <h2><strong>15. </strong>DISCLAIMER OF WARRANTIES</h2>
  <p>You understand and agree that We make no warranty that:</p>

  <ol class="count">
    <li>The Services will meet the Users’ requirements;</li>
    <li>the Services will be uninterrupted, timely, secure, or error-free;</li>
    <li>the results that may be obtained from the use of the Services will be accurate or reliable;</li>
    <li>the quality of any services, information, or other material obtained by a User through the Services will meet the Users’ expectations; or</li>
    <li>any errors in the technology will be corrected.</li>
  </ol>
</div>


<div class="trms-cont">
  <h2><strong>16. </strong>TERM AND TERMINATION</h2>
  <ol class="count">
    <li>These Terms of Use, with modifications as contemplated, shall remain in full force and effect during the use of the Website by the Users.</li>
    <li>For Registered Users the Terms of Use shall commence from the date of registration of such Registered Users and shall be valid till such time the account is not deleted by such Registered Users , unless terminated earlier by Us in accordance with these Terms of Use;</li>
    <li>We may terminate Your access to Our Website or all or any part of the Services offered, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with Your registered account. If You wish to terminate Your Account, You may do so by following the instructions on the Website. Any fees paid on the Website by any Registered User are non-refundable. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation to, warranty disclaimers, indemnity and limitations of liability.</li>
    <li>Notwithstanding anything contained in the Terms of Use, Clauses 3, 5, 7, 8, 9, 10, 13, 11, 14 shall survive any termination or expiration of these Terms of Use.</li>
  </ol>
</div>



<div class="trms-cont">
  <h2><strong>17. </strong>ARBITRATION</h2>
  <p>If any dispute arises between You and Us during Your use of Our Services or thereafter including in connection with the validity, interpretation, implementation or alleged breach of any provision of the Terms of Use the dispute shall be referred to a sole Arbitrator who shall be an independent and a neutral third party identified by Us. The place of arbitration shall be New Delhi and the arbitration proceedings shall be governed by The Arbitration & Conciliation Act, 1996. The arbitration proceedings shall be in the English language. The Arbitral tribunal shall have the right to grant interim reliefs. The courts of New Delhi shall have exclusive jurisdiction to decide upon any application under Section 9, Section 11 and other provision of Arbitration and Conciliation Act, 1996 as amended from time to time and which provides right to such court to adjudicate upon any matter.</p>
</div>



<div class="trms-cont">
  <h2><strong>18. </strong>ASSIGNABILITY</h2>
  <p>The Website may assign any of its responsibilities/obligations to any other Person without notice to the User, at its sole discretion. However, You shall not assign, sub-licence or otherwise transfer any of Your rights under these Terms of Use to any other party, unless a written consent is taken from Us.</p>
</div>

<div class="trms-cont">
  <h2><strong>19. </strong>WAIVER</h2>
  <p>Failure on Our part to exercise any right or remedy under these Terms of Use does not constitute a waiver of that right or remedy.</p>
</div>



<div class="trms-cont">
  <h2><strong>20. </strong>FORCE MAJEURE</h2>
  <p>We are not liable for failure to perform any of its obligations if such failure occurs as a result of Act of God (including fire, flood, earthquake, storm, hurricane or other natural disaster), war, invasion, act of foreign enemies, hostilities (regardless of whether war is declared), civil war, rebellion, revolution, insurrection, military or usurped power or confiscation, terrorist activities, nationalization, government sanction, blockage, embargo, labor dispute, strike, lockout or any interruption or any failure of electricity or server, system, computer, internet or telephone service.
<br>
You hereby agree and accept that these “Terms of Use” along with “Privacy Policy” of the Website constitute a binding agreement between You and Us, and is automatically accepted by You upon checking this tick box and your continued use of the Website.

  </p>
</div>
</div>
       </div>
    </div>
</section>
