<section class="padd-section">
   <div class="col-md-8">
      <div class="row">
         <!--recruiter-Profile-->
         <div class="recruiter-Profile">
            <div class="title">
               <p>My Profile(#RZY1248)</p>
            </div>
            <div class="profile-content">
               <div class="row">
                  <div class="col-md-1">
                     <img [src]="profilePicture" class="img-circle" width="100px" height="100px">
                  </div>
                  <div class="col-md-9">
                     <div class="user-info">
                        <h4>{{username}}</h4>
                        <h6>New Delhi, India</h6>
                        <p>Individual</p>
                     </div>
                  </div>
                  <div class="col-md-1">
                     <a (click)="editModal.show(); setForm()" class="edit-profile">
                        <i class="fas fa-pen"></i> Edit
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!--recruiter-info-->
         <div class="recruiter-info m-t-40">
            <div class="title">
               <p class="text-left">Contact Information</p>
            </div>
            <div class="profile-content">
               <div class="row">
                  <div class="col-md-6">
                     <div class="user-contact-info">
                        <p><b>Phone:</b> {{userMobile}}</p>
                        <p><b>Email:</b> {{userEmail}}</p>
                     </div>
                  </div>
                   
                   <div class="col-md-6">
                     <div class="user-contact-info">
                        <p><b>Pan:</b></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
          
           <!--recruiter-info-->
         <div class="recruiter-info m-t-40">
            <div class="title">
               <p class="text-left">Experience Information</p>
            </div>
            <div class="profile-content">
               <div class="row">
                  <div class="col-md-6">
                     <div class="user-contact-info">
                         <p><b>Experience:  </b> {{userExperience}}</p>
                        <p><b>What kind of Freelance Recruiter you are?:  </b>{{recruiterworkingtype}} </p>
                         <p><b>Upto which CTC they worked in past:  </b>{{ctcWorked}} </p>
                        <p><b>Packages you want to work on?  </b>{{ctcExpected}} </p>
                         <p><b>Do you have access to Naukri or Monster employer login?:  </b>{{otherAccountProfile}} </p>
                        <p><b>commission  </b>{{commissionUser}}% </p>
                     </div>
                     </div>
               </div>
            </div>
         </div>
         <!--recruiter-proffessional-information-->
         <div class="recruiter-info m-t-40">
            <div class="title">
               <p class="text-left">Professional Information  </p>
            </div>
            <div class="profile-content">
               <div class="row">
                  <div class="col-md-12">
                     <div class="user-proffessional-info">
                        <p>Key Expertise:</p>
                        <ul>
                            <li>{{expertKeys}}</li>
                       </ul>
                        <br>
                        <p>Industry</p>
                        <ul>
                            <li>{{expertIndustry}}</li>
                       </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--work-history-review-->
         <div class="recruiter-info m-t-40">
            <div class="title upper_case">
               <p class="text-left">Work History and Review
                  <span class="f-right">This Month <i class="fa fa-angle-down" aria-hidden="true"></i></span>
               </p>
            </div>
            <div class="profile-content">
               <div class="row">
                  <div class="col-md-12">
                     <div class="user-work-history">
                        <ul>
                        
                                <li>
                                    <div class="recuriter-list-item">
                                       <div class="list-item-title">
                                           No Work History and Review
                                       </div>
                                    </div>
                            </li>
                        </ul>
                     </div>
                     <!-- <p class="text-center load-more m-t-20">
                        <a class="btn">Load more</a>
                     </p> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="user-job-stats m-t-40">
         <h4>Job Stats</h4>
         <div class="dashboard-card">
              <ul>
              <li>
                  <span class="value">{{TotalCandidate}}</span>
                 <span class="text">Total Candidates<br>Posted</span>
             </li>
             <li>
            <span class="value">{{eyQualified}}</span>
            <span class="text">People Infinia<br>Qualified</span>
         </li>
         <li>
            <span class="value">{{Totalshortlist}}</span>
            <span class="text">Candidates<br>Shortlisted</span>
         </li>
         <li>
            <span class="value">{{TotalPlaced}}</span>
            <span class="text">Candidates<br>Placed</span>
         </li>
      </ul>
         </div>
      </div>
   </div>
</section>
 <div id="profile-edit">
    <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog signup_popup_inner_wrapper  modal-lg">
         <div class="modal-content ">
            <div class="modal-body">
              <div class="close  cls-cstm" style="margin-top: 10px;margin-right: 10px;transform: scale(0.6);">
                 <a data-dismiss="modal" aria-hidden="true"><img (click)="editModal.hide() ; submittedF()" src="assets/img/cancel.png" ></a>
                   </div>
                     <div class="profile-pic-contnt">
                 <div class="update-profile-pic">
                    <img [src]="profilePicture" class="img-circle img-thumbnail" alt="" style="height:150px; width: 150px;">
                          <span><i class="far fa-edit"></i>
                            <input (click)='handleFileSelect($event)' type="file">
                          </span>
                    </div>
                 </div>
                  <div class="signup_box">
                      <form class="update-profile-form" [formGroup]="editForm" (ngSubmit)="updateProfile()"  novalidate> 
                          <div class="row">
                        <div class="recruiter-info cst-edit-form">
                        <div class="title">Edit profile</div>
                            <div class="col-md-12">
                           <div class="col-md-6">
                            <div class="form-group">
                              <label>Name</label>
                               <input formControlName='name' type="text" placeholder="Enter your name" class="form-control-cust">
                              </div>
                              <div *ngIf="submitted && editForm.controls.name.hasError('required')" class="alert alert-danger">Name Required</div>
                             </div>
                              <div class="col-md-6">
                            <div class="form-group">
                              <label>contact</label>
                               <input formControlName='contact' type="text" placeholder="Enter your contact no" class="form-control-cust">
                              </div>
                              <div *ngIf="submitted && editForm.controls.contact.hasError('required')" class="alert alert-danger">Phone Number Required</div>
                             </div>
                              <div class="col-md-6">
                            <div class="form-group">
                              <label>email</label>
                               <input formControlName='email' type="text" placeholder="Enter your E-mail" class="form-control-cust" readonly>
                              </div>
                              <div *ngIf="submitted && editForm.controls.email.hasError('required')" class="alert alert-danger">Email Required</div>
                            </div>
                             <div class="col-md-6">
                            <div class="form-group">
                              <label>Location</label>
                               <input formControlName='location' type="text" placeholder="Enter your City" class="form-control-cust">
                              </div>
                              <div *ngIf="submitted && editForm.controls.location.hasError('required')" class="alert alert-danger">Location Required</div>
                            </div>
                             <div class="col-md-6">
                            <div class="form-group">
                              <label>Pan number</label>
                               <input formControlName='pan' type="text" placeholder="Enter your Pan Number" class="form-control-cust">
                              </div>
                              <div *ngIf="submitted && editForm.controls.pan.hasError('required')" class="alert alert-danger">Pan number Required</div>
                            </div>
                            </div>
                              </div>
                          </div>
                          
                              <div class="row">
                        <div class="recruiter-info  cst-edit-form">
                        <div class="title">Edit Experience Information</div>
                            <div class="col-md-12">
                           <div class="col-md-6">
                             <div class="user-contact-info">
                               <div class="form-group">
                                <label class="control-label">Experience 
                                <select class="form-control-selct" aria-label="experiance" formControlName = 'experiance' placeholder = 'Experiance'>
                                 <option *ngFor="let x of Experience" value="{{x}}">
                                S  {{x}}
                               </option>
                             </select>
                            </label>
                            </div>
                             <div *ngIf="submitted && editForm.controls.experiance.hasError('required')" class="alert alert-danger">Experiance Required</div>
                         </div>
                        </div>

                         <div class="col-md-6">
                             <div class="user-contact-info">
                               <div class="form-group">
                                <label class="control-label">What kind of Freelance Recruiter you are? 
                                <select class="form-control-selct" aria-label="recruiterType" formControlName = 'recruiterType' placeholder = 'recruiterType'>
                                 <option *ngFor="let x of recruiterType" value="{{x}}">
                                {{x}}
                               </option>
                             </select>
                            </label>
                            </div>
                             <div *ngIf="submitted && editForm.controls.recruiterType.hasError('required')" class="alert alert-danger">Type Required</div>
                         </div>
                        </div>
                                 </div>
                            <div class="col-md-12">
                         <div class="col-md-6">
                             <div class="user-contact-info">
                               <div class="form-group">
                                <label class="control-label">Do you have access to Naukri or Monster employer login? 
                                <select class="form-control-selct" aria-label="otherAccount" formControlName = 'otherAccount' placeholder = 'otherAccount'>
                                 <option *ngFor="let x of naukriOrMonstor" value="{{x.value}}">
                                {{x.display}}
                               </option>
                             </select>
                            </label>
                            </div>
                             <div *ngIf="submitted && editForm.controls.otherAccount.hasError('required')" class="alert alert-danger">Answer Required</div>
                         </div>
                        </div>
                            
                         <div class="col-md-6">
                             <div class="user-contact-info">
                               <div class="form-group">
                                <label class="control-label">Upto which CTC they worked in past 
                                <select class="form-control-selct" aria-label="currentCtc" formControlName = 'currentCtc' placeholder = 'currentCtc'>
                                 <option *ngFor="let x of ctc" value="{{x}}">
                                {{x}}
                               </option>
                             </select>
                            </label>
                            </div>
                             <div *ngIf="submitted && editForm.controls.currentCtc.hasError('required')" class="alert alert-danger">Current CTC Required</div>
                         </div>
                        </div>
                            </div>
                            <div class="col-md-12">
                         <div class="col-md-6">
                             <div class="user-contact-info">
                               <div class="form-group">
                                <label class="control-label">Packages you want to work on? 
                                <select class="form-control-selct" aria-label="expectCtc" formControlName = 'expectCtc' placeholder = 'expectCtc'>
                                 <option *ngFor="let x of wantedCtc" value="{{x}}">
                                {{x}}
                               </option>
                             </select>
                            </label>
                            </div>
                             <div *ngIf="submitted && editForm.controls.expectCtc.hasError('required')" class="alert alert-danger">Expected CTC Required</div>
                         </div>
                        </div>  

                        <div class="col-md-6">
                             <div class="user-contact-info">
                               <div class="form-group">
                                <label class="control-label">commission
                                <select class="form-control-selct" aria-label="commission" formControlName = 'commission' placeholder = 'commission'>
                                 <option *ngFor="let x of commission" value="{{x}}">
                                {{x}}
                               </option>
                             </select>
                            </label>
                            </div>
                             <div *ngIf="submitted && editForm.controls.commission.hasError('required')" class="alert alert-danger">commission Required</div>
                         </div>
                        </div> 
                            </div>
                                  </div>
                          </div>
                          
                          
                              <div class="row">
                        <div class="recruiter-info  cst-edit-form">
                        <div class="title">Edit Professional Information</div>
                            <div class="col-md-12">
                          <div class="col-md-12">
                             <div class="user-contact-info">
                            <div class="form-group">
                              <label>Key Expertise:</label>
                              <input formControlName='keys' type="text" placeholder="Key Expertise" class="form-control-cust">
                            </div>
                              <div *ngIf="submitted && editForm.controls.keys.hasError('required')" class="alert alert-danger">Keys Required</div>
                            </div>
                          </div>
                        
                          <div class="col-md-12">
                             <div class="user-contact-info">
                            <div class="form-group">
                              <label>Industry</label>
                              <input formControlName='industry' type="text" placeholder="Enter your Industry" class="form-control-cust">
                            </div>
                             <div *ngIf="submitted && editForm.controls.industry.hasError('required')" class="alert alert-danger">Industry Required</div>
                           </div>
                          </div>
                            </div>
                                  </div>
                          </div>

                      <div class="update-form text-center">
                        <button class="btn btn-success" type="submit"  aria-label="submit" >Update Profile</button>
                        </div>

                      </form>
                      

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--profile edit-->


<!-- change-password-modal -->
<!-- 
         <div id="profile-edit">
  <div class="modal fade" id="edit-profie-modal" role="dialog">
    <div class="modal-dialog modal-lg">
    div class="modal-content">
         
         
        <div class="edit-form">
            
             <div class="profile-pic-contnt">
                 <div class="update-profile-pic">
        <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle img-thumbnail" alt="">
                     <span><i class="far fa-edit"></i>
                     <input type="file">
                     </span>
      </div>
                 </div>
         <div class="panel panel-default">
 
  <div class="panel-body">
      <form class="update-profile-form">
          <div class="col-md-6">
          <div class="form-group">
          <label>Name</label>
          <input type="text" placeholder="Enter your name" class="form-control-cust">
          </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
          <label>Phone No.</label>
          <input type="text" placeholder="Enter your name" class="form-control-cust">
          </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
          <label>E-mail</label>
          <input type="text" placeholder="Enter your name" class="form-control-cust">
          </div>
          </div>
      </form>
      
             </div>
</div>
            
            
         <div class="panel panel-default">
  <div class="panel-heading">Edit Professional Information</div>
  <div class="panel-body">
      <form class="update-profile-form">
          <div class="col-md-6">
                     <div class="user-contact-info">
                        <div class="form-group">
                            <label class="control-label">Experience 
                                <select aria-label="category" class="form-control-selct" placeholder="select">
                            <option value="">Fresher</option>
                            <option value="">1 to 3</option>
                            <option value="">3+</option>
                                </select>
                            </label>
                         </div>
                     </div>
                      
                      <div class="user-contact-info">
                        <div class="form-group">
                            <label class="control-label">What kind of Freelance Recruiter you are?
                                <select aria-label="category" class="form-control-selct" placeholder="select">
                            <option value="">Full time</option>
                            <option value="">Part time</option>
                                </select>
                            </label>
                         </div>
                     </div>
                      
                      
                      
                     <div class="user-contact-info">
                        <div class="form-group">
                            <label class="control-label">Do you have access to Naukri or Monster employer login? 
                                <select aria-label="category" class="form-control-selct" placeholder="select">
                            <option value="">Yes</option>
                            <option value="">No</option>
                                </select>
                            </label>
                         </div>
                     </div>
                  </div>
      
          <div class="col-md-6">
                       <div class="user-contact-info">
                        <div class="form-group">
                            <label class="control-label">Upto which CTC they worked in past
                                <select aria-label="category" class="form-control-selct" placeholder="select">
                            <option value="">3-10</option>
                            <option value="">10-20</option>
                            <option value="">20-35</option>
                            <option value="">35-50</option>
                            <option value="">50+</option>
                                </select>
                            </label>
                         </div>
                     </div>
                       
                       <div class="user-contact-info">
                        <div class="form-group">
                            <label class="control-label">Packages you want to work on?
                                <select aria-label="category" class="form-control-selct" placeholder="select">
                            <option value="">Up to 4 lacks</option>
                            <option value="">4 to 10 lacks</option>
                            <option value="">10 to 20 lacks</option>
                            <option value="">20 to 25 lacks</option>
                            <option value="">25 lacks & above</option>
                                </select>
                            </label>
                         </div>
                     </div>
                       
                       
                       <div class="user-contact-info">
                        <div class="form-group">
                            <label class="control-label">commission
                                <select aria-label="category" class="form-control-selct" placeholder="select">
                            <option value="">25%</option>
                            <option value="">30%</option>
                            <option value="">40%</option>
                            <option value="">50%</option>
                                </select>
                            </label>
                         </div>
                     </div>
                  </div>
      </form>
      
             </div>
</div>
            
            
            
         <div class="panel panel-default">
  <div class="panel-heading">Edit Professional Information</div>
  <div class="panel-body">
      <form class="update-profile-form">
          <div class="col-md-12">
          <div class="form-group">
          <label>Key Expertise:</label>
          <input type="text" placeholder="Enter your name" class="form-control-cust">
          </div>
          </div>
      
          <div class="col-md-12">
          <div class="form-group">
          <label>Industry</label>
          <input type="text" placeholder="Enter your name" class="form-control-cust">
          </div>
          </div>
      </form>
      
             </div>
</div>
            
          <div class="update-form text-center">
          <a class="btn btn-success">Update Info</a>
          </div>
         </div>
            </div>
         </div>
      </div>
      
    </div> --> 