.cst-edit-form{
    
}
.profile-pic-contnt .upadate-img{
    position: absolute;
    bottom: 0;
    right: -50px;
    color: #000;
    width: 40px;
    height: 40px;
    background-color:#1FB355; 
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 40px;
}
.update-profile-form label{
    color: #4B4B4B;
}

.update-profile-form input[type=password] {
    height: 40px;
    font-size: 12px;
    border: 1px solid #eee;
    border-width: thin;
    border-style:solid;
}
input[type=file] {
    display: block;
    opacity: 0;
    margin-top: -45px;
    width: 45px;
}
.update-profile-form input[type=password]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
    font-size: 10px;
}
.update-profile-form input[type=password]::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
    font-size: 10px;
}
.update-profile-form input[type=password]:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
    font-size: 10px;
}
.update-profile-form input[type=password]:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
    font-size: 10px;
}
.edit-form{
    padding: 20px;
    margin-top: 40px;
}
.edit-form .panel-default{
    border: 1px solid #eee;
}

.edit-form .panel-default>.panel-heading{
    background-color: #F8F8F8;
    font-size: 20px;
    color: #4B4B4B;
    font-weight: 700;
    padding: 10px 30px;
}
.update-profile-pic {
    text-align: center;
    margin: 20px;
    position: relative;
}
.update-profile-pic span {
            background-color: #23b256;
    border-radius: 50%;
    top: 66%;
    left: 54%;
    position: absolute;
    width: 45px;
    color: #fff;
    height: 45px;
    line-height: 45px;
}