<div class="view-job-rec-wrapper">
    <div class="panel panel-default">
    <div class="panel-heading">
         <div class="row">
            <div class="col col-xs-6">
               <p class="panel-title">Manage your jobs</p>
            </div>
           <!--  <div class="col col-xs-3 text-right">
               <span class="m-t-10">Showing 5/20 jobs</span>
            </div> -->
            <!-- <div class="col col-xs-3 text-right">
               <a class="btn btn-purple">Saved Jobs Post</a>
            </div> -->
         </div>
        </div>
      </div>
    
    <!--filter-->
    
         <div class="filter" (click)="showFilter = !showFilter">
            <p><span *ngIf="!showFilter">+ </span><span>filter </span> <span *ngIf="showFilter">X</span></p>
         </div>
         <div class="job-filter" *ngIf="showFilter">
             <div class="row">
            <div class="col-md-12">
               <div class="field-job-proposal">
                  <ul class="list-inline">
                     <li>
                        <div class="form-group"><label>Job Position</label><input class="form-control-cust" name="" placeholder="" type="text"></div>
                     </li>
                     <li>
                        <div class="form-group"><label>Location</label><input class="form-control-cust" name="" placeholder="" type="text"></div>
                     </li>
                     <li>
                        <div class="form-group"><label>Date Posted</label><input class="form-control-cust" name="" placeholder="" type="text"></div>
                     </li>
                     <li>
                        <div class="form-group"><label>Deadline</label><input class="form-control-cust" name="" placeholder="" type="text"></div>
                     </li>
                     <li>
                        <div class="form-group"><label>Job Status</label><input class="form-control-cust" name="" placeholder="" type="text"></div>
                     </li>
                     <li>
                        <div class="form-group"><label>Application</label><input class="form-control-cust" name="" placeholder="" type="text"></div>
                     </li>
                     <li>
                        <div class="form-group"><label>Shortlisted</label><input class="form-control-cust" name="" placeholder="" type="text"></div>
                     </li>
                  </ul>
               </div>
            </div>
                 </div>
         </div>
</div>


<div class="view-job-rec-list-content">
   <table class="candidate-list-view-table">
               <thead class="view-job-rec-table-head white_color cst-table">  
                       <tr>
                          <th>Job Position </th>
                          <th>Posted By </th>
                          <th>Location </th>
                          <th>Date Posted</th>
                          <th>Job Status </th>
                          <th>Application </th>
                          <th>Shortlisted</th>
                          <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor = "let manage of manageJobs" >
                           <td>{{manage.job_id.job_title}}</td>
                           <td>{{manage.client_id.user_name}}</td>
                           <td>  {{manage.job_id.Location}}</td>
                           <td>  {{manage.client_id.created_at}}</td>
                           <td>  {{manage.job_id.status}}</td>
                           <td>  {{manage.totalcandidates}}</td>
                           <td>  0</td>
                            <td>
                                <a routerLink="/recruiterHeader/ViewProposal/{{manage.job_id._id}}">View Jobs</a><br>
                                         <a class="view-resp-btn" routerLink="/recruiterHeader/jobStats/{{manage.job_id._id}}">View Status</a>
                               </td>

                        </tr>
                     </tbody>
                     <!-- <tbody *ngIf= "noData"> No Data Available!</tbody> -->
                  </table>
</div>

<!-- <div class="footer-pagination m-t-20">
   <span>Showing 1 to 5 of 15 entries</span>
   <ul class="pagination pull-right">
      <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
      <li><a href="#" class="active">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
   </ul>
</div> -->