
/*header*/


#recruiter-haeder .navbar-default {
    background-color: #fff;
    padding: 0;
}

#recruiter-haeder .navbar-brand img {
    width: 315px;
    height: auto;
}

#recruiter-haeder .nav li a i.globe {
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#recruiter-haeder .nav li a i.globe:after {
    content: "";
    position: absolute;
    background: red;
    top: -3px;
    right: -5px;
    height: 1.2rem;
    width: 1.2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: #F5655D;
}

#recruiter-haeder .nav li a img {
    width: 40px;
    height: auto;
    border: 1px solid #eee;
}

.navigation-wrapper .btn {
    width: 75%;
    margin-bottom: 35px;
}

.navigation-wrapper .btn i {
    margin-right: 50px;
}


/* Navigation-Wrapper */
.navbar {
    margin-bottom: 0px;
}
.navbar-default{
    border: none;
}
   .navbar-bottom .navbar-nav-custom > li{
		width: 20%;
       display: inline-block;
       text-align: center;
	}
.navbar-bottom .navbar-nav-custom > li > a {
		color: #9d9d9d;
       font-size: 20px;
        border-bottom: 5px solid transparent;
	}

	.navbar-bottom .navbar-nav-custom > li > a:hover,
	.navbar-bottom .navbar-nav-custom > li > a:focus
	{
		color: #24B050;
		background-color: transparent;
	}
	.navbar-bottom .navbar-nav-custom > .active > a,
	.navbar-bottom .navbar-nav-custom > .active > a:hover,
	.navbar-bottom .navbar-nav-custom > .active > a:focus {
		color: #24B050;
		background-color: transparent;
		border-bottom: 5px solid #24B050;
        font-weight: 600;

	}
.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}


/*change-password*/
#manage-new-acc-sign-up{
    padding: 40px 40px 20px;
}
.signup-box h1{
    font-size: 20px;
    font-weight: 700;
    color: #626262;
    position: relative;
    display: inline-block;
}
.signup-box h1:after{
    content: '';
    width: 150px;
    height: 3px;
    background-color: #1FB355;
    position: absolute;
    top: 30px;
    right: 0;
}
.sign-up-profile img{
    width: 100px;
    height: 100px;
}
.sign-up-profile .user-info{
    padding: 20px 40px;
}
.sign-up-profile .user-info h4{
    font-size: 16px;
    color: #626262;
    font-weight: 500;
}
.sign-up-profile .user-info h6{
    font-size: 12px;
    color: #626262;
    font-weight: 300;
}
.sign-up-profile .upadate-img{
    position: absolute;
    bottom: 0;
    right: -50px;
    color: #000;
    width: 40px;
    height: 40px;
    background-color:#1FB355; 
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 40px;
}
.sign-up-form label{
    font-size: 14px;
    color: #626262;
    font-size: 500;
}
.sign-up-form .form-group {
    margin: 0;
}

.sign-up-form .form-group input[type=password] {
    height: 40px;
    font-size: 12px;
    border: 1px solid #eee;
    border-width: thin;
    border-style:solid;
}
.sign-up-form .form_field label.check {
    display: inline-block;
}
.sign-up-form .form_field span {
    font-size: 12px;
    opacity: 0.8;
}
.sign-up-form .form-group input[type=password]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
    font-size: 10px;
}
.sign-up-form .form-group input[type=password]::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
    font-size: 10px;
}
.sign-up-form .form-group input[type=password]:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
    font-size: 10px;
}
.sign-up-form .form-group input[type=password]:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
    font-size: 10px;
}
.input-box btn{
    margin-top: 20px;
}