<section id="view-proposal">
   <div class="container">
      <div class="feeds-title">
        <!--  <p class="text-left" >
            <a class="back-btn" routerLink="/recruiterHeader/recruiterDashboard"><img src="../../assets/img/left-arrow.svg" width="20px" height="auto"> &nbsp;
Back</a>
         </p> -->
      </div>
      <div class="col-md-7">
         <div class="cmpny-req-title">
            <h4>Company's Requirement</h4>
            <p>{{dashboardJobs.descirption}}</p>
         </div>
         <div class="cmpny-req-post m-t-40">
            <div class="cmpny-profile-img">
               <img src="http://via.placeholder.com/100x100">
            </div>
            <div class="cmpny-req-post-info">
               <h4>{{dashboardJobs.functional_area}}</h4>
               <h6>{{dashboardJobs.job_title}} </h6>
               <p>{{dashboardJobs.vacancy}} position avialable</p>
            </div>
         </div>
         <div class="cmpny-location">
            <p>Location: <span>{{dashboardJobs.Location}}</span></p>
         </div>
         <div class="cmpny-deadline">
            <p>Deadline:<span>{{dashboardJobs.deadline}}</span></p>
         </div>
         <div class="cmpny-job-intro">
            <h5>Job Intro</h5>
            <p>{{dashboardJobs.description}}</p>
         </div>
         <div class="cmpny-ctc">
            <p>CTC:<span>{{dashboardJobs.ctc_min}}-{{dashboardJobs.ctc_max}} lacs p.a.</span></p>
         </div>
         <div class="cmpny-experience">
            <p>Experience:<span>{{dashboardJobs.experience}} yrs</span></p>
         </div>
         <div class="cmpny-qualification">
            <p>Qualification:<span>{{dashboardJobs.qulification}}</span></p>
         </div>
         <div class="meal-info">
            <h5>Perks</h5>
            <ul class="lis-inline">
               <li>{{dashboardJobs.perks}}</li>
               <li>Free snacks</li>
             <!--   <li>Free snacks</li>
               <li>Free snacks</li>
               <li>Free snacks</li> -->
            </ul>
         </div>
      </div>
      <div class="col-md-5">
         <div class="import-resume">
            <p>Make sure you have our excel template to import resumes.</p>
            <div class="text-left">
               <a class="btn btn-purple" (click)="getDataAndDownlaodEXCEL(test)"><i class="fas fa-upload"></i> Download Excel template</a>
               <br>
               <a class="btn btn-success m-t-40" (click)="frstModal.show()"><i class="fas fa-download"></i> Start Importing Resume</a>
            </div>
         </div>
         <div class="skils-req m-t-40">
            <h5>Skills</h5>
            <ul *ngFor="let skill of dashboardJobs.skills " class="list-inline">
               <li>
                  <p>{{skill}}</p>
               </li>
               
            </ul>
             <div *ngIf = "showJd" class="skils-req m-t-40">
              <a class="view-resume" (click) = "viewJD()" >View Attached JD file</a>
           </div>
         </div>
      </div>
   </div>
</section>
<!--export-file-->
<!--Consultant SignUp Popup End -->
<div bsModal #frstModal="bs-modal" class="modal fade" tabindex="-1"
   role="dialog" aria-labelledby="dialog-sizes-name1">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-body text-center excel-importer-file">
            <div class="close">
               <a><img src="../../assets/img/cancel.png" ></a>
            </div>
            <h6>Upload filled excel file of candidte</h6>
            <!-- <p>Upload a resume of candidate, Preferby .pdf (less then 1 Mb)</p> -->
          <!--   <a class="btn btn-purple m-t-20"><i class="fas fa-upload"></i> Download Excel template</a> -->
            <p class="note">Note: Please block the candidate contact deatails on the resume to be upload in the next step</p>
            <div class="uload-excel-resume">
               <form method="post" action="#" id="#">
                  <div class="form-group files color">
                     <h6><i class="fas fa-hand-rock"></i> Drag a file here</h6>
                     <p>OR</p>
                     <div class="inputfile-box">
                        <input type="file" id="file" class="inputfile" (change)='onChange($event)'>
                        <label for="file">
                        <span id="file-name" class="file-box"></span>
                        <span class="file-button">
                        Select a file from computer
                        </span>
                        </label>
                     </div>
                     <!-- <p class="error">Error occured! We have detected you haven't blocked Email ID / Phone No. on the resume.</p> -->
                  </div>
               </form>
            </div>
            <p class="text-center m-t-40">
               <a  class="btn btn-success" (click)="onSubmit(dashboardJobs._id);secondModal.show();frstModal.hide()">Upload</a>
            </p>
         </div>
      </div>
   </div>
</div>
<!-- SignUp Popup End -->
<!--table-data-->
<div bsModal #secondModal="bs-modal" class="modal fade" tabindex="-1"
   role="dialog" aria-labelledby="dialog-sizes-name1">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body text-center excel-importer-file" style="padding: 20px;">
            <table class="table table-list-data">
               <thead>
                  <tr >
                     <th>Name</th>
                     <th>Email</th>
                     <th>Age</th>
                     <th>Sex</th>
                     <th>Experience</th>
                     <th>Qualificcation</th>
                     <th>Current Organisation</th>
                     <th>CTC</th>
                     <th>Status</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let candidate of candidates| paginate: { itemsPerPage: 10, currentPage: p }">
                     <td>{{candidate.name}}</td>
                     <td>{{candidate.email}}</td>
                     <td>{{candidate.age}}</td>
                     <td>{{candidate.sex}}</td>
                     <td>{{candidate.experience}}</td>
                     <td>{{candidate.qualification}}</td>
                     <td>{{candidate.current_organisation}}</td>
                     <td>{{candidate.ctc}}</td>
                     <td>
                     <!--   <button (click)="uploadResume()">Upload CV</button> -->
                     <div *ngIf = " candidate.cv === null" class="file-upload">
                        <input  class=""  aria-label="file"  type="file" (change)="handleFileSelect($event,candidate._id)" multiple>
                        <p> Upload CV </p>
                     </div>
                     <div *ngIf = " candidate.cv != null" class="file-upload">
                        <!-- <input  class=""  aria-label="file"  type="file" (change)="handleFileSelect($event,candidate._id)" multiple> -->
                        <p> CV uploaded </p>
                     </div>
                     </td>
                  </tr>
               </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <p class="text-right m-t-20">
               <a class="btn btn-success" (click)="thrdModal.show();secondModal.hide();frstModal.hide()">Submit Resume</a>
            </p>
              

         </div>

      </div>   
   </div>
</div>
<!--Consultant SignUp Popup End -->
<div bsModal #thrdModal="bs-modal" class="modal fade" tabindex="-1"
   role="dialog" aria-labelledby="dialog-sizes-name1">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-body text-center excel-importer-file">
            <div class="close">
               <a><img src="../../assets/img/cancel.png" ></a>
            </div>
            <h6>Upload filled excel file of candidates</h6>
            <p>Upload a resume of candidate, Preferby .pdf (less then 1 Mb)</p>
            <!-- <a class="btn btn-purple m-t-20"><i class="fas fa-upload"></i> Download Excel template</a> -->
            <!-- <p class="note">Note: Please block the candidate contact deatails on the resume to be upload in the next step</p> -->
            <div class="uload-excel-resume">
               <form method="post" action="#" id="#">
                  <div class="form-group files color">
                     <h6><i class="fas fa-hand-rock"></i> Drag a file here</h6>
                     <p>OR</p>
                     <div class="inputfile-box">
                        <input type="file" id="file" name="file" class="inputfile" (change)='onChange(file)'>
                        <label for="file">
                        <span id="file-name" class="file-box"></span>
                        <span class="file-button">
                        Select a file from computer
                        </span>
                        </label>
                     </div>
                     <!--  <p class="error">Error occured! We have detected you haven't blocked Email ID / Phone No. on the resume.</p> -->
                  </div>
               </form>
            </div>
            <p class="text-center m-t-40">
               <a  class="btn btn-success" (click)="forthModal.show();thrdModal.hide();secondModal.hide();frstModal.hide()">Upload</a>
            </p>
         </div>
      </div>
   </div>
</div>
<!-- SignUp Popup End -->
<!--export-file-->
<div bsModal #forthModal="bs-modal" class="modal fade" tabindex="-1"
   role="dialog" aria-labelledby="dialog-sizes-name1">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-body text-center excel-importer-file">
            <div class="close">
               <a><img src="../../assets/img/cancel.png" ></a>
            </div>
            <div class="tick m-t-50">
               <span><i class="fas fa-check-circle"></i></span>
            </div>
            <h6>Resume are submitted for preliminary evalution.</h6>
            <p>You will hear from us when we recive any update.</p>
            <a class="btn btn-purple m-t-40" routerLink="/recruiterHeader/recuiterDashboard">Go to Dashboard</a>
         </div>
      </div>
   </div>
</div>