.modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8); 
    }
   
    .modal-dialog {
                width: 100%;
        }
        .modal-content {
            width: 70%;
                border-radius: 0px;
                border: none;
            margin: 0 auto;
    top: 40%;
            }
            .modal-body {
                    background-color: #fff;
                padding:30px 0;
             }
.close{
    margin-right: 40px;
}
.excel-importer-file{
    text-align: center;
}
.excel-importer-file h6{
    font-weight: 500;
    color: #000;
    font-size: 16px;
    margin-top: 40px;
}
.excel-importer-file p.note{
    font-weight: 500;
    color: #FFB43C;
    font-size: 14px;
    padding: 30px 0;
}
               
.uload-excel-resume{
    background-color: #F0F0F0;
    padding: 20px;
    text-align: center;
}
.uload-excel-resume h6{
    color: #A6ACB9;
    font-weight: 500;
    font-size: 14px;
}
.inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
      width: 300px;
    height: 50px;
  border: 1px solid #4B4B4B;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
}

.file-button {
  position: absolute;
  text-align: center;
  top: 10px;;
    left: 0;
    right:0;
    font-weight: 400;
}
.error{
    color: red;
    font-size: 14px;
    font-weight: 400;
}

.tick i{
    color: #4cae4c;
    font-size: 100px;
    text-align: center;
}
/*modal-box-table-data*/
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
   padding: 10px 10px !important;
    border-top: none;
}

.table-list-data thead tr th{
    font-size: 14px;
    text-align: left;
}
.table-list-data tbody tr td{
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}