.slider {
    -webkit-appearance: none;
    width: 300px !important;
    height: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    margin: 10px 0;
}
.custom-button {
  display: inline-block;
  width: 200px;
  height: 46px;
  line-height: 46px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  margin: 10px auto 30px;
  outline: 0;
  background-color: #6812B2;
}
.custom-import {
  position: relative;
  cursor: pointer;
        float: right;
    margin-top: -40px;
}
.custom-import .label-file {
  width: 200px;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 0 3%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-import input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.br-horizontal{display:flex;justify-content:center;align-items:center}.br-horizontal .br-unit{display:block;width:12px;height:32px;float:left;background-color:#fbedd9;margin:1px;text-align:center}.br-horizontal .br-unit.br-active,.br-horizontal .br-unit.br-selected{background-color:#EDB867}.br-horizontal.br-readonly .br-unit{cursor:default}.br-horizontal.br-readonly .br-unit.br-active,.br-horizontal.br-readonly .br-unit.br-selected{background-color:#f2cd95}.br-horizontal .br-text{width:20px;margin-left:20px;font-size:18px;color:#EDB867}
