<link rel="stylesheet" href="../node_modules/ngx-bar-rating/themes/br-default-theme.css"/>

<div id="post-new-job">
   <h3 class="title">New Job Post</h3>
   <div class="stepper">
      <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" >
            <a class="persistant-disabled" [ngClass]="{ 'active':activeTab==='1'}" href="#stepper-step-1"  (click)="nextPage('1')" data-toggle="tab" aria-controls="stepper-step-1" role="tab" title="Step 1" >
               <span class="round-tab"></span>
               <p class="stepper-info">GENERAL<br>INFORMATION</p>
            </a>
         </li>
         <li role="presentation">
            <a class="persistant-disabled" [ngClass]="{ 'active':activeTab==='2'}" href="#stepper-step-2" (click)="nextPage2('2')" data-toggle="tab" aria-controls="stepper-step-2"role="tab" title="Step 2">
               <span class="round-tab"></span>
               <p class="stepper-info">JOB<br>DESCRIPTION</p>
            </a>
         </li>
         <li role="presentation">
            <a class="persistant-disabled" [ngClass]="{ 'active':activeTab==='3'}" href="#stepper-step-3" (click)="nextPage3('3')" data-toggle="tab" aria-controls="stepper-step-3" role="tab" title="Step 3">
               <span class="round-tab"></span>
               <p class="stepper-info">CTC<br> &amp; PERKS</p>
            </a>
         </li>
         <li role="presentation">
            <a class="persistant-disabled" [ngClass]="{ 'active':activeTab==='4'}" href="#stepper-step-4" (click)="nextPage4('4')" data-toggle="tab" aria-controls="stepper-step-4" role="tab" title="Complete">
               <span class="round-tab"></span>
               <p class="stepper-info">PERIOD<br>& CONTRACTS</p>
            </a>
         </li>
      </ul>
      	<div class="tab-content">
      	   	 <div *ngIf="step1" class="tab-pane fade in active" role="tabpanel" >
      	   	 	<div class="confrmation-notification">
                  <div class="list-item-title">
                      <p>Upload JD</p>
                      <div class="custom-import custom-button">
                      <span class="label">Upload File</span>
                      <span class="label-file"></span>
                      <input class="import-field" type="file" (change)='handleFileSelect($event)'  name="name" value="1" placeholder="">
                     </div>
                  </div>
               </div>
                <div class="post-job-form-wrapper">
      	   	 	  <div class="genral-infm-form">
      	   	 		<form class="customize_form" [formGroup]="postNewJobForm1" (ngSubmit)="nextStep2('2')" loginSubmitted novalidate>
            	      <div class="form-group">
        	                <div class="form_field">
    						         <label class="control-label">Job Title</label>
                            <input class="form-control-cust" name="jobTitle" aria-label="jobTitle" formControlName="jobTitle" placeholder="Job Title"
                                 type="text">
                        </div>
                        <div *ngIf="submitted && postNewJobForm1.controls.jobTitle.hasError('required')" class="alert alert-danger">Title Required</div>
               		     </div>
               		     <div class="form-group">
        	                <div class="form_field">
	    						 <label class="control-label">Industry </label>
								     <select class="form-control-selct" aria-label="industry" formControlName = 'industry' placeholder = 'industry'>
                               <option value="" disabled>Select Industry</option>
								          <option *ngFor="let x of industries" value="{{x.value}}">
								            {{x.value}}
								        </option>
								      </select>
						     </div>
	                            <div *ngIf="submitted && postNewJobForm1.controls.industry.hasError('required')" class="alert alert-danger">Industry Required</div>
	               		     </div>
						<div class="form-group">
        	                <div class="form_field">
	    						 <label class="control-label"> Functional Area </label>
								     <select   class="form-control-selct" aria-label="functionalArea" formControlName = 'functionalArea' placeholder = 'functionalArea'	>
								                                        <option value="" disabled>Select Functional Area</option>
                          <option *ngFor="let x of functionalArea" value="{{x.value}}">
								            {{x.value}}
								        </option>
								      </select>
						     </div>
	                            <div *ngIf="submitted && postNewJobForm1.controls.functionalArea.hasError('required')" class="alert alert-danger">Functional Area Required</div>
	               		     </div>
	               		     <div class="form-group">
						      <label class="control-label">Skills</label>
						        <tag-input 
						         formControlName = "skills" 
						          (onRemove)="onItemRemoved($event)"
						         (onAdd)="onItemAdded($event)" 
						         [placeholder]="'Enter Skills'"
						         [secondaryPlaceholder]="'Enter Skills'">
						         	  <tag-input-dropdown
									      [autocompleteItems]="items"
									      [showDropdownIfEmpty]="true"
									      [dynamicUpdate]="false"
									    >
									     </tag-input-dropdown>
						      </tag-input>
						     </div>
							<div class="form-group">
        	               	 <div class="form_field">
    						  <label class="control-label">Vacancy</label>
		                            <input class="form-control-cust" name="vacancy" aria-label="vacancy" formControlName="vacancy" placeholder="vacancy"
		                                 type="number">
		                        </div>
		                      <div *ngIf="submitted && postNewJobForm1.controls.vacancy.hasError('required')" class="alert alert-danger">vacancy Required</div>
		               		  </div>
		               		  <div class="form-group">
        	               	 <div class="form_field">
    						  <label class="control-label">Location</label>
		                            <input class="form-control-cust" name="location" aria-label="location" formControlName="location" placeholder="location"
		                                 type="text">
		                        </div>
		                      <div *ngIf="submitted && postNewJobForm1.controls.location.hasError('required')" class="alert alert-danger">Location Required</div>
		               		  </div>
		               		   <a class="btn btn-warning" style="margin-right: 20px;" (click)="saveJob()">Save as draft</a>
                        <button class="btn btn-success" type="submit"  aria-label="submit" >Next</button>
      	   	 			</form>
      	   	 			</div>
      	   	 		</div>
				</div>
				<div *ngIf="step2" class="tab-pane fade in active" role="tabpanel" >
      	   	 	 <div class="confrmation-notification">
			      <div class="list-item-title">
			      <p>Do you want to continue from here later?</p>
			      <span>Save the responses for now and continue at your convenience.</span>
			      <a class="btn btn-warning pull-right">Save to Draft</a>
			      </div>
			      </div>
				 <div class="post-job-form-wrapper">
				      <div class="genral-infm-head">
				      <h5>Job description for new job post</h5>
				      <p>facing issue filling this form? <span class="tooltip--right" data-tooltip="Call now: +91-8448533465 ">Get help form our cutomer happiness officer</span></p>
				      </div>
				  <div class="genral-infm-form job-description">
				   <form class="customize_form" [formGroup]="postNewJobForm2" (ngSubmit)="nextStep3('3')  " loginSubmitted novalidate>
					   	<div class="form-group">
					      <label class="control-label">Education Qualification</label>
					      <select class="form-control-selct" aria-label="qualifications" formControlName = 'qualifications' placeholder = 'Qualification'>
					          <option value="" disabled>Select Qualification</option>
                    <option *ngFor="let x of qualifications" value="{{x}}">
					            {{x}}
					        </option>
					      </select>
					      </div>
					      <div *ngIf="submitted2 && postNewJobForm2.controls.qualifications.hasError('required')" class="alert alert-danger">Qualifications Required</div>
	               		     
	               		     	<div class="form-group">
					      <label class="control-label">Experiance</label>
					      <select class="form-control-selct" aria-label="experiance" formControlName = 'experiance' placeholder = 'Experiance'>
                    <option value="" disabled>Select Experiance</option>
					          <option *ngFor="let x of spans" value="{{x}}">
					            {{x}}
					        </option>
					      </select>
					      </div>
					      <div *ngIf="submitted2 && postNewJobForm2.controls.experiance.hasError('required')" class="alert alert-danger">Experiance Required</div>
					   <button class="btn btn-success" type="submit"  aria-label="submit" >Next</button>

				   </form>
				</div>
				</div>

				</div>
				<div *ngIf="step3" class="tab-pane fade in active" role="tabpanel" >
      		   	 	<div class="confrmation-notification">
				          <div class="list-item-title">
				        	  <p>Do you want to continue from here later?</p>
				    	     <span>Save the responses for now and continue at your convenience.</span>
				    	     <a class="btn btn-warning pull-right">Save to Draft</a>
				        	</div>
					         </div>
			      <div class="post-job-form-wrapper">
				      <div class="genral-infm-head">
					       <h5>CTC and Perks for new job post</h5>
					        <p>Having Difficulty? <span class="tooltip--right" data-tooltip="Call now: +91-8448533465 ">Get help form our cutomer happiness officer</span>
				          </p>
				      </div>
				   <div class="genral-infm-form">
				      <form class="customize_form" [formGroup]="postNewJobForm3" (ngSubmit)="nextStep4('4')">
				 	       <div class="form_field">
						       <div class="form_field">
						         <label>CTC</label>
					         <ul class="ctc-select">
					           <li>
						       <div class="select">
						     	 <select aria-label="experiance" formControlName = 'ctcType' placeholder = 'CTC' class="select.form-control-selct" >
                                                   <option value="" disabled>Select CTC Currency</option>
						     	 <option *ngFor="let x of currencies" name="ctcType"[value]="x">{{x}}</option>
						    	  </select>
						      <div class="select__arrow"></div>
     			 			</div>
     			 			<div *ngIf="submitted3 && postNewJobForm3.controls.ctcType.hasError('required')" class="alert alert-danger">Currency Required</div>
  					    </li>
                                 
 					 <li>
  					    <input type="number" formControlName="min" name="minimum" value="minimum" class="form-control-cust">
  					      <div *ngIf="submitted3 && postNewJobForm3.controls.min.hasError('required')" class="alert alert-danger">Minmum  Required</div>

     					 <span>to</span>
     				 </li>
    				  <li>
     					 <input type="number" formControlName="max" name="maximun" value="maximun" class="form-control-cust">
     					 <div *ngIf="submitted3 && postNewJobForm3.controls.max.hasError('required')" class="alert alert-danger">Maximum  Required</div>
     				 </li>
     			 </ul>
          </div>
     		 </div>
			      <div class="form-group">
			      <label class="control-label">Perks</label>
			      <input name="perks" type="text" formControlName="perks" placeholder=""  class="form-control-cust">
			      </div>
			      <div *ngIf="submitted3 && postNewJobForm3.controls.perks.hasError('required')" class="alert alert-danger">Perks Required</div>
			      <!--<div class="ctc-range-slider m-t-40">
                      <div class="row">
			    	  <div class="col-md-6">
		    			  <div class="form_field">
						    <label>Commission to consultant (% of CTC of Candidate)</label><br>
				    		  <ng5-slider   (userChange)="setCommission($event)" [(value)]="value" [options]="options"></ng5-slider>
			      		</div>
                          </div>
			      	</div>
			      </div>-->
                   <button class="btn btn-success" type="submit"  aria-label="submit" >Next</button>
				      </form>
				   </div>
				  </div>
				</div>
				<div *ngIf="step4" class="tab-pane fade in active" role="tabpanel" >
      	   	 <div class="confrmation-notification">
                 <div class="list-item-title">
                    <p>Do you want to continue from here later?</p>
                     <span>Save the responses for now and continue at your convenience.</span>
                     <a class="btn btn-warning pull-right">Save to Draft</a>
                 </div>
              </div>
              <div class="post-job-form-wrapper">
                <div class="genral-infm-head">
                 <h5>Period and contract for new job post</h5>
                 <p>facing issue filling this form? <span class="tooltip--right" data-tooltip="Call now: +91-8448533465 ">Get help form our cutomer happiness officer</span></p>
               </div>
              <div class="genral-infm-form">
                <form class="customize_form" [formGroup]="postNewJobForm4" (ngSubmit)="postNewJob()">
                        <div class="form-group">
                          <div class="form_field">
                           <label class="control-label">Deadline</label>
                            <input class="form-control-cust" name="deadline" aria-label="deadline" formControlName="deadline" placeholder="Date"
                                 type="date">
                        </div>
                        <div *ngIf="submitted4 && postNewJobForm4.controls.deadline.hasError('required')" class="alert alert-danger">Deadline Required</div>
                       </div>
                        <div class="form-group">
                          <div class="form_field">
                         <label class="control-label">Company Name</label>
                            <input class="form-control-cust" name="companyName" aria-label="companyName" formControlName="companyName" placeholder="Company Name"
                                 type="text">
                        </div>
                        <div *ngIf="submitted4 && postNewJobForm4.controls.companyName.hasError('required')" class="alert alert-danger">Company Name Required</div>
                       </div>
                        <div class="form-group">
                          <div class="form_field">
                         <label class="control-label">Company Description</label>
                            <input class="form-control-cust" name="companyDescription" aria-label="companyDescription" formControlName="companyDescription" placeholder="Company Description"
                                 type="text">
                        </div>
                        <div *ngIf="submitted4 && postNewJobForm4.controls.companyDescription.hasError('required')" class="alert alert-danger">Company Description Required</div>
                       </div>
                       <div class="form_field">
                          <label>Notice Period</label>
                            <ul class="ctc-select">
                           <li>
                           <div class="select">
                              <select aria-label="noticePeriod" formControlName = 'noticePeriod' placeholder = 'noticePeriod' >
                               <option value="" disabled>Select Notice period</option>
                              <option *ngFor="let x of periods" name="notice" value="{{x}}" >{{x}}</option>
                              </select>
                          </div>
                           <div *ngIf="submitted4 && postNewJobForm4.controls.noticePeriod.hasError('required')" class="alert alert-danger">noticePeriod Required</div>

                          </li>
                        </ul>
                        </div>
                          <div class="form_field">
                            <label>Contract Period</label>
                            <ul class="ctc-select">
                          <li>
                          <div class="select">
                             <select aria-label="contactPeriod" formControlName = 'contactPeriod' placeholder = 'contactPeriod'  >
                               <option value="" disabled>Select Contract period</option>
                             <option *ngFor="let x of periods" name="contact" value="{{x}}">{{x}}</option>
                            </select>
                          </div>
                        <div *ngIf="submitted4 && postNewJobForm4.controls.contactPeriod.hasError('required')" class="alert alert-danger">contactPeriod Required</div>

                            </li>
                          </ul>
                        </div>
               <button class="btn btn-success" type="submit"  aria-label="submit" >Post New Job</button>

                </form>
        			</div>
            </div>
          </div>
		</div>
	</div>
</div>
    