

    <section id="view-status-leads" style="height: 100% !important;">

        <!--back-btn-->
        <div class="back-to">
            <p class="text-left"> <a class="back-btn" routerLink="/main/manageUser"><img src="assets/img/left-arrow.svg" width="20px" height="auto"> &nbsp;
Back</a>
            </p>
        </div>
        <!--end-->


        <!--lead-deatail-->
        <div class="row m-t-50">
            <div class="col-md-12">
                <div class="user-profile-acc">

                    <div class="account-detail">
                        <a class="reject-stats f-right" data-toggle="modal" data-target="#modal-block-acc">Block / Delete</a>
                        <h4>Account Details</h4>
                        <p>check details, contact, stats and all</p>
                    </div>

                    <div class="list-wrapper m-t-40">
                        <div class="posted-pic">
                            <img src="https://via.placeholder.com/70x70" class="thumbnail">
                        </div>
                        <div class="list-description">
                            <h4>Aman Gautam</h4>
                            <p>UX Gorilla</p>
                            <ul class="list-inline">
                                <li><span class="star"><span class="fas fa-star checked"></span><span class="fas fa-star checked"></span><span class="fas fa-star checked"></span><span class="fas fa-star"></span><span class="fas fa-star"></span></span>
                                </li>
                                <li><span class="edit theme_color">(<i class="fas fa-pencil-alt"></i> Edit)</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="user-profile-status m-t-40">
                        <ul>
                            <li>
                                <p>Date of Expiration:</p>
                                <span>31 may, 2018</span>
                            </li>
                            <li>
                                <p>Managed By:</p>
                                <span>Arun Bansal</span>
                            </li>
                            <li>
                                <p>Contact Details:</p>
                                <span>+91-99999999999</span><br>
                                <span>manoj@uxgorilla.com</span>
                            </li>
                        </ul>
                    </div>

                </div>



                <!--job-stst-tabber-->
                <div class="job-sts-tabber m-t-50">
                    <h4>Profile Status</h4>
                    <ul class="nav nav-tabs m-t-50">
                        <!-- data-toggle="tab" href="#tab-1" -->
                       <li class="active"> <a data-toggle="pill" href="#tab-1">
         <span class="value">16</span>
         <span class="text">Jobs<br>posted</span>
         </a></li>
                        <!-- data-toggle="tab" href="#tab-2" -->
                        <li><a data-toggle="pill" href="#tab-2">
         <span class="value">5</span>
         <span class="text">job<br>profile</span>
                            </a></li>
                        <!-- data-toggle="tab" href="#tab-3" -->
                        <li><a data-toggle="pill" href="#tab-3">
         <span class="value">200</span>
         <span class="text">resumes<br>viewwd</span>
                            </a></li>
                        <!-- data-toggle="tab" href="#tab-4" -->
                       <li> <a data-toggle="pill" href="#tab-4">
         <span class="value">80</span>
         <span class="text">candidate<br>shortlisted</span>
                           </a></li>
                         <!-- data-toggle="tab" href="#tab-4" -->
                       <li> <a data-toggle="pill" href="#tab-5">
         <span class="value">40</span>
         <span class="text">resume<br>download</span>
                           </a></li>
                         <!-- data-toggle="tab" href="#tab-4" -->
                       <li> <a data-toggle="pill" href="#tab-6">
         <span class="value">16</span>
         <span class="text">candidates<br>interviewed</span>
                           </a></li>
                         <!-- data-toggle="tab" href="#tab-4" -->
                       <li> <a data-toggle="pill" href="#tab-7">
         <span class="value">6</span>
         <span class="text">candidates<br>hired</span>
                           </a></li>
                    </ul>
                </div>
                <div class="tab-content m-t-50">
                    <div id="tab-1" class="tab-pane fade in active">

                        <div class="view-job-table-head">
                            <ul class="list-inline">
                                <li>jobs posted <i class="fas fa-sort"></i></li>
                                <li>posting date <i class="fas fa-sort"></i></li>
                                <li>deadline <i class="fas fa-sort"></i></li>
                                <li>CTC <i class="fas fa-sort"></i></li>
                                <li>status <i class="fas fa-sort"></i></li>
                            </ul>
                        </div>

                        <div class="view-job-list-content">
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane fade in">
                        
                        <div class="view-job-table-head">
                            <ul class="list-inline">
                                <li>jobs posted <i class="fas fa-sort"></i></li>
                                <li>posting date <i class="fas fa-sort"></i></li>
                                <li>deadline <i class="fas fa-sort"></i></li>
                                <li>CTC <i class="fas fa-sort"></i></li>
                                <li>status <i class="fas fa-sort"></i></li>
                            </ul>
                        </div>

                        <div class="view-job-list-content">
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane fade in">

                        
                        <div class="view-job-table-head">
                            <ul class="list-inline">
                                <li>jobs posted <i class="fas fa-sort"></i></li>
                                <li>posting date <i class="fas fa-sort"></i></li>
                                <li>deadline <i class="fas fa-sort"></i></li>
                                <li>CTC <i class="fas fa-sort"></i></li>
                                <li>status <i class="fas fa-sort"></i></li>
                            </ul>
                        </div>

                        <div class="view-job-list-content">
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>
                            
                            
                            <!--view-job-list-->
                            <div class="view-job-table-list">
                                <ul class="list-inline">
                                    <li><span class="candidate-name">HR Manager</span></li>
                                    <li>26/05/2018</li>
                                    <li>26/05/2018</li>
                                    <li>12 Lacs p.a</li>
                                    <li>hired</li>
                                    <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div id="tab-4" class="tab-pane fade in">

                            <div class="view-job-table-head">
                                    <ul class="list-inline">
                                        <li>jobs posted <i class="fas fa-sort"></i></li>
                                        <li>posting date <i class="fas fa-sort"></i></li>
                                        <li>deadline <i class="fas fa-sort"></i></li>
                                        <li>CTC <i class="fas fa-sort"></i></li>
                                        <li>status <i class="fas fa-sort"></i></li>
                                    </ul>
                                </div>
        
                                <div class="view-job-list-content">
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
        
                                </div>
                    </div>
                    
                    <div id="tab-5" class="tab-pane fade in">

                            <div class="view-job-table-head">
                                    <ul class="list-inline">
                                        <li>jobs posted <i class="fas fa-sort"></i></li>
                                        <li>posting date <i class="fas fa-sort"></i></li>
                                        <li>deadline <i class="fas fa-sort"></i></li>
                                        <li>CTC <i class="fas fa-sort"></i></li>
                                        <li>status <i class="fas fa-sort"></i></li>
                                    </ul>
                                </div>
        
                                <div class="view-job-list-content">
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
        
                                </div>
                    </div>
                    
                    <div id="tab-6" class="tab-pane fade in">

                            <div class="view-job-table-head">
                                    <ul class="list-inline">
                                        <li>jobs posted <i class="fas fa-sort"></i></li>
                                        <li>posting date <i class="fas fa-sort"></i></li>
                                        <li>deadline <i class="fas fa-sort"></i></li>
                                        <li>CTC <i class="fas fa-sort"></i></li>
                                        <li>status <i class="fas fa-sort"></i></li>
                                    </ul>
                                </div>
        
                                <div class="view-job-list-content">
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
        
                                </div>
                    </div>
                    
                    <div id="tab-7" class="tab-pane fade in">

                            <div class="view-job-table-head">
                                    <ul class="list-inline">
                                        <li>jobs posted <i class="fas fa-sort"></i></li>
                                        <li>posting date <i class="fas fa-sort"></i></li>
                                        <li>deadline <i class="fas fa-sort"></i></li>
                                        <li>CTC <i class="fas fa-sort"></i></li>
                                        <li>status <i class="fas fa-sort"></i></li>
                                    </ul>
                                </div>
        
                                <div class="view-job-list-content">
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <!--view-job-list-->
                                    <div class="view-job-table-list">
                                        <ul class="list-inline">
                                            <li><span class="candidate-name">HR Manager</span></li>
                                            <li>26/05/2018</li>
                                            <li>26/05/2018</li>
                                            <li>12 Lacs p.a</li>
                                            <li>hired</li>
                                            <li><a href="resume-pdf.html" class="theme_color">View jobs</a></li>
                                        </ul>
                                    </div>
        
                                </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!-- Modal-block-acc-->
    <div id="modal-overview-inquire">
        <div class="modal fade" id="modal-block-acc" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->

                <div class="modal-content modal-block-bg">
                    <div class="row">
                        <div class="modal-body">
                            <div class="close  cls-cstm">
                                <a data-dismiss="modal" aria-hidden="true"><img src="assets/img/cancel.png" ></a>
                            </div>

                            <!--response-modal-->
                            <div class="inquire-modal-content modal-pad">
                                <div class="list-wrapper">
                                    <div class="posted-pic">
                                        <img src="https://via.placeholder.com/50x50" class="thumbnail">
                                    </div>
                                    <div class="list-description">
                                        <h4>Aman Gautam</h4>
                                        <p>UX Gorilla, Employer</p>
                                    </div>
                                </div>
                                <br>
                                <!--job-description-textbox-->
                                <div class="description-text-box">
                                    <div class="form_field">
                                        <label>Reason for Blocking the Account</label>
                                        <textarea></textarea>
                                    </div>
                                </div>

                                <!--btn-->
                                <ul class="list-inline f-right" style="margin-bottom: 30px;">
                                    <li><a class="btn btn-withdraw">Block Account temporarily</a></li>
                                    <li><a class="btn btn-danger" data-toggle="modal" data-target="#modal-inquire">Remove account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>