
<!-- Video Banner -->
<div id="video_banner_on_homepage">
   <div class="homepage-hero-module">
      <!-- Video Upload -->
      <div class="video-container">
         <div class="filter"></div>
         <video autoplay loop class="fillWidth" poster="assets/img/w3html5.gif">
            <source src="assets/video/banner_video.mp4" type="video/mp4" />
            Your browser does not support the video tag. I suggest you upgrade your browser.

            <!-- <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser. -->
         </video>
         <div class="poster hidden">
            <img src="assets/video/banner_video_imag.png" alt="banner_video_image">
         </div>
      </div>
      
      <!-- Video Upload End-->
   </div>
   <div class="content_place">
      <div class="content_place_compress">
         <h1>MARKETPLACE FOR THE JOB CONSULTANTS</h1>
         <!-- <button (click)="signInWithLinkedIN()">Login with Linked In</button>
         <button (click)="signInWithGoogle()">Login with Google</button>
         <div *ngIf="user">
            <img  src='{{ user.photoUrl }}'>
            <div>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
            </div>
         </div> -->
         <p>An AI + Human powered platform to find the relevant consultants and shortlisting the best candidates </p>
      </div>
      <div class="btn_wrapper">
         <a (click)="clientModal.show();submittedF() ">SIGN UP AS COMPANY</a> <span>or</span> <a (click)="consultModal.show(); submittedF() ">SIGN UP AS RECRUITER</a>
      </div>
   </div>
</div>
<!-- Video Banner End -->
<!-- About Line -->
<section id="work_with_job">
   <div class="container">
      <div class="row">
         <h2>Work with 1000’s of job consultants without managing any of them</h2>
      </div>
   </div>
</section>
<!-- About Line End -->
<!-- Why People Infinia -->
<section id="why_employer">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="heading">
               <h4>WHY PEOPLE INFINIA?</h4>
               <p>Faster, Better, Relevant</p>
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="col-md-6 col-sm-6">
            <div class="feature">
               <div class="icon_space">
                  <span>1</span>
                  <img src="assets/img/feature/feature01.png">
               </div>
               <div class="feature_content">
                  <h3>Only the Specialist, Always</h3>
                  <p>We know how important it is for you to hire the best person for the job. With Our AI powered system, your job requirements are sent only to the recruiters who have proven track record of filling these positions. You get responses only from the qualified recruiters.</p>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-sm-6">
            <div class="feature">
               <div class="icon_space">
                  <span>2</span>
                  <img src="assets/img/feature/feature02.png">
               </div>
               <div class="feature_content">
                  <h3>Confidentiality</h3>
                  <p>Unlike other job portals and marketplaces, People Infinia does not publish your job requirement on its platform for everyone to see. This ensures you never get any unsolicited mail from job seekers and recruiters.</p>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="col-md-6 col-sm-6">
            <div class="feature">
               <div class="icon_space">
                  <span>3</span>
                  <img src="assets/img/feature/feature03.png">
               </div>
               <div class="feature_content">
                  <h3>Efficient 2 step screening to save time</h3>
                  <p>The first step screening ensures that your requirements are only received to the specialists who are pre-vetted by us. Even after receiving the resumes from the specialist recruiters who are pre-vetted, People Infinia does another level of candidate screening for you.</p>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-sm-6">
            <div class="feature">
               <div class="icon_space">
                  <span>4</span>
                  <img src="assets/img/feature/feature04.png">
               </div>
               <div class="feature_content">
                  <h3>You hire your teammate, we do the rest</h3>
                  <p>Everything from background check, paying to the consultants, interview scheduling, and other formalities will be taken care by us. </p>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="col-md-6 col-sm-6">
            <div class="feature">
               <div class="icon_space">
                  <span>5</span>
                  <img src="assets/img/feature/feature05.png">
               </div>
               <div class="feature_content">
                  <h3>Robust Review System</h3>
                  <p>People Infinia is a transparent platform that assigns grades to the consultants based on their performance. You can hire consultants based on their grades and can also review them based on your experience with them.  </p>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-sm-6">
            <div class="feature">
               <div class="icon_space">
                  <span>6</span>
                  <img src="assets/img/feature/feature06.png">
               </div>
               <div class="feature_content">
                  <h3>Company friendly policies</h3>
                  <p>With policies like 100% free replacement if the candidate does not join, we ensure you are never at loss.</p>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="col-md-6 col-sm-6">
            <div class="feature">
               <div class="icon_space">
                  <span>7</span>
                  <img src="assets/img/feature/feature07.png">
               </div>
               <div class="feature_content">
                  <h3>Cost effective for organizations of every size</h3>
                  <p>People Infinia offers customized pricing and services, designed to serve equally to big corporates as well as small businesses and startups. We have something to offer to every organization irrespective of their size. </p>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-sm-6">
            <div class="feature">
               <div class="icon_space">
                  <span>8</span>
                  <img src="assets/img/feature/feature08.png">
               </div>
               <div class="feature_content">
                  <h3>Hire across the globe</h3>
                  <p>People Infinia helps you hire in India, Dubai, UK, United States and Africa</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Why People Infinia End -->
<!-- Best Talent -->
<section id="best_talent">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="heading">
               <h4>Best Talent via Best Recruiters</h4>
               <p>From Job Description to Job Offer, know how we work</p>
            </div>
         </div>
         <div class="clearfix"></div>
         <div ng-app="myApp" ng-controller="myCtrl">
            <div id="status-buttons" class="text-center">
               <a (click)="formVal = 1" [ngClass]="{'activeCls':(formVal >= 1 && formVal <= 6)}"><span>1</span> <label>Post</label></a>
               <a (click)="formVal = 2" [ngClass]="{'activeCls':(formVal >= 2 && formVal <= 6)}"><span>2</span> <label>Match</label></a>
               <a (click)="formVal = 3" [ngClass]="{'activeCls':(formVal >= 3 && formVal <= 6)}"><span>3</span> <label>Find</label></a>
               <a (click)="formVal = 4" [ngClass]="{'activeCls':(formVal >= 4 && formVal <= 6)}"><span>4</span> <label>Screen</label></a>
               <a (click)="formVal = 5" [ngClass]="{'activeCls':(formVal >= 5 && formVal <= 6)}"><span>5</span> <label>Interview</label></a>
               <a (click)="formVal = 6" [ngClass]="{'activeCls':formVal == 6}"><span>6</span> <label>Joining</label></a>
            </div>
            <div [ngSwitch]="formVal">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div *ngSwitchCase="1">
                           <div class="process_content">
                              <div>
                                 <img src="assets/img/icon/process01.png">
                              </div>
                              <div>
                                 <h3>Post a Job requirement</h3>
                                 <ul>
                                    <li>The company’s HR will post the job requirement.</li>
                                    <li>Upload your JD on our platform </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div *ngSwitchCase="2">
                           <div class="process_content">
                              <div>
                                 <img src="assets/img/icon/process02.png">
                              </div>
                              <div>
                                 <h3>Get a match made by People Infinia</h3>
                                 <ul>
                                    <li>People Infinia matches you with the best recruiters based on your requirements.</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div *ngSwitchCase="3">
                           <div class="process_content">
                              <div>
                                 <img src="assets/img/icon/process03.png">
                              </div>
                              <div>
                                 <h3>Find the best candidates from the best consultants</h3>
                                 <ul>
                                    <li>These specialists Recruiters work on your requirements and send their best candidates.</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div *ngSwitchCase="4">
                           <div class="process_content">
                              <div>
                                 <img src="assets/img/icon/process04.png">
                              </div>
                              <div>
                                 <h3>Screening of the best resume for fool-proof success</h3>
                                 <ul>
                                    <li>People Infinia’s AI system does another round of screening from the received resumes.</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div *ngSwitchCase="5">
                           <div class="process_content">
                              <div>
                                 <img src="assets/img/icon/process05.png">
                              </div>
                              <div>
                                 <h3>Setup an Interview with shortlisted candidates</h3>
                                 <ul>
                                    <li>The interview scheduling and follow ups will be handled by People Infinia. You interview only the best candidates.</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div *ngSwitchCase="6">
                           <div class="process_content">
                              <div>
                                 <img src="assets/img/icon/process06.png">
                              </div>
                              <div>
                                 <h3>Selected candidate joins</h3>
                                 <ul>
                                    <li>You get your teammate while we take care of  background check and joining formalities.</li>
                                    <li>We also make payments to the recruiters, so that you do not have to bother about the billing</li>
                                    <li>Get a free replacement if the candidate leaves before 3 Months.</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
    
    
   <!--Client SignUp Popup End -->
 
   <!-- SignUp Popup End -->
</section>
<!-- Best Talent End -->
<div class="container">
        <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel" data-ride="carousel">
            <div class="heading text-center" style="padding:0;"><h4>Testimonials</h4></div>
            <!-- Indicators -->
           <!-- <ol class="carousel-indicators">
                <li data-target="#tcb-testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#tcb-testimonial-carousel" data-slide-to="1"></li>
                <li data-target="#tcb-testimonial-carousel" data-slide-to="2"></li>
                <li data-target="#tcb-testimonial-carousel" data-slide-to="3"></li>
            </ol>-->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-12">
                           <figure class="clearfix">
                               <div class="col-md-2 col-sm-2 col-xs-12"><img class="img-responsive media-object" src="assets/img/testimonial/pankaj-gupta.jpg" alt="pankaj-gupta"> </div>
                               <div class="col-md-10 col-sm-10 col-xs-12">
                                    <figcaption class="caption">
                                        <p> you are built as most robust site you have made hiring very simple and robustic,you are the most professional infrastructure  in HR vertical</p>
                                        <blockquote class="no-margin">
                                            <p>PANKAJ  Gupta</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> HR Professional</cite></small> </blockquote>
                                    </figcaption>
                               </div>
                           </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12">
                           <figure class="clearfix">
                               <div class="col-md-2 col-sm-2 col-xs-12"><img class="img-responsive media-object" src="assets/img/testimonial/sanjiv-govil.jpg" alt="Sanjiv Govil"> </div>
                               <div class="col-md-10 col-sm-10 col-xs-12">
                                    <figcaption class="caption">
                                        <p> "Very interesting and innovative idea" Team People infinia keep it up!</p>
                                        <blockquote class="no-margin">
                                            <p>Sanjiv Govil</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> Chief Operating Officer , Idea Cellular Limited</cite></small> </blockquote>
                                    </figcaption>
                               </div>
                           </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12">
                           <figure class="clearfix">
                               <div class="col-md-2 col-sm-2 col-xs-12"><img class="img-responsive media-object" src="assets/img/testimonial/tony-Ighalo.jpg" alt="tony-Ighalo"> </div>
                               <div class="col-md-10 col-sm-10 col-xs-12">
                                    <figcaption class="caption">
                                        <p> "We absolutely love People Infinia.It has made hiring so simplified.It used to take  hours to find relevant talent and now that responsibilty  People infinia has shared with us.You dont know how hard it was sometime to find relevant talent for specific positions but now we are tensionfree by best quality service of People Infinia"</p>
                                        <blockquote class="no-margin">
                                            <p>Tony Ighalo</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> HUMAN RESOURCES - INTERNATIONAL RECRUITMENT & ORGANISATIONAL DEVELOPMENT at GLOBACOM LIMITED</cite></small> </blockquote>
                                    </figcaption>
                               </div>
                           </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12">
                           <figure class="clearfix">
                               <div class="col-md-2 col-sm-2 col-xs-12"><img class="img-responsive media-object" src="assets/img/testimonial/ravi-gandhi.jpg" alt="ravi-gandhi"> </div>
                               <div class="col-md-10 col-sm-10 col-xs-12">
                                    <figcaption class="caption">
                                        <p> Awesome I call it “It is superfast and in term of features” “It is a head of everyone  it is also super easy”</p>
                                        <blockquote class="no-margin">
                                            <p>Ravi Gandhi</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> Chief Regulatory Officer, Bharti Airtel Limited</cite></small> </blockquote>
                                    </figcaption>
                               </div>
                           </figure>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#tcb-testimonial-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#tcb-testimonial-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div>
  <br />
    </div>
<div bsModal #consultModal="bs-modal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog signup_popup_inner_wrapper modal-lg">
         <!-- Modal content-->
         <div class="modal-content ">
            <div class="modal-body">
                <div class="close  cls-cstm" style="margin-top: 10px;margin-right: 10px;transform: scale(0.6);">
                        <a data-dismiss="modal" aria-hidden="true"><img (click)="consultModal.hide() ; submittedF()" src="assets/img/cancel.png" ></a>
                     </div>
               <div class="signup_box">
                  <div class="box_header">
                     <h3>SIGN UP FOR CONSULTANT</h3>
                  </div>
                  <div class="box_form">
                     <div class="contact_form">
            <form [formGroup]="signUpFormRecruiter" (ngSubmit)="onSubmitSignUpFormRecruiter()" loginSubmitted novalidate>
                  <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                             <label>Name</label>
                                   <img src="assets/img/icon/user.png">
                            <input name="username" aria-label="username" formControlName="username" placeholder="Username"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.username.hasError('required')" class="alert alert-danger">Username Required</div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.username.hasError('pattern')" class="alert alert-danger">Invalid Username</div>
                    </div>
                </div>
                 
                 <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Email</label>
                                  <img src="assets/img/icon/company.png">
                            <input name="email" aria-label="email" formControlName="email" placeholder="Email"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.email.hasError('required')" class="alert alert-danger">Email Required</div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.email.hasError('pattern')" class="alert alert-danger">Invalid Email</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Mobile</label>
                                <img src="assets/img/icon/call.png">
                            <input name="contactNo" aria-label="contactNo" formControlName="contactNo" placeholder="Contact No."
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.contactNo.hasError('required')" [hidden]="signUpFormRecruiter.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                      Contact Nuber Required
                      </div>
                       <div *ngIf="signUpFormRecruiter.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                         Invalid Contact Number
                       </div>
                       <div *ngIf="signUpFormRecruiter.controls.contactNo.hasError('minlength')" [hidden]="signUpFormRecruiter.controls.contactNo.hasError('pattern')" class="alert alert-danger ">
                         Contact Number must be Maximum of 7 numbers
                         </div>
                       <div *ngIf="signUpFormRecruiter.controls.contactNo.hasError('maxlength')" [hidden]="signUpFormRecruiter.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                         Contact Number must be Maximum of 15 numbers
                       </div>
                        </div>
                       </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Password</label>
                                  <img src="assets/img/icon/icons8-lock-80.png">
                            <input name="password" aria-label="password" formControlName="password" placeholder="password"
                                 type="password">
                        </div>
                            <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.password.hasError('minlength')" class="requried alert alert-danger">Minimun must be 8</div>
                            <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.password.hasError('maxlength')" class="requried alert alert-danger">Maximum must be 20</div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Confirm Password</label>
                              <img src="assets/img/icon/icons8-lock-80.png">
                            <input name="confirmPassword" aria-label="confirmpassword" formControlName="confirmPassword"
                                placeholder="Confirm Password"  type="password">
                           <!--  <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.password.hasError('required')" class="alert alert-danger"
                                [hidden]="signUpFormRecruiter.controls.password.value != signUpFormRecruiter.controls.confirmPassword.value">Confirm Password Require</div> -->
                            <div *ngIf="signUpFormRecruiter.controls.confirmPassword.touched && signUpFormRecruiter.controls.confirmPassword.value != signUpFormRecruiter.controls.password.value"
                                class="alert alert-danger">Password Do not Match</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                <button type="submit"  aria-label="submit" class="btn green-button">Sign-Up as Consultant</button>
                    <p class="note">NOT A COMPANY? <a  (click)="clientModal.show();consultModal.hide() ; submittedF()">SIGN UP AS COMPANY</a></p>
                </div>
         </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<div bsModal #clientModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog signup_popup_inner_wrapper  modal-lg">
         <!-- Modal content-->
         <div class="modal-content ">
            <div class="modal-body">
                <div class="close  cls-cstm" style="margin-top: 10px;margin-right: 10px;transform: scale(0.6);">
                        <a data-dismiss="modal" aria-hidden="true"><img (click)="clientModal.hide() ; submittedF()" src="assets/img/cancel.png" ></a>
                     </div>
               <div class="signup_box">
                  <div class="box_header">
                     <h3>SIGN UP FOR COMPANY</h3>
                  </div>
                  <div class="box_form">
                     <div class="contact_form">
                        <form [formGroup]="signUpFormCompany" (ngSubmit)="onSignUpAsCompany()" loginSubmitted novalidate>
                  <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Name</label>
                                   <img src="assets/img/icon/user.png">
                            <input name="username" aria-label="username" formControlName="username" placeholder="Username"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.username.hasError('required')" class="alert alert-danger">Username Required</div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.username.hasError('pattern')" class="alert alert-danger">Invalid Username</div>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Company</label>
                                  <img src="assets/img/icon/company.png">
                            <input name="companyName" aria-label="companyName" formControlName="companyName" placeholder="Company Name"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.companyName.hasError('required')" class="alert alert-danger">Company Name Required</div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.companyName.hasError('pattern')" class="alert alert-danger"> Invalid Company Name </div>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Email</label>
                                  <img src="assets/img/icon/company.png">
                            <input name="email" aria-label="email" formControlName="email" placeholder="Email"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.email.hasError('required')" class="alert alert-danger">Email Required</div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.email.hasError('pattern')" class="alert alert-danger">Invalid Email</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Mobile</label>
                                <img src="assets/img/icon/call.png">
                            <input name="contactNo" aria-label="contactNo" formControlName="contactNo" placeholder="Contact No."
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.contactNo.hasError('required')" [hidden]="signUpFormCompany.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                      Contact Nuber Required
                      </div>
                       <div *ngIf="signUpFormCompany.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                         Invalid Contact Number
                       </div>
                       <div *ngIf="signUpFormCompany.controls.contactNo.hasError('minlength')" [hidden]="signUpFormCompany.controls.contactNo.hasError('pattern')" class="alert alert-danger ">
                         Contact Number must be Maximum of 7 numbers
                         </div>
                       <div *ngIf="signUpFormCompany.controls.contactNo.hasError('maxlength')" [hidden]="signUpFormCompany.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                         Contact Number must be Maximum of 15 numbers
                       </div>
                        </div>
                       </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Password</label>
                                  <img src="assets/img/icon/icons8-lock-80.png">
                            <input name="password" aria-label="password" formControlName="password" placeholder="password"
                                 type="password">
                        </div>
                            <div *ngIf="signupSubmitted && signUpFormCompany.controls.password.hasError('minlength')" class="requried alert alert-danger">Minimun must be 8</div>
                            <div *ngIf="signupSubmitted && signUpFormCompany.controls.password.hasError('maxlength')" class="requried alert alert-danger">Maximum must be 20</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Confirm Password</label>
                              <img src="assets/img/icon/icons8-lock-80.png">
                            <input name="confirmPassword" aria-label="confirmpassword" formControlName="confirmPassword"
                                placeholder="Confirm Password"  type="password">
                            <div *ngIf="submitted && signUpFormCompany.controls.password.hasError('required')" class="alert alert-danger"
                                [hidden]="signUpFormCompany.controls.password.value != signUpFormCompany.controls.confirmPassword.value">Confirm Password Require</div>
                            <div *ngIf="signUpFormCompany.controls.confirmPassword.touched && signUpFormCompany.controls.confirmPassword.value != signUpFormCompany.controls.password.value"
                                class="alert alert-danger">Password Do not Match</div>
                        </div>
                    </div>
                    </div>
                            <div class="text-center">
                                <button type="submit"  aria-label="submit" class="btn green-button">Sign-Up as Company</button>
                            <p class="note">NOT A COMPANY? <a (click)="clientModal.hide();consultModal.show() ; submittedF()">SIGN UP AS CONSULTANT</a></p>
                            </div>
         </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>