<section class="padd-section">
   <div class="col-md-8">
      <div class="row">
         <!--recruiter-Profile-->
         <div class="recruiter-Profile">
            <div class="title">
               <p>My Profile(#RZY1248)</p>
            </div>
            <div class="profile-content">
               <div class="row">
                  <div class="col-md-1">
                     <img [src]="profilePicture" class="img-circle" width="100px" height="100px">
                  </div>
                  <div class="col-md-9">
                     <div class="user-info">
                        <h4>{{username}}</h4>
                        <h6>New Delhi, India</h6>
                        <p>Individual</p>
                     </div>
                  </div>
                  <div class="col-md-1">
                     <a (click)="editModal.show(); setForm()" class="edit-profile">
                        <i class="fas fa-pen"></i> Edit
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!--recruiter-info-->
         <div class="recruiter-info m-t-40">
            <div class="title">
               <p class="text-left">Contact Information</p>
            </div>
            <div class="profile-content">
               <div class="row">
                  <div class="col-md-6">
                     <div class="user-contact-info">
                        <p><b>Phone:</b> {{userMobile}}</p>
                        <p><b>Email:</b> {{userEmail}}</p>
                     </div>
                  </div>
                   
                   <div class="col-md-6">
                     <div class="user-contact-info">
                        <p><b>Pan:</b></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
          
           <!--recruiter-info-->
         <div class="recruiter-info m-t-40">
            <div class="title">
               <p class="text-left">Experience Information</p>
            </div>
            <div class="profile-content">
               <div class="row">
                  <div class="col-md-6">
                     <div class="user-contact-info">
                         <p><b>Experience:  </b> {{userExperience}}</p>
                        <p><b>What kind of Freelance Recruiter you are?:  </b>{{recruiterworkingtype}} </p>
                         <p><b>Upto which CTC they worked in past:  </b>{{ctcWorked}} </p>
                        <p><b>Packages you want to work on?  </b>{{ctcExpected}} </p>
                         <p><b>Do you have access to Naukri or Monster employer login?:  </b>{{otherAccountProfile}} </p>
                        <p><b>commission  </b>{{commissionUser}}% </p>
                     </div>
                     </div>
               </div>
            </div>
         </div>
       </div>
    </div>
</section>
<!--profile edit-->


