<body>
   <header>
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
               <!-- Logo Wrapper -->
               <div class="logo_wrapper">
                  <a href="/"><img src="assets/img/logo.png" alt="Employer Yari"></a>
               </div>
               <!-- Logo Wrapper End -->
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input id="mob-toggle" type="checkbox" style="visibility:hidden">
               <a class="menu_tgl"><label for="mob-toggle"><i class="fas fa-bars"></i></label></a>
               <!-- Navigation Wrapper -->
               <div class="navigation-wrapper">
                  <ul>
                     <li><a routerLink = "/main/home">HOME</a></li>
                     <li><a routerLink = "/main/login">LOGIN</a></li>
                     <li><a (click)="clientModal.show() ; submittedF()">RECRUITERS ZONE</a></li>
                     <li class="dropdown">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown">ABOUT US <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a routerLink = "/main/about">ABOUT US</a></li>
                           <li><a routerLink = "/main/contactus">Contact US</a></li>
                          <li><a routerLink = "/main/privacy-policy">Privacy Policy</a></li>
                           <li><a routerLink = "/main/terms">Terms &amp; Conditions</a></li>

                           <li><a routerLink = "/main/faq">FAQS</a></li>
                           <li><a href="http://blog.peopleinfinia.com/" target="_blank">BLOG</a></li>
                        </ul>
                     </li>
                     <li class="sign_up_btn"><a (click)="consultModal.show(); submittedF()" >SIGN UP FOR EARLY ACCESS</a></li>
                  </ul>
               </div>
               <!-- Navigation Wrapper End -->
            </div>
         </div>
      </div>
   </header>
   <router-outlet></router-outlet>

    
    
   <!-- Partners -->
   <section id="partners">
      <div class="container-fluid">
         <div class="row">
            <div class="heading less_padding">
               <h4>Our Clients</h4>
            </div>
            <div class="col-md-12">
        </div>
<div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
            
                <div class="carousel-inner">
                    <div class="item active">
                	    <div class="col-md-4">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/exicom-tele-systems.png"></p>
					        </div>
						</div>
                        <div class="col-md-4 col hidden-xs hidden-sm">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/polixelsecurity.png"></p>
					        </div>
						</div>
                        <div class="col-md-4 col hidden-xs hidden-sm">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/engineer.png"></p>
					        </div>
						</div>
                    </div>        
                    <div class="item">
                	    <div class="col-md-4 col hidden-xs hidden-sm">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/exicom-tele-systems.png"></p>
					        </div>
						</div>
                        <div class="col-md-4">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/polixelsecurity.png"></p>
					        </div>
						</div>
                        <div class="col-md-4 col hidden-xs hidden-sm">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/engineer.png"></p>
					        </div>
						</div>
                    </div> 
                    <div class="item">
                	    <div class="col-md-4 col hidden-xs hidden-sm">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/exicom-tele-systems.png"></p>
					        </div>
						</div>
                        <div class="col-md-4 col hidden-xs hidden-sm">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/polixelsecurity.png"></p>
					        </div>
						</div>
                        <div class="col-md-4">
        				    <div class="block-text rel zmin">
						        <p><img src="assets/img/engineer.png"></p>
					        </div>
						</div>
                    </div> 
                </div>
<!--
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
-->
            </div>
        </div>
    </div>
</div>
            </div>
         </div>
   </section>
   <!-- Partners End -->
   <!-- Footer -->
   <footer>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-sm-4">
               <!-- Footer Logo -->
               <div class="footer_logo">
                  <img src="assets/img/footer_logo.png">
               </div>
                <div class="custcare-no">
                  <ul>
                     <li><p>Customer Care No.</p></li>
                     <li><p><i class="fas fa-phone-square"></i> +91-8448533465</p></li>
                    </ul>
                </div>
               <!-- Footer Logo End -->
            </div>
            <div class="col-md-4 col-sm-4">
               <!-- Footer Navigation -->
               <div class="footer_nav">
                  <ul>
                     <li><a (click)="clientModal.show();">People Infinia for Companies</a></li>
                     <li><a routerLink = "/main/about">About Us</a></li>
                     <li><a (click)="consultModal.show()">People Infinia for Recruiters</a></li>
                     <li><a routerLink = "/main/faq">FAQS</a></li>
                  </ul>
               </div>
               <!-- Footer Navigation End -->
            </div>
            <div class="col-md-4 col-sm-4">
               <!-- Footer Social Navigation -->
               <div class="footer_social_nav">
                  <ul>
                     <li><a target="_blank" href="https://www.facebook.com/pg/Peopleinfinia-356687521570650/posts/ "><i class="fab fa-facebook-f"></i></a></li>
                     <li><a target="_blank" href="https://twitter.com/InfiniaPeople"><i class="fab fa-twitter"></i></a></li>
                     <li><a target="_blank" href="https://www.linkedin.com/company/people-infinia-marketplace-for-top-notch-resources/"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                  <p>Staffing Agency / Job Seeker Inquiry: <a href="tel:+91-11-45556271">+91-11-45556271</a></p>
                  <p>Contact Sales: 8am-8pm (ET)  TEL-<a href="tel:+91-9560394071">+91-9560394071 </a></p>
                  <p>Mail Us <i class="far fa-envelope"></i>:  <a href="support@peopleinfinia.com">support@peopleinfinia.com</a></p>
               </div>
               <!-- Footer Social Navigation End -->
            </div>
         </div>
      </div>
   </footer>
   <!-- Footer End -->
   <!--Client SignUp Popup End -->
   
   <!-- Client Popup End -->
   <!--delete after-->
   <!--Consultant SignUp Popup End -->
   <!-- SignUp Popup End --> 
   <!--Consultant SignUp Popup End -->
   
</body>
<div bsModal #consultModal="bs-modal" class="modal fade" tabindex="-1"  role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog signup_popup_inner_wrapper modal-lg">
         <!-- Modal content-->
         <div class="modal-content ">
            <div class="modal-body">
                <div class="close  cls-cstm" style="margin-top: 10px;margin-right: 10px;transform: scale(0.6);">
                        <a data-dismiss="modal" aria-hidden="true"><img (click)="consultModal.hide() ; submittedF()" src="assets/img/cancel.png" ></a>
                     </div>
               <div class="signup_box">
                  <div class="box_header">
                     <h3>SIGN UP FOR CONSULTANT</h3>
                  </div>
                  <div class="box_form">
                     <div class="contact_form">
            <form [formGroup]="signUpFormRecruiter" (ngSubmit)="onSubmitSignUpFormRecruiter()" loginSubmitted novalidate>
                  <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                             <label>Name</label>
                                   <img src="assets/img/icon/user.png">
                            <input name="username" aria-label="username" formControlName="username" placeholder="Username"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.username.hasError('required')" class="alert alert-danger">Username Required</div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.username.hasError('pattern')" class="alert alert-danger">Invalid Username</div>
                    </div>
                </div>
                 
                 <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Email</label>
                                  <img src="assets/img/icon/company.png">
                            <input name="email" aria-label="email" formControlName="email" placeholder="Email"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.email.hasError('required')" class="alert alert-danger">Email Required</div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.email.hasError('pattern')" class="alert alert-danger">Invalid Email</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Mobile</label>
                                <img src="assets/img/icon/call.png">
                            <input name="contactNo" aria-label="contactNo" formControlName="contactNo" placeholder="Contact No."
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.contactNo.hasError('required')" [hidden]="signUpFormRecruiter.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                      Contact Number Required
                      </div>
                       <div *ngIf="signUpFormRecruiter.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                         Invalid Contact Number
                       </div>
                       <div *ngIf="signUpFormRecruiter.controls.contactNo.hasError('minlength')" [hidden]="signUpFormRecruiter.controls.contactNo.hasError('pattern')" class="alert alert-danger ">
                         Contact Number must be Maximum of 7 numbers
                         </div>
                       <div *ngIf="signUpFormRecruiter.controls.contactNo.hasError('maxlength')" [hidden]="signUpFormRecruiter.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                         Contact Number must be Maximum of 15 numbers
                       </div>
                        </div>
                       </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Password</label>
                                  <img src="assets/img/icon/icons8-lock-80.png">
                            <input name="password" aria-label="password" formControlName="password" placeholder="password"
                                 type="password">
                        </div>
                            <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.password.hasError('minlength')" class="requried alert alert-danger">Minimun must be 8</div>
                            <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.password.hasError('maxlength')" class="requried alert alert-danger">Maximum must be 20</div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Confirm Password</label>
                              <img src="assets/img/icon/icons8-lock-80.png">
                            <input name="confirmPassword" aria-label="confirmpassword" formControlName="confirmPassword"
                                placeholder="Confirm Password"  type="password">
                            <div *ngIf="signupSubmitted1 && signUpFormRecruiter.controls.password.hasError('required')" class="alert alert-danger"
                                [hidden]="signUpFormRecruiter.controls.password.value != signUpFormRecruiter.controls.confirmPassword.value">Confirm Password Require</div>
                            <div *ngIf="signUpFormRecruiter.controls.confirmPassword.touched && signUpFormRecruiter.controls.confirmPassword.value != signUpFormRecruiter.controls.password.value"
                                class="alert alert-danger">Password Do not Match</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                <button type="submit"  aria-label="submit" class="btn green-button">Sign-Up as Consultant</button>
                    <p class="note">NOT A COMPANY? <a  (click)="clientModal.show();consultModal.hide() ; submittedF()">SIGN UP AS COMPANY</a></p>
                </div>
         </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<div bsModal #clientModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog signup_popup_inner_wrapper  modal-lg">
         <!-- Modal content-->
         <div class="modal-content ">
            <div class="modal-body">
                <div class="close  cls-cstm" style="margin-top: 10px;margin-right: 10px;transform: scale(0.6);">
                        <a data-dismiss="modal" aria-hidden="true"><img (click)="clientModal.hide() ; submittedF()" src="assets/img/cancel.png" ></a>
                     </div>
               <div class="signup_box">
                  <div class="box_header">
                     <h3>SIGN UP FOR COMPANY</h3>
                  </div>
                  <div class="box_form">
                     <div class="contact_form">
                        <form [formGroup]="signUpFormCompany" (ngSubmit)="onSignUpAsCompany()" loginSubmitted novalidate>
                  <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Name</label>
                                   <img src="assets/img/icon/user.png">
                            <input name="username" aria-label="username" formControlName="username" placeholder="Username"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.username.hasError('required')" class="alert alert-danger">Username Required</div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.username.hasError('pattern')" class="alert alert-danger">Invalid Username</div>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Company</label>
                                  <img src="assets/img/icon/company.png">
                            <input name="companyName" aria-label="companyName" formControlName="companyName" placeholder="Company Name"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.companyName.hasError('required')" class="alert alert-danger">Company Name Required</div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.companyName.hasError('pattern')" class="alert alert-danger"> Invalid Company Name </div>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Email</label>
                                  <img src="assets/img/icon/company.png">
                            <input name="email" aria-label="email" formControlName="email" placeholder="Email"
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.email.hasError('required')" class="alert alert-danger">Email Required</div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.email.hasError('pattern')" class="alert alert-danger">Invalid Email</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Mobile</label>
                                <img src="assets/img/icon/call.png">
                            <input name="contactNo" aria-label="contactNo" formControlName="contactNo" placeholder="Contact No."
                                 type="text">
                        </div>
                        <div *ngIf="signupSubmitted && signUpFormCompany.controls.contactNo.hasError('required')" [hidden]="signUpFormCompany.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                      Contact Nuber Required
                      </div>
                       <div *ngIf="signUpFormCompany.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                         Invalid Contact Number
                       </div>
                       <div *ngIf="signUpFormCompany.controls.contactNo.hasError('minlength')" [hidden]="signUpFormCompany.controls.contactNo.hasError('pattern')" class="alert alert-danger ">
                         Contact Number must be Maximum of 7 numbers
                         </div>
                       <div *ngIf="signUpFormCompany.controls.contactNo.hasError('maxlength')" [hidden]="signUpFormCompany.controls.contactNo.hasError('pattern')" class="alert alert-danger">
                         Contact Number must be Maximum of 15 numbers
                       </div>
                        </div>
                       </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Password</label>
                                  <img src="assets/img/icon/icons8-lock-80.png">
                            <input name="password" aria-label="password" formControlName="password" placeholder="password"
                                 type="password">
                        </div>
                            <div *ngIf="signupSubmitted && signUpFormCompany.controls.password.hasError('minlength')" class="requried alert alert-danger">Minimun must be 8</div>
                            <div *ngIf="signupSubmitted && signUpFormCompany.controls.password.hasError('maxlength')" class="requried alert alert-danger">Maximum must be 20</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 input-box">
                        <div class="form_field">
                            <label>Confirm Password</label>
                              <img src="assets/img/icon/icons8-lock-80.png">
                            <input name="confirmPassword" aria-label="confirmpassword" formControlName="confirmPassword"
                                placeholder="Confirm Password"  type="password">
                            <div *ngIf="submitted && signUpFormCompany.controls.password.hasError('required')" class="alert alert-danger"
                                [hidden]="signUpFormCompany.controls.password.value != signUpFormCompany.controls.confirmPassword.value">Confirm Password Require</div>
                            <div *ngIf="signUpFormCompany.controls.confirmPassword.touched && signUpFormCompany.controls.confirmPassword.value != signUpFormCompany.controls.password.value"
                                class="alert alert-danger">Password Do not Match</div>
                        </div>
                    </div>
                    </div>
                            <div class="text-center">
                                <button type="submit"  aria-label="submit" class="btn green-button">Sign-Up as Company</button>
                            <p class="note">NOT A COMPANY? <a (click)="clientModal.hide();consultModal.show() ; submittedF()">SIGN UP AS CONSULTANT</a></p>
                            </div>
         </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>