@import url('../../assets/css/externalStyle.css');
    
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
} 

.our-client{
    display: block;
    text-align: center;
}
.our-client li{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 40px;
}

/*custom_r*/
/* The Modal (background) */
.modal-custom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content-body {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.modal-action{
  display:block;
}
.logo_wrapper img{
    max-width: 315px;
}
.custcare-no ul{
   padding: 0;
    margin: 0;
}
.custcare-no ul li p{
    color: #fff;
    font-size: 14px !important;
    display: block;
    margin: 10px 0;
    font-weight: 600;
    letter-spacing: 1.5px;
}
@media (max-width: 768px){
    .logo_wrapper img{
    max-width: 200px;
}
}


.contct-us h3{
    font-size: 18px !important;
    letter-spacing: 0.6px;
    color: #4b4b4b;
    font-weight: 600;
    margin: 0;
    padding: 0;

}

input:checked ~ .navigation-wrapper{
    display: block;
}